<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Product meta ================================================== -->
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% if settings.ajax_cart_enable %}
  <!-- Ajaxify Cart Plugin ================================================== -->
  {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <!-- CSS ================================================== -->
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% if settings.header_gap_enable %}
    <div class="header-gap"></div>
  {% endif %}

  <div class="wrapper site-wrapper">

    <header class="site-header" role="banner">
      <div class="grid--full">

        {% if settings.logo_position == 'center' %}
          <div class="grid-item large--one-third small--hide"></div>
        {% endif %}

        <div class="grid-item text-center {% if settings.logo_position == 'center' %}large--one-third{% else %}large--one-half large--text-left{% endif %}">
          {% if template == 'index' %}
            <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
          {% else %}
            <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
            {% if settings.logo_use_image %}
              <a href="/" itemprop="url">
                <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
              </a>
            {% else %}
              <a href="/" itemprop="url">{{ shop.name }}</a>
            {% endif %}
          {% if template == 'index' %}
            </h1>
          {% else %}
            </div>
          {% endif %}
        </div>

        <div class="grid-item text-center large--text-right {% if settings.logo_position == 'center' %}large--one-third{% else %}large--one-half{% endif %}">
          <a href="/cart" id="cartToggle" class="site-header__module header-cart">
            <span class="icon icon-cart btn-secondary" aria-hidden="true"></span>
            <div class="header-cart--text">
              <span class="header-cart--label">{{ 'layout.cart.title_in_header' | t }}</span>
              <span class="header-cart--count">
                <span class="cart-count">{{ cart.item_count }}</span>
                {{ 'layout.cart.items_count' | t: count: cart.item_count }}
              </span>
            </div>
          </a>
          {% if settings.header_search_enable %}
            <div class="site-header__module search-bar__header">
              <form action="/search" method="get" class="input-group search-bar" role="search">
                {% comment %}
                  Uncomment the following hidden input to only show products in your search results
                {% endcomment %}
                {% comment %}<input type="hidden" name="type" value="product">{% endcomment %}
                <input type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="input-group-field" aria-label="{{ 'general.search.placeholder' | t }}">
                <span class="input-group-btn">
                  <button class="btn-secondary icon-fallback-text" type="submit">
                    <span class="icon icon-search" aria-hidden="true"></span>
                    <span class="fallback-text">{{ 'general.search.submit' | t }}</span>
                  </button>
                </span>
              </form>
            </div>

          {% endif %}
        </div>
      </div>
    </header>

    <nav class="nav-bar" id="stickyNav" role="navigation">
      <div class="grid--full">
        <div class="grid-item{% if shop.customer_accounts_enabled %} large--five-eighths{% else %} text-center{% endif %}">
          {% include 'site-nav' %}
        </div>
        {% if shop.customer_accounts_enabled %}
          <div class="grid-item large--three-eighths large--text-right">
            <ul class="site-nav">
              {% if settings.nav_sticky %}
                <li class="sticky-only">
                  <a href="/cart">{{ 'layout.cart.title' | t }} (<span class="cart-count">{{ cart.item_count }}</span>)</a>
                </li>
              {% endif %}
              {% if shop.customer_accounts_enabled %}
                {% if customer %}
                  <li class="logged-in sticky-hide">
                    {% if customer.first_name != blank %}
                      {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                      {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                    {% else %}
                      <a href="/account">{{ 'layout.customer.account' | t }}</a>
                    {% endif %}
                  </li>
                  <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
                {% else %}
                  {% if shop.customer_accounts_optional %}
                  <li class="sticky-hide">{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
                  {% endif %}
                  <li class="sticky-hide">{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
                {% endif %}
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </nav>

    <main class="main-content" role="main">
      {% unless template == 'index' %}
        <hr class="hr--header">
      {% endunless %}
      {{ content_for_layout }}
    </main>

    <hr>

    {% include 'footer' %}

  </div>

  {% include 'mini-footer' %}

  {{ 'shop.js' | asset_url | script_tag }}

  {% comment %}
    Ajaxify Cart Documentation:
      - https://shopify.github.io/Timber/#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_enable %}
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajaxify.js' | asset_url | script_tag }}
  <script>
  jQuery(function($) {
    ajaxifyShopify.init({
      method: '{{ settings.ajax_cart_method }}',
      wrapperClass: 'wrapper',
      formSelector: '#addToCartForm',
      addToCartSelector: '#addToCart',
      cartCountSelector: '.cart-count',
      toggleCartButton: '#cartToggle',
      btnClass: 'btn',
      moneyFormat: {{ shop.money_format | json }},
      onToggleCallback: timber.cartToggleCallback
    });
  });
  </script>
  {% endif %}

</body>
</html>
