@model LineItemModel
@{
	var itemUrl = Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem);
}
<tr id="@String.Format("row-{0}", Model.LineItem.LineItemId)">
    <td>
        @Html.HiddenFor(x => x.LineItemId)
        <a href="@itemUrl" title="@Model.DisplayName" class="product-image">
            <img src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" width="75" height="75" alt="@Model.DisplayName" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" /></a>
    </td>
    <td>
        <h2 class="product-name">
            <a href="@itemUrl">@Model.DisplayName</a>
        </h2>
        @if (Model.LineItem.Options != null && Model.LineItem.Options.Count > 0)
        { 
        <dl class="item-options">
            @foreach (var option in Model.LineItem.Options)
            { 
            <dt>@option.OptionName</dt>
            <dd>
                @option.OptionValue
            </dd>
            }
        </dl>
        }
        @if (Model.LineItem.Discounts != null && Model.LineItem.Discounts.Count > 0)
        {
        <dl class="item-options">
            <dt>@("Discounts:".LocalizeHtml())</dt>
            @foreach (var discount in Model.LineItem.Discounts)
            { 
            <dd>@discount.DisplayMessage</dd>
            }
        </dl>
        }
    </td>
	<td class="a-center">
		@if (!Model.IsPromotion)
		{
			@Html.ActionLink("Edit".Localize(), "Configure", new {lineItemId = Model.LineItemId}, new {title = "Edit item parameters".Localize()})
		}
	</td>
    <td class="a-right">
        <span class="cart-price"><span class="price">@Model.FormattedPlacedPrice</span>
        </span>
    </td>
	<td class="a-center">
		@if (!Model.IsPromotion)
		{
			@Html.TextBoxFor(x => x.Quantity, new {@class = "input-text qty", maxlength = "12", size = "4"})
		}
		else
		{
			@Html.TextBoxFor(x => x.Quantity, new {@class = "input-text qty", maxlength = "12", size = "4", disabled="disabled"})
			@Html.HiddenFor(x=>x.Quantity)
		}
	</td>
    <td class="a-right">
        <span class="cart-price"><span class="price">@Model.FormattedExtendedPrice</span>
        </span>
    </td>
	<td class="a-center">
		@if (!Model.IsPromotion)
		{
			@Ajax.ActionLink("Remove item".Localize(), "Remove", new {lineItemId = Model.LineItemId}, 
		   new AjaxOptions 
		   {
			   HttpMethod = "POST", 
			   Confirm = "Are you sure you would like to remove this item from the shopping cart?".Localize(),
			   OnSuccess = "VirtoCart.onUpdate"
		   }, new {@class = "btn-remove btn-remove2"})
		}
	</td>
</tr>
