@model LineItemModel
<li class="item 
	@String.Format("{0}",ViewBag.Index == ViewBag.Total-1 ? "last" : "") 
	@String.Format("{0}",ViewBag.Index % 2 == 0 ? "odd" : "even")" 
    id="@String.Format("row-{0}", Model.LineItemId)">
	<a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem)" title="@Model.DisplayName" class="product-image">
		      <img src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" width="50" height="50" alt="@Model.DisplayName" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" /></a>
	<div class="product-details">
		@if (!Model.IsPromotion)
		{
			@Ajax.ActionLink("Remove this item".Localize(), "Remove",
			                 new {lineItemId = Model.LineItemId, sourceView = "MiniCart"},
			                 new AjaxOptions
				                 {
					                 HttpMethod = "POST",
					                 Confirm = "Are you sure you would like to remove this item from the shopping cart?".Localize(),
					                 OnSuccess = "VirtoCart.onUpdate"
				                 }, new {@class = "btn-remove"})

			@Html.ActionLink("Edit".Localize(), "Configure",
			                 new {lineItemId = Model.LineItemId},
			                 new {title = "Edit item".Localize(), @class = "btn-edit"})
		}

		<p class="product-name">
			<a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem)">@Model.DisplayName</a></p>
		<strong>@Model.Quantity</strong> x <span class="price">@Model.FormattedPlacedPrice</span>
	</div>
</li>
