@model VirtoCommerce.Web.Models.ShippingEstimateModel

<script type="text/javascript">

    $(document).ready(function () {
        var id = '@ViewData.TemplateInfo.GetFullHtmlFieldId(String.Empty)';
        var c = new VirtoAddress(id);

        $('#Address_StateProvinceId option:selected').each(function(){
            this.selected=false;
        });
        $('#Address_StateProvinceId option[value="@Model.Address.StateProvince"]').attr("selected", "selected");
    });
    var v_regions = @Html.JsonSerialize(Model.ScriptCountryRegions)
</script>

<span class="title">@("Estimate Shipping and Tax".Localize())</span>
<p>@("Enter your destination to get a shipping estimate.".Localize())</p>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="control-group">
            @Html.LabelForEx(m => m.Address.CountryCode)
            @Html.DropDownListFor(m => m.Address.CountryCode, new SelectList(Model.Countries, "CountryId", "DisplayName"))
            @Html.ValidationMessageFor(m => m.Address.CountryCode)
        </div>
        <div class="control-group">
            @Html.LabelForEx(m => m.Address.StateProvince)
            <select id="region_id" name="region_id" title="@("State/Province".Localize())" style="display: none;">
                <option value="">@("Please select region, state or province".Localize())</option>
            </select>
            @Html.DropDownList("StateProvinceId", new SelectList(new string[] { "select state/province".Localize() }))
            @Html.TextBoxFor(m => m.Address.StateProvince, new { @class = "input-text", style = "display:none" })
        </div>
        <div class="control-group">
            @Html.LabelForEx(m => m.Address.PostalCode)

            @Html.TextBoxFor(m => m.Address.PostalCode)

        </div>
        <div class="button-group">
            <button type="button" title="@("Get a Quote".Localize())" onclick="VirtoCart.submitEstimateShipping($(this).closest('form'));">
                <span>@("Get a Quote".Localize())</span>
            </button>
        </div>
    </fieldset>
}
