@model PaymentModel

<script>
    $(function ()
    {
        // Card info
        $('.checkout .card-info').click(function ()
        {
            $('body').prepend('<div class="fade-block"></div>');
            $('.fade-block').after('<div class="cvv popup"><a class="close">&times;</a><img src="@Url.Content("~/Content/themes/default/images/cvv.gif")" alt="" /></div>');
        });
        window.Other.closestObject('.cvv.popup, .card-info', '.fade-block, .cvv.popup', '', 'remove');
    });
</script>

<div class="control-group">
    @Html.LabelForEx(m => m.CustomerName)
    @Html.TextBoxFor(m => m.CustomerName, new { @class = "input-text" })
</div>
<div class="control-group">
    @Html.LabelForEx(m => m.CardType)
    @Html.DropDownListFor(m => m.CardType, new SelectList(Model.CardTypes, "Value", "Name"))
</div>
<div class="control-group">
    @Html.LabelForEx(m => m.CardNumber)
    @Html.TextBoxFor(m => m.CardNumber, new { @class = "input-text" })
</div>
<div class="control-group">
    @Html.LabelForEx(m => m.ExpirationMonth)
</div>
<div class="control-group">
    <div class="column">
        @Html.DropDownListFor(m => m.ExpirationMonth, new SelectList(Model.Months, "Value", "Name"), new { @class = "normal" })
    </div>
    <div class="column">
        @Html.DropDownListFor(m => m.ExpirationYear, new SelectList(Model.Years, "Value", "Name"), new { @class = "normal" })
    </div>
</div>
<div class="control-group">
    <label for="">
        @("Card Verification Number".Localize()) <sup class="required">*</sup>
        <a class="card-info">@("What is this?".Localize())</a>
    </label>
    @Html.PasswordFor(m => m.CardVerificationNumber)
</div>

