@model LineItemModel
<tr>
    <td>
        <span class="mobile-view">@("Product".Localize())</span>
        <span>@Model.DisplayName</span>
    </td>
    <td>
        <span class="mobile-view">@("Qty".Localize())</span>
        <span>@Model.Quantity</span>
    </td>
    <td>
        <span class="mobile-view">@("Subtotal".Localize())</span>
        <span>@Model.FormattedPlacedPrice</span>
    </td>
</tr>
