@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using VirtoCommerce.Web.Virto.Helpers
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@{
    SiteMapNodeModelList moreNodes = null;
    int showCount = 3;
    if (Model.Nodes.Count > showCount)
    {
        moreNodes = new SiteMapNodeModelList();
        var nodes = Model.Nodes.AsQueryable().Skip(showCount).Take(Model.Nodes.Count - showCount).ToArray();
        moreNodes.AddRange(nodes);
    }
}

<ul class="menu" role="navigation">
    @foreach (var node in Model.Nodes)
    {
        string template = node.Attributes.ContainsKey("Template") ? node.Attributes["Template"].ToString() : "SiteMapNodeModelList";
        <li class="@(node.IsCurrentNode?"active":"")">
            @Html.DisplayFor(m => node, "TopMenuNodeModel")
            @if (node.Children.Any())
            {
                <div class="sub-menu">
                    @Html.DisplayFor(m => node.Children, template, new { level = 0, last = false })
                </div>
                <div class="fade"></div>
            }
        </li>
    }
    @if (moreNodes != null)
    {
        <li class="more">
            <a><span>@("More".Localize())</span></a>
            <div class="sub-menu">
                @Html.DisplayFor(m => moreNodes, "SiteMapNodeModelList", new { level = 0, last = true })
            </div>
            <div class="fade"></div>
        </li>
    }
    <li class="divider"></li>
    <li class="cart">
        <a href="@Url.Action("Index","Cart")" title="@("My Cart".Localize())" class="top-link-cart">@("My Cart".Localize())</a>
    </li>
    <li class="wishlist">
        <a href="@Url.Action("WishList", "Account")" title="@("My Wishlist".Localize())">@("My Wishlist".Localize())</a>
    </li>    
    <li class="login">
        @if (UserHelper.CustomerSession.IsRegistered)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm2" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm2').submit()">@("Log off".Localize())</a>
            }
        }
        else
        {
            @Html.ActionLink("Log In".Localize(), "LogOn", "Account")
        }
    </li>
</ul>
