@model PriceModel

<div class="price">
    @{
        var association = ViewBag.Association as AssociatedCatalogItemWithPriceModel;
        if (association != null)
        {

        <input type="checkbox" id="related-checkbox-@association.CatalogItem.ItemId"
                    name="related_products[]" value="@association.CatalogItem.ItemId" @(association.IsRequired ? "checked=checked disabled" : string.Empty) />
        }

    }
    @if (Model.Type == PriceType.Sale)
    {

        <p>
            <span class="original">@Model.SalePriceFormatted</span>
            <span class="old">@Model.ListPriceFormatted</span>

        </p>
    }
    else if (Model.Type == PriceType.Regular)
    {

        <p>
            <span class="original">@if(!string.IsNullOrEmpty(Model.PriceTitle)){<span class="price-label">@Model.PriceTitle&nbsp;</span>}@Model.ListPriceFormatted</span>
        </p>
    }
</div>
