@using VirtoCommerce.Web.Virto.Helpers
<script type="text/x-jquery-tmpl" id="reviewTemplate">
    <div class="review">
        <p class="helpful">
            (<span id="positive_review_${Id}">${PositiveFeedbackCount}</span> @("of".Localize()) <span id="total_feedback_review_${Id}">${PositiveFeedbackCount + NegativeFeedbackCount}</span> @("customers found this review helpful".Localize()))
        </p>
        <div class="rating-block">
            <div class="rating">
            </div>
            <div class="count">
                <span class="num">${parseInt(Rating).toFixed(1)}</span>
                ${RatingComment}									
            </div>
        </div>
        <div class="author">
            <p class="title">@("Review by".Localize()) <span>${Reviewer.NickName}</span> {{if IsVerifiedBuyer}}<span class="verified">@("Verified Buyer".Localize())</span>{{/if}}</p>
            <span class="date">${GetShortDateAndTime(CreatedDateTime)}</span>
        </div>
        <div class="description">
            <p>${ReviewText.Text}</p>
        </div>
        <div class="vote">
            <p>@("Was this review helpful?".Localize())</p>
            <ul>
                <li><a onclick="Reviews.vote('${Id}', true); return false;" href="#">@("Yes".Localize())</a></li>
                <li class="divider">/</li>
                <li><a onclick="Reviews.vote('${Id}', false); return false;" href="#">@("No".Localize())</a></li>
            </ul>
        </div>
        <div id="review_feedback_${Id}" class="review-title"></div>
        <div class="feedback">
            <ul>
                <li class="comment"><a href="#" onclick="$('#comment_for_${Id}').show(); $('#report_abuse_for_${Id}').hide(); return false;">@("write a comment".Localize())</a></li>
                <li class="divider">|</li>
                <li class="abuse"><a href="#" onclick="$('#comment_for_${Id}').hide(); $('#report_abuse_for_${Id}').show(); return false;">@("report abuse".Localize())</a></li>
            </ul>
            <div class="feedback-comment" id="comment_for_${Id}">
                <header>
                    <h3>@("Your comment".Localize()):</h3>
                </header>
                @using (Html.BeginForm("comment", "api/review", FormMethod.Post, new { id = "comment_${Id}" }))
                {
                    <div class="control-group">
                        <label for="AuthorName">@("Author".Localize()): <sup class="required">*</sup></label>
                        @Html.TextBox("AuthorName", UserHelper.CustomerSession.CustomerName)
                        <span data-valmsg-replace="true" data-valmsg-for="AuthorName" class="field-validation-valid"></span>
                    </div>
                    <div class="control-group">
                        <label for="AuthorLocation">@("Location".Localize()):</label>
                        @Html.TextBox("AuthorLocation")
                    </div>
                    <div class="control-group">
                        <label for="Comment">@("Comment".Localize()): <sup class="required">*</sup></label>
                        <textarea rows="10" cols="30" name="Comment"></textarea>
                        <span data-valmsg-replace="true" data-valmsg-for="Comment" class="field-validation-valid"></span>
                    </div>
                    <input type="hidden" value="${Id}" name="Id" />
                    <div class="button-group">
                        <button type="button" value="Submit" onclick="Reviews.comment('${Id}');">
                            <span>@("Submit".Localize())</span>
                        </button>
                        <button type="button" value="Cancel" onclick="$('#comment_for_${Id}').hide(); return false;" class="btn cancel">
                            <span>@("Cancel".Localize())</span>
                        </button>
                    </div>
                }
            </div>
            <div class="feedback-abuse" id="report_abuse_for_${Id}">
                <header>
                    <h3>@("Please let us know what kind of issue this is".Localize()):</h3>
                </header>
                @using (Html.BeginForm("reportabuse", "api/review", FormMethod.Post, new { id = "abuse_${Id}" }))
                {
                    <ul class="form-list">
                        <li>
                            <label>
                                <input type="radio" value="profane" name="Reason">
                                @("Profanity".Localize())
                            </label>
                        </li>
                        <li>
                            <label for="">
                                <input type="radio" value="wrong_product" name="Reason">
                                @("Wrong product".Localize())
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" value="spam" name="Reason">
                                @("Spam".Localize())
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" value="duplicate" name="Reason">
                                @("Duplicate".Localize())
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" value="copyright" name="Reason">
                                @("Copyright violation".Localize())
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" value="not_review" name="Reason">
                                @("Not a product review".Localize())
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="radio" value="image_issue" name="Reason">
                                @("Problem with image".Localize())

                            </label>
                        </li>
                        <li>
                            <label for="">
                                <input type="radio" value="other" name="Reason">
                                @("Other".Localize())

                            </label>
                        </li>
                        <li>
                            <span data-valmsg-replace="true" data-valmsg-for="Reason" class="field-validation-valid"></span>
                        </li>
                    </ul>
                    <div class="control-group">
                        <label for="">@("Email Address".Localize()): <sup class="required">*</sup></label>
                        <input type="text" maxlength="80" name="Email">
                        <span data-valmsg-replace="true" data-valmsg-for="Email" class="field-validation-valid"></span>
                    </div>
                    <div class="control-group">
                        <label for="">@("Comments".Localize()): <sup class="required">*</sup></label>
                        <textarea rows="10" cols="30" name="Comment"></textarea>
                    </div>
                    <input type="hidden" value="${Id}" name="Id" />
                    <input type="hidden" value="True" name="IsReview" />
                    <div class="button-group">
                        <button type="button" value="Submit" onclick="Reviews.flag('${Id}');">
                            <span>@("Submit".Localize())</span>
                        </button>
                        <button type="button" value="Cancel" onclick="$('#report_abuse_for_${Id}').hide(); return false;" class="btn cancel">
                            <span>@("Cancel".Localize())</span>
                        </button>
                    </div>
                }
            </div>
        </div>

        {{if TotalComments > 0}}
        <div id="show_all_comment_for_${Id}">
            <p class="title">@("There are".Localize()) ${TotalComments} @("comments in total".Localize())</p>
            {{if Comments.length < TotalComments }}
        <a href="#" onclick="Reviews.showAllComments('${Id}'); return false;">@("Show all".Localize())</a>
            {{/if}}
        </div>
        {{/if}}
    {{if Comments}}
        <div id="comments_container_${Id}">
            {{tmpl(Comments) "#commentTemplate"}}
        </div>
        {{/if}}
    <div class="spacer"></div>
    </div>
</script>