@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models


@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <span>@Model.Title</span>
}
else if (Model.IsClickable)
{
    if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <!--<img src="@Url.Content(Model.ImageUrl)" alt="">-->
    }
    <a href="@Model.Url">@Model.Title</a>
}
else
{
    <b>@Model.Title</b>
}
