@model SiteMapNodeModel

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")  { 
    <span>@Model.Title.Localize()</span>
}
else if (Model.IsClickable)
{
    if (!string.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Url.Content(Model.ImageUrl)" alt="">
    }
    <a href="@Model.Url">@Model.Title.Localize()</a>
}
else
{
    <b>@Model.Title.Localize()</b>
}
