<div class="buttons">
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account">{{ 'Orders' }}</a>
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account/quotes">{{ 'Quotes' }}</a>
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account/addresses">{{ 'Addresses' }}</a>
</div>