
@using VirtoCommerce.ApiWebClient.Extensions.Routing
@model SearchResult
    
@{
    var tempValues = new RouteValueDictionary();
    foreach (var key in Request.QueryString.Keys.Cast<string>().Where(key => !tempValues.ContainsKey(key)))
    {
        tempValues.Add(key, Request.QueryString[key]);
    }
}

<aside class="block">
    <span class="title">@("Shop By".Localize())</span>
    <dl>
        @foreach (var group in Model.Facets)
        {
            <dt>@(group.Label ?? group.Field.Localize())</dt>
            <dd>
                @if (group.Field.Equals("Color", StringComparison.InvariantCultureIgnoreCase))
                {
                    <ol>
                        @foreach (var facet in group.Values)
                        {
                            <li class="color">
                                <label class="@facet.Label" for="@facet.Value">
                                    <input type="checkbox" @String.Format("{0}", facet.IsApplied ? "checked" : "") onchange="this.checked ? $.open('@Url.SetFacet(group.Field, facet.Value)') : $.open('@Url.RemoveFacet(group.Field, facet.Value.ToString())')" name="@facet.Value" id="@facet.Value">
                                    <span style="background: @facet.Label;" title="@facet.Label (@facet.Count)"></span>
                                </label>
                            </li>
                        }

                    </ol>
                }
                else if (group.FacetType.Equals("category", StringComparison.InvariantCultureIgnoreCase))
                {
                    <ol>
                        @foreach (var facet in group.Values)
                        {
                            tempValues[Constants.Category] = facet.Value;
                            <li>
                                <a href="@Url.RouteUrl("Category", tempValues)">@facet.Label</a>
                                <span>(@facet.Count)</span>
                            </li>
                        }
                    </ol>
                }                
                else
                {
                    <ol>
                        @foreach (var facet in group.Values)
                        {
                            <li class="checkbox">
                                <label for="@facet.Value">
                                    
                                    <input type="checkbox" @String.Format("{0}", facet.IsApplied ? "checked" : "") onchange="this.checked ? $.open('@Url.SetFacet(group.Field, facet.Value)') : $.open('@Url.RemoveFacet(group.Field, facet.Value)')" name="@facet.Label" id="@facet.Value">
                                    <span class="switch"></span>
                                    <span class="name">@facet.Label</span>
                                    <span class="count">(@facet.Count)</span>
                                </label>
                            </li>
                        }
                    </ol>
                }
            </dd>
        }
    </dl>
</aside>
