@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Oops!".Localize();
}

<div class="empty normal">
    <h2>@("We are updating this site".Localize())</h2>
    <p>
        @("We're sorry, we are updating our application. Please refresh the page in a few minutes.".Localize())
    </p>
    <p>
        @("Go to".Localize()) <a href="@Href("~/")">@("Home Page".Localize())</a>
    </p>
</div>
