@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "OopsView";
}

<div class="empty normal">
    <h2>@("Looking for something?".Localize())</h2>
    <p>
        @("We're sorry. The web address you entered is not a functioning page on our site.".Localize())
    </p>
    <p>
        @("Go to".Localize()) <a href="@Href("~/")">@("Home Page".Localize())</a>
    </p>
</div>
