@using VirtoCommerce.Web.Virto.Helpers
@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Search error".Localize();
}

@section HeadTop
{
    
<div class="rubber clearfix">
    <div>
        <div class="head-switch">
            <span>
                @("Store".Localize()):
                <span class="current">
                    @{
                        Html.RenderPartial("StoreParams");
                    }
                </span>
            </span>
            <ul>
                <li>
                    <div class="language">
                        @{Html.RenderPartial("Languages");}
                    </div>
                </li>
                <li>
                    <div class="store">
                        @{Html.RenderAction("StorePicker", "Store", true);}
                    </div>
                </li>
                <li>
                    <div class="currency">
                        @{Html.RenderAction("Currencies", "Store", true);}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="head-links"></ul>
        @* @{Html.RenderAction("QuickAccess", "Store", true);}*@
    </div>
</div>

}
<div class="empty normal">
    <h2>@("Search is not working".Localize())</h2>
    <p>
        @(" We're sorry. The search is not working now.".Localize())
    </p>
    <p>
        @("Go to".Localize()) <a href="@Href("~/")">@("Home Page".Localize())</a>.
    </p>
</div>
