@model HandleErrorInfo
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Search error".Localize();
}

<div class="empty normal">
    <h2>@("Search is not working".Localize())</h2>
    <p>
        @(" We're sorry. The search is not working now.".Localize())
    </p>
    <p>
        @("Go to".Localize()) <a href="@Href("~/")">@("Home Page".Localize())</a>.
    </p>
</div>
