{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

{% include 'breadcrumb' %}

<div class="grid">
  <article class="grid-item large--two-thirds push--large--one-sixth" itemscope itemtype="http://schema.org/Article">

    <h1 class="h2">{{ article.title }}</h1>
    <p class="blog-meta">
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        {{ article.published_at | date: format: 'month_day_year' }}
      </time>
      {% if article.tags.size > 0 %}
        {% for tag in article.tags %}
          <span class="meta-spacer">&#8226;</span> <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </p>

    <div class="rte" itemprop="articleBody">
      {{ article.content }}
    </div>

    {% if settings.social_sharing_blog %}
      <hr>
      <h5>{{ 'blogs.article.share_post' | t }}</h5>
      {% include 'social-sharing' %}
    {% endif %}

    {% if blog.comments_enabled? %}
      <hr>

      {% paginate article.comments by 5 %}
        <div id="comments">

          {% if comment and comment.created_at %}
          <p class="note form-success">
            {% if blog.moderated? %}
              {{ 'blogs.comments.success_moderated' | t }}
            {% else %}
              {{ 'blogs.comments.success' | t }}
            {% endif %}
          </p>
          {% endif %}

          {% if number_of_comments > 0 %}
            <ul>
              {% if comment and comment.created_at %}
              <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">

                {% include 'comment' %}

              </li>
              {% endif %}
              {% for comment in article.comments %}
              <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">

                {% include 'comment' %}

              </li>
              {% endfor %}

            </ul>

            {% if paginate.pages > 1 %}
            <hr>
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
            {% endif %}

            <hr>

          {% endif %}
          {% form 'new_comment', article %}
            <h3 id="add-comment-title">{{ 'blogs.comments.title' | t }}</h3>

            {{ form.errors | default_errors }}

            <div class="grid">

              <div class="grid-item large--one-half">
                <label for="comment-author" class="hidden-label">{{ 'blogs.comments.name' | t }}</label>
                <input {% if form.errors contains "author" %} class="error"{% endif %} type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="comment-author" value="{{ form.author }}" autocapitalize="words">

                <label for="comment-email" class="hidden-label">{{ 'blogs.comments.email' | t }}</label>
                <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
              </div>

              <div class="grid-item">
                <label for="comment-body" class="hidden-label">{{ 'blogs.comments.message' | t }}</label>
                <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
              </div>

            </div>

            {% if blog.moderated? %}
              <p>{{ 'blogs.comments.moderated' | t }}</p>
            {% endif %}

            <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">

            {% if form.errors %}
              <script>
                window.location.hash = '#add-comment-title';
              </script>
            {% endif %}

            {% if form.posted_successfully? %}
              <script>
                window.location.hash = '#comments';
              </script>
            {% endif %}

          {% endform %}

        </div>
      {% endpaginate %}

    {% endif %}

  </article>
</div>
