{% if cart.item_count > 0 %}

  <form action="/cart" method="post" novalidate class="cart-wrapper">

    <div class="section-header text-center">
      <h1 class="h3 section-header--title">{{ 'cart.general.title' | t }}</h1>
    </div>

    <div class="cart-row medium-down--hide cart-wrapper__header-labels">
      <div class="grid--full">
        <div class="grid-item large--one-half">
          <div class="grid">
            <div class="grid-item two-thirds push--one-third">
              {{ 'cart.label.product' | t }}
            </div>
          </div>
        </div>
        <div class="grid-item large--one-half">
          <div class="grid--full">
            <div class="grid-item one-third medium-down--one-third">
              {{ 'cart.label.price' | t }}
            </div>
            <div class="grid-item one-third medium-down--one-third text-center">
              {{ 'cart.label.quantity' | t }}
            </div>
            <div class="grid-item one-third medium-down--one-third text-right">
              {{ 'cart.label.total' | t }}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% for item in cart.items %}
      <div class="cart-row" data-id="{{ item.id }}">
        <div class="grid--full cart-row--table-large">

          <div class="grid-item large--one-half">
            <div class="grid">

              <div class="grid-item one-third">
                <a href="{{ item.product.url | within: collections.all }}" class="cart-image">

                  <img src="{{ item.product.featured_image.src | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                </a>
              </div>

              <div class="grid-item two-thirds">
                <a href="{{ item.product.url }}" class="h4">{{ item.product.title }}</a>
                {% unless item.variant.title contains 'Default' %}
                  <br>
                  <small>{{ item.variant.title }}</small>
                {% endunless %}

                {% if settings.product_vendor_enable %}
                  <br>
                  <span>{{ item.vendor }}</span>
                {% endif %}

                {% if item.properties.size > 0 %}
                  {% for p in item.properties %}
                    {% unless p.last == blank %}
                      <br>
                      {{ p.first }}:

                      {% if p.last contains '/uploads/' %}
                        <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                      {% else %}
                        {{ p.last }}
                      {% endif %}
                    {% endunless %}
                  {% endfor %}
                {% endif %}

                <br>
                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-id="{{ item.id }}"><small>{{ 'cart.general.remove' | t }}</small></a>
              </div>

            </div>
          </div>

          <div class="grid-item large--one-half">
            <div class="grid--full cart-row--table-large">

              <div class="grid-item one-third">
                <span class="cart-mini-labels">{{ 'cart.label.price' | t }}</span>
                <span class="h3">{{ item.price | money }}</span>
              </div>

              <div class="grid-item one-third text-center">
                <span class="cart-mini-labels">{{ 'cart.label.quantity' | t }}</span>
                <input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0" data-id="{{ item.id }}">
              </div>

              <div class="grid-item one-third text-right">
                <span class="cart-mini-labels">{{ 'cart.label.total' | t }}</span>
                <span class="h3">{{ item.line_price | money }}</span>
              </div>

            </div>
          </div>

        </div>
      </div>
    {% endfor %}

    <div class="cart-row">
      <div class="grid">
        {% if settings.cart_notes_enable %}
          <div class="grid-item large--one-half">
            <a href="#" class="cart__note-add">
              {{ 'cart.label.add_note' | t }}
            </a>
            <div class="cart__note">
              <label for="cartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="cartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          </div>
        {% endif %}
        <div class="grid-item text-right{% if settings.cart_notes_enable %} large--one-half{% endif %}">
          <p>
            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
          </p>
          <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          <input type="submit" name="update" class="btn-secondary update-cart" value="{{ 'cart.general.update' | t }}">
          <input type="submit" name="checkout" class="btn" value="{{ 'cart.general.checkout' | t }}">

          {% if additional_checkout_buttons %}
            <p>{{ content_for_additional_checkout_buttons }}</p>
          {% endif %}
        </div>
      </div>
    </div>

  </form>

{% else %}
  <div class="section-header text-center">
    <h1 class="h3 section-header--title">{{ 'cart.general.title' | t }}</h1>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
  </div>
{% endif %}
