<ul class="breadcrumb">
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart' | absolute_url }}" target="_self">{{ 'checkout.cart' | t }}</a>
    </li>
    <li class="breadcrumb__item" ng-class="{ 'breadcrumb__item--current': isCustomerInformationStep }">
        <a class="breadcrumb__link" target="_self" ng-href="{{ '/cart/customer-information' | absolute_url }}" ng-if="!isCustomerInformationStep">{{ 'checkout.customer_information.title' | t }}</a>
        <span ng-if="isCustomerInformationStep">{{ 'checkout.customer_information.title' | t }}</span>
    </li>
    <li class="breadcrumb__item" ng-class="{ 'breadcrumb__item--current': isShippingMethodStep }">
        <a class="breadcrumb__link" target="_self" ng-href="{{ '/cart/shipping-method' | absolute_url }}" ng-if="!isShippingMethodStep">{{ 'checkout.shipping_method.title' | t }}</a>
        <span ng-if="isShippingMethodStep">{{ 'checkout.shipping_method.title' | t }}</span>
    </li>
    <li class="breadcrumb__item" ng-class="{ 'breadcrumb__item--current': isPaymentMethodStep }">
        <a class="breadcrumb__link" target="_self" ng-href="{{ '/cart/payment-method' | absolute_url }}" ng-if="!isPaymentMethodStep">{{ 'checkout.payment_method.title' | t }}</a>
        <span ng-if="isPaymentMethodStep">{{ 'checkout.payment_method.title' | t }}</span>
    </li>
</ul>