<div class="sidebar__header">
    <a class="logo logo--left" href="{{ '/' | absolute_url }}">
        <h1 class="logo__text">{{ shop.name }}</h1>
    </a>
</div>
<div class="sidebar__content">
    <div class="order-summary" ng-class="{ 'order-summary--is-expanded': checkout.OrderSummaryVisible, 'order-summary--is-collapsed': !checkout.OrderSummaryVisible }">
        <div class="order-summary__section order-summary__section--product-list">
            <table class="product-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.description' | t }}</span>
                        </th>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.price' | t }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="product" ng-repeat="lineItem in checkout.Items">
                        <td class="product__image">
                            <div class="product__image__inner">
                                <span class="product__quantity" ng-bind="lineItem.Quantity"></span>
                                <div class="product__image__wrapper">
                                    <img alt="{( lineItem.Name )}" ng-src="{( lineItem.ImageUrl )}" />
                                </div>
                            </div>
                        </td>
                        <td class="product__description">
                            <span class="product__description__name order-summary__emphasis" ng-bind="lineItem.Name"></span>
                            <span class="product__description__variant order-summary__small-text">
                                <!-- TODO: Add properties -->
                            </span>
                        </td>
                        <td class="product__price">
                            <span class="order-summary__emphasis" ng-bind="lineItem.PlacedPrice.FormatedAmount"></span>
                            <span ng-if="lineItem.ListPrice.Amount > lineItem.PlacedPrice.Amount">
                                <br />
                                <span class="order-summary__small-text strikethrough" ng-bind="lineItem.ListPrice.FormatedAmount"></span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="order-summary__section order-summary__section--discount">
            <form accept-charset="UTF-8" action="" class="edit_checkout animate-floating-labels" method="post" name="formCoupon" novalidate="novalidate" ng-submit="addCoupon($event)">
                <div class="fieldset">
                    <div class="field" ng-class="{ 'field--show-floating-label': checkout.Coupon.Code.length, 'field--error': checkout.Coupon.ErrorCode == 'InvalidCouponCode' }" ng-if="!checkout.Coupon.AppliedSuccessfully">
                        <div class="field__input-btn-wrapper">
                            <div class="field__input-wrapper">
                                <label class="field__label" for="CouponCode">{{ 'checkout.coupon_code' | t }}</label>
                                <input class="field__input" id="CouponCode" name="CouponCode" placeholder="{{ 'checkout.coupon_code' | t }}" required="required" size="30" type="text" ng-model="checkout.Coupon.Code" ng-change="checkout.Coupon.ErrorCode = null" ng-disabled="checkout.CouponProcessing" />
                            </div>
                            <button class="field__input-btn btn btn--default" type="submit" ng-class="{ 'btn--loading': checkout.CouponProcessing, 'btn--disabled': formCoupon.$invalid }" ng-disabled="formCoupon.$invalid || checkout.CouponProcessing">
                                <span class="btn__content visually-hidden-on-mobile">{{ 'checkout.apply' | t }}</span>
                                <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                                <i class="btn__spinner icon icon--button-spinner"></i>
                            </button>
                        </div>
                        <p class="field__message field__message--error" ng-if="checkout.Coupon.ErrorCode == 'InvalidCouponCode'">
                            {{ 'checkout.invalid_coupon_code' | t }}
                        </p>
                    </div>
                    <div class="field" ng-if="checkout.Coupon.Code && checkout.Coupon.AppliedSuccessfully">
                        <div class="field__input-btn-wrapper">
                            <div class="field__input-wrapper">
                                <span style="font-size: 1.71em; font-weight: 500; line-height: 40px;" ng-bind="checkout.Coupon.Code"></span>
                            </div>
                            <button class="field__input-btn btn btn--default" type="button" ng-click="removeCoupon()" ng-class="{ 'btn--loading': checkout.CouponProcessing }">
                                <span class="btn__content visually-hidden-on-mobile">{{ 'checkout.remove' | t }}</span>
                                <i class="btn__content shown-on-mobile icon icon--arrow"></i>
                                <i class="btn__spinner icon icon--button-spinner"></i>
                            </button>
                        </div>
                        <p class="field__message" ng-bind="checkout.Coupon.Description"></p>
                    </div>
                </div>
            </form>
        </div>
        <div class="order-summary__section order-summary__section--total-lines">
            <table class="total-line-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.description' | t }}</span>
                        </th>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.price' | t }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-line total-line--subtotal">
                        <td class="total-line__name">{{ 'checkout.subtotal' | t }}</td>
                        <td class="total-line__price">
                            <span class="order-summary__emphasis" ng-bind="checkout.Subtotal.FormatedAmount"></span>
                        </td>
                    </tr>
                    <tr class="total-line total-line--subtotal">
                        <td class="total-line__name">{{ 'checkout.discount' | t }}</td>
                        <td class="total-line__price">
                            <span class="order-summary__emphasis" ng-bind="checkout.DiscountTotal.FormatedAmount"></span>
                        </td>
                    </tr>
                    <tr class="total-line total-line--shipping">
                        <td class="total-line__name">{{ 'checkout.shipping' | t }}</td>
                        <td class="total-line__price">
                            <span class="order-summary__emphasis" ng-bind="checkout.ShippingTotal.FormatedAmount"></span>
                        </td>
                    </tr>
                    <tr class="total-line total-line--taxes">
                        <td class="total-line__name">{{ 'checkout.taxes' | t }}</td>
                        <td class="total-line__price">
                            <span class="order-summary__emphasis" ng-bind="checkout.TaxTotal.FormatedAmount"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="order-summary__section order-summary__section--total">
            <table class="total-line-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.description' | t }}</span>
                        </th>
                        <th scope="col">
                            <span class="visually-hidden">{{ 'checkout.price' | t }}</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="total-line">
                        <td class="total-line__name payment-due-label">{{ 'checkout.total' | t }}</td>
                        <td class="total-line__price payment-due">
                            <span class="payment-due__currency" ng-bind="checkout.Total.Currency.Code"></span>
                            <span class="payment-due__price" ng-bind="checkout.Total.FormatedAmount"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>