<ul class="breadcrumb">
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart' | absolute_url }}" target="_self">{{ 'checkout.cart' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart/checkout/#/customer-information' | absolute_url }}" >{{ 'checkout.customer_information.title' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart/checkout/#/shipping-method' | absolute_url }}">{{ 'checkout.shipping_method.title' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart/checkout/#/payment-method' | absolute_url }}">{{ 'checkout.payment_method.title' | t }}</a>
    </li>
</ul>