<ul class="breadcrumb">
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ 'cart' | absolute_url }}">{{ 'checkout.cart' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ '/cart/customer-information' | absolute_url }}">{{ 'checkout.customer_information.title' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--completed">
        <a class="breadcrumb__link" href="{{ '/cart/shipping-method' | absolute_url }}">{{ 'checkout.shipping_method.title' | t }}</a>
    </li>
    <li class="breadcrumb__item breadcrumb__item--current">
        <a class="breadcrumb__link" href="{{ '/cart/payment-method' | absolute_url }}">{{ 'checkout.payment_method.title' | t }}</a>
    </li>
</ul>