<div class="buttons">
    <a class="btn-secondary" href="{{ '/account' | absolute_url }}">{{ 'Orders' }}</a>
    {% if shop.quotes_enabled %}
        <a class="btn-secondary" href="{{ '/account/quoterequests' | absolute_url }}">{{ 'Quote requests' }}</a>
    {% endif %}
    <a class="btn-secondary" href="{{ '/account/addresses' | absolute_url }}">{{ 'Addresses' }}</a>
</div>