<div class="col-md-5">
    <div class="box">
        <div class="box-header">
            <h2>Order summary</h2>
        </div>
        <div class="box-content">
            <div class="alert alert-info">
                Shipping, tax and total prices can be updated during checkout modifications.
            </div>
            <hr />
                {% if checkout.coupon %}
                    <ul class="coupons-list">
                        <li>
                            Applied coupon:
                            <strong>
                                <small>{{ checkout.coupon }}</small>
                                <a id="remove-coupon" style="cursor: pointer; margin-left: 10px;" title="Remove coupon">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </strong>
                        </li>
                    </ul>
                {% else %}
                    <p>If you have a coupon you can enter its code into text field below</p>
                    <form action="{{ shop.simplified_url }}/checkout/updatediscounts" class="form-inline" id="apply-coupon-section" method="POST">
                        <input class="form-control" id="couponCode" name="couponCode" placeholder="Coupon code" required="required" type="text" />
                        <button class="btn btn-default" id="btn-apply-coupon" type="button">Apply</button>
                        <div id="coupon-validation-message" style="color: red; display: none;"></div>
                    </form>
                {% endif %}
            <hr />
            <ul class="product-list">
                {% for line_item in checkout.line_items %}
                    <li>
                        <div class="image" data-quantity="{{ line_item.quantity }}">
                            <img alt="{{ line_item.title }}" src="{{ line_item.image }}" />
                        </div>
                        <div class="info">
                            <div class="price">
                                {% include 'price' with line_item.line_price %}
                            </div>
                            <div class="name">
                                <span class="title">
                                    {{ line_item.title }}
                                </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <ul class="price-list">
                <li>
                    Subtotal: <strong>{% include 'price' with checkout.subtotal_price %}</strong>
                </li>
                <li>
                    Shipping: <strong>{% include 'price' with checkout.shipping_price %}</strong>
                </li>
                <li>
                    Tax: <strong>{% include 'price' with checkout.tax_price %}</strong>
                </li>
                <li>
                    Discount: <strong>{% include 'price' with checkout.discounts_amount %}</strong>
                </li>
            </ul>
        </div>
        <div class="box-footer">
            <ul class="price-list">
                <li class="important" style="border-bottom: none;">
                    Total: <strong>{% include 'price' with checkout.total_price %}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>