<div id="cart" class="cart clearfix">
  {% if cart.item_count == 0 %}
  <div class="c" style="padding:100px 0;">
    <h2 class="title" style="text-align:center;">{{ 'cart.general.empty' | t }}</h2>
  </div>
  {% else %}
  <h2>{{ 'cart.general.title' | t }}</h2>

  <form action="/cart" method="post" id="cartform">
    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{ 'cart.general.product' | t }}</th>
          <th class="c">{{ 'cart.general.quantity' | t }}</th>
          <th class="c">{{ 'cart.general.price' | t }}</th>
          <th class="r">{{ 'cart.general.remove' | t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.items %}
        <tr>
          <td class="r">
            <div class="product_image">
              <a href="{{ item.url }}">
                <img src="{{ item | img_url: 'thumb' }}"  alt="{{ item.product.title }}" />
              </a>
            </div>
          </td>
          <td><a href="{{ item.url }}">{{ item.title }}</a></td>
          <td class="c">
            <input type="text" size="4" name="updates[]" id="updates_{{item.variant.id}}" value="{{ item.quantity }}" onfocus="this.select();" class="item-quantity" />
          </td>
          <td class="c">{{ item.line_price | money }}</td>
          <td class="r"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart">{{ 'cart.general.remove' | t }}</a></td>
        </tr>
        {% endfor %}
        <tr class="summary">
          <td colspan="2"><label for="note" style="display:block;"><a href="#" onClick="jQuery('#note').toggle(); return false;">{{ 'cart.general.note' | t }}</a></label></td>
          <td class="c"><input type="submit" id="update-cart" name="update" value="{{ 'cart.general.update' | t }}" /></td>
          <td class="c"><span class="total"><strong>{{ cart.total_price | money }}</strong></span></td>
          <td class="r"><input type="submit" id="checkout" name="checkout" value="{{ 'cart.general.checkout' | t }}" /></td>
        </tr>
      </tbody>
    </table>

    <div class="checkout-buttons clearfix">
      <div class="fl">
        <textarea id="note" name="note" rows="10" cols="50" style="display:none;">{{ cart.note }}</textarea>
      </div>
      {% if additional_checkout_buttons %}
      <div class="fr">
        {{ content_for_additional_checkout_buttons }}
      </div>
      {% endif %}
    </div>

  </form>
  {% endif %}
</div> <!-- /#cart -->

{% include 'recently-viewed' %}