<div id="collection" class="{{ collection.handle }} clearfix">
  {% paginate collection.products by settings.pagination_limit %}

  <div class="clearfix">
    <div class="fl">
      <h2>{{ collection.title }}{% if current_tags %} - {{ current_tags }}{% endif %}</h2>
      <span class="all-products-count subtext">{{ 'collections.general.items_with_count' | t: count: collection.all_products_count }}</span>
    </div>
    <div class="paginate fr cy">
      {% include 'pagination' %}
    </div>
  </div>
  
  {% if settings.collection_description %}
  <div class="description">
    {{ collection.description }}
  </div>
  {% endif %}

  {% assign has_sub_menu = false %}
  {% if settings.collection_tags and collection.all_tags.size > 0 %}
  {% assign has_sub_menu = true %}
  {% endif %}
  {% if settings.collection_sort and collection.products_count > 1 %}
  {% assign has_sub_menu = true %}
  {% endif %}
  {% if has_sub_menu %}
  
  <div class="sort clearfix">
  
  {% if settings.collection_tags and collection.all_tags.size > 0 %}
  <nav class="tags">
    <ul class="clearfix">
        <li {% unless current_tags %} class="active"{% endunless %}>
          {% if collection.handle %}
          {% comment %}Good for /collections/all collection and regular collections{% endcomment %}
          {% capture collection_url %}/collections/{{ collection.handle }}{% if collection.sort_by %}?sort_by={{ collection.sort_by }}{% endif %}{% endcapture %}
          {% comment %}Good for automatic type collections{% endcomment %}
          {% elsif collection.current_type %}
          {% assign collection_url = collection.current_type | url_for_type | sort_by: collection.sort_by  %}
          {% comment %}Good for automatic vendor collections{% endcomment %}
          {% elsif collection.current_vendor %}
          {% assign collection_url = collection.current_vendor | url_for_vendor | sort_by: collection.sort_by %}
          {% endif %}
          <a href="{{ collection_url }}">{{ 'collections.sorting.all' | t }}</a>
        </li>
      {% for tag in collection.all_tags %}
      {% if current_tags contains tag %}
      <li class="active">
        {{ tag | link_to_remove_tag: tag }}
      </li>
      {% else %}
      <li>
        {{ tag | link_to_tag: tag }}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

    {% if settings.collection_sort and collection.products_count > 1 %}
    <div class="collection-sort">
      <label for="sort-by">{{ 'collections.sorting.title' | t }}</label> 
      <select id="sort-by">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
      </select>
    </div>     
    {% endif %}
  </div>
  {% endif %}
    
  <div id="content-table" class="clearfix">
    {% for product in collection.products %}
    {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div>

  <div class="clearfix">
    <div class="paginate fr">
      {% include 'pagination' %}
    </div>
  </div>

  {% endpaginate %}
</div> <!-- /#collection -->

{% include 'recently-viewed' %}

<script>
Shopify.queryParams = {};
if (location.search.length) {
  for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
    aKeyValue = aCouples[i].split('=');
    if (aKeyValue.length > 1) {
      Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
    }
  }
}
jQuery('#sort-by')
  .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
  .bind('change', function() {
    Shopify.queryParams.sort_by = $(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>