<div id="search" class="clearfix">
  {% if search.performed %}
  {% paginate search.results by settings.pagination_limit %}  
  <div class="clearfix">
    <div class="fl">
      <h2>{{ 'general.search.title' | t }}</h2>
            <span class="subtext">{{ 'general.search.search_results_with_count' | t: count: search.results_count }} </span>
    </div>
    <div class="fr cy">
      <span class="lower">{% include 'pagination' %}</span>
    </div>
  </div>
  {% if search.terms == "" %}
  <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
  {% else %}
  {% if search.results == empty %}  
  <div class="empty">
    {{ 'general.search.no_results_html' | t: terms: search.terms }}
  </div>              
  {% else %}  

  <div class="results">
    {% for item in search.results %}
    <div class="item clearfix">
      <div class="thumbnail">
        <a href="{{ item.url }}">{{ item.featured_image | product_img_url: 'small' | img_tag }}</a>
      </div>
      <div class="content">
        <h4>{{ item.title | highlight: search.terms | link_to: item.url }}</h4>
        {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}
      </div>
    </div> <!-- /.item -->
    {% endfor %}
  </div> <!-- /.results -->

  <div class="clearfix">
    <div class="paginate fr">
      {% include 'pagination' %}
    </div>
  </div>

  {% endif %}
  {% endif %}

  {% endpaginate %}

  {% else %}

  <div id="not_found" class="c" style="padding:100px 0;">
    <h2>{{ 'general.search.title' | t }}</h2>
    <span class="subtext">{{ 'general.search.subtext' | t }}</span>
  </div> <!-- /#not_found -->

  {% endif %}	
</div> <!-- /#search -->

{% include 'recently-viewed' %}