@model List<ExternalLogin>

@if (Model.Count > 0)
{
    <div class="block clearfix">
        <div class="title">
            <span>@("Registered external logins".Localize())</span>
        </div>
        <div class="info">
            <ul class="list no-item">
                @foreach (var externalLogin in Model)
                {
                    <li>
                        <span>@externalLogin.ProviderDisplayName</span>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account", FormMethod.Post, new { style = "float: left;" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <a href="#" onclick="$(this).closest('form').submit(); return false;" title="@("Remove {0} credential from your account".Localize((object)externalLogin.ProviderDisplayName))" class="remove">@("Remove".Localize())</a>
                            }
                        }
                    </li>
                }
            </ul>

        </div>
    </div>
}
