@model OrderAddressModel
<div class="block clearfix">
    <header>
        <h3>@("Account Information".Localize())</h3>
    </header>
    <div class="col">
        <div class="title">
            <span>@("Contact Information".Localize())</span>
            <a href="@Url.Action("Edit", "Account")">@("Edit".Localize())</a>
        </div>
        <div class="info">
            <p>@Model.CurrentUser.FullName<br />@Model.CurrentUser.Email<br />
            </p>
            <p><a href="@Url.Action("Edit", "Account", new { ChangePassword = true })">@("Change Password".Localize())</a></p>
        </div>
    </div>
    <div class="col">
        <div class="title">
            <span>@("Newsletters".Localize())</span>
            <a href="#">@("Edit".Localize())</a>
        </div>
        <div class="info">
            <p>@("You are currently not subscribed to any newsletter.".Localize())</p>
        </div>
    </div>
</div>
<div class="block clearfix">
    <div class="title">
        <span>@("Address Book".Localize())</span>
        <a href="@Url.Action("AddressBook", "Account")">@("Manage Addresses".Localize())</a>
    </div>
    <div class="col">
        <div class="info">
            <p><b>@("Default Billing Address".Localize())</b></p>
            @if (Model.BillingAddress != null)
            {
                Html.RenderAction("AddressView", "Account", new { address = Model.BillingAddress });
                <p>
                    <a href="@Url.Action("AddressEdit", "Account", new { addressId = Model.BillingAddress.AddressId })">
                        @("Edit Address".Localize())
                    </a>
                </p>
            }
            else
            {
                <p>@("You have no Default Billing Address".Localize())</p>
            }
        </div>
    </div>
    <div class="col">
        <div class="info">
            <p><b>@("Default Shipping Address".Localize())</b></p>
            @if (Model.ShippingAddress != null)
            {
                Html.RenderAction("AddressView", "Account", new { address = Model.ShippingAddress });
                <p>
                    <a href="@Url.Action("AddressEdit", "Account", new { addressId = Model.ShippingAddress.AddressId })">
                        @("Edit Address".Localize())
                    </a>
                </p>
            }
            else
            {
                <p>@("You have no Default Shipping Address".Localize())</p>
            }
        </div>
    </div>
</div>
