@model OrderAddressModel
<div class="box-account box-info">
	<div class="box-head">
		<h2>
			@("Account Information".LocalizeHtml())</h2>
	</div>
	<div class="col2-set">
		<div class="col-1">
			<div class="box">
				<div class="box-title">
					<h3>
						@("Contact Information".LocalizeHtml())</h3>
					<a href="@Url.Action("Edit", "Account")">@("Edit".LocalizeHtml())</a>
				</div>
				<div class="box-content">
					<p>
						@Model.CurrentUser.FullName<br>
						@Model.CurrentUser.Email<br>
						<a href="@Url.Action("Edit", "Account")">
							@("Change Password".LocalizeHtml())
						</a>
					</p>
				</div>
			</div>
		</div>
		<div class="col-2">
			<div class="box">
				<div class="box-title">
					<h3>@("Newsletters".LocalizeHtml())</h3>
					<a href="#">@("Edit".LocalizeHtml())</a>
				</div>
				<div class="box-content">
					<p>
						@("You are currently not subscribed to any newsletter.".LocalizeHtml())
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col2-set">
		<div class="box">
			<div class="box-title">
				<h3>@("Address Book".LocalizeHtml())</h3>
				<a href="@Url.Action("AddressBook", "Account")">@("Manage Addresses".LocalizeHtml())</a>
			</div>
			<div class="box-content">
				<div class="col-1">
					<h4>@("Default Billing Address".LocalizeHtml())</h4>
					@if (Model.BillingAddress != null)
	 {
		 Html.RenderAction("AddressView", "Account", new { address = Model.BillingAddress });
						<p>
							<a href="@Url.Action("AddressEdit", "Account", new { userId = Model.CurrentUser.MemberId, addressId = Model.BillingAddress.AddressId })">
								@("Edit Address".LocalizeHtml())
							</a>
						</p>
	 }
	 else
	 {
						<p>@("You have no Default Billing Address".LocalizeHtml())</p>
	 }

				</div>
				<div class="col-2">
					<h4>@("Default Shipping Address".LocalizeHtml())
					</h4>
					@if (Model.ShippingAddress != null)
	 {
		 Html.RenderAction("AddressView", "Account", new { address = Model.ShippingAddress });
						<p>
							<a href="@Url.Action("AddressEdit", "Account", new { userId = Model.CurrentUser.MemberId, addressId = Model.ShippingAddress.AddressId })">
								@("Edit Address".LocalizeHtml())
							</a>
						</p>
	 }
	 else
	 {
						<p>@("You have no Default Shipping Address".LocalizeHtml())</p>
	 }

				</div>
			</div>
		</div>
	</div>
</div>
