@model OrderAddressModel
@{
    ViewBag.PageTitle = SiteMaps.Current.CurrentNode != null ? SiteMaps.Current.CurrentNode.Title.Localize() : "Address Book".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
}

<button type="button" title="@("Add New Address".Localize())" onclick="window.location='@Url.Action("AddressEdit", "Account")';">
    <span>@("Add New Address".Localize())</span>
</button>
<div class="block clearfix">
    <div class="col">
        <div class="title">
            <span>@("Default Billing Address".Localize())</span>
        </div>
        @if (Model.BillingAddress != null)
        {
            <div class="info">
                @{Html.RenderAction("AddressView", "Account", new { address = Model.BillingAddress });}
                <div class="links">
                    <a href="@Url.Action("AddressEdit", "Account", new { addressId = Model.BillingAddress.AddressId })">
                        @("Change Billing Address".Localize())
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="col">
        <div class="title">
            <span>@("Default Shipping Address".Localize())</span>
        </div>
        @if (Model.BillingAddress != null)
        {
            <div class="info">
                @{Html.RenderAction("AddressView", "Account", new { address = Model.ShippingAddress });}
                <div class="links">
                    <a href="@Url.Action("AddressEdit", "Account", new { addressId = Model.ShippingAddress.AddressId })">
                        @("Change Shipping Address".Localize())
                    </a>
                </div>
            </div>
        }
    </div>
</div>
<div class="block clearfix">
    <div class="col">
        <div class="title">
            <span>@("Additional Address Entries".Localize())</span>
        </div>
        @if (Model.OthersAddresses.Length == 0)
        {
            <div class="info">
                @("You have no additional address entries in your address book.".Localize())
            </div>
        }
        else
        {
            foreach (var addr in Model.OthersAddresses)
            {
            <div class="info">
                @{ Html.RenderAction("AddressView", "Account", new { address = addr });}
                <div class="links">
                    <a href="@Url.Action("AddressEdit", "Account", new { addressId = addr.AddressId })">
                        @("Change Address".Localize())
                    </a>
                    <a onclick="return confirm('@("Delete address?".Localize())')" href="@Url.Action("AddressDelete", "Account", new { addressId = addr.AddressId })">
                        @("Delete Address".Localize())
                    </a>
                </div>
            </div>
            }
        }
    </div>
</div>
<div class="buttons clearfix">
    <a href="@Url.Action("Index", "Account")" class="back">« @("Back".Localize())</a>
</div>
