@using VirtoCommerce.Web.Virto.Helpers
@model CompareListModel
@{
    ViewBag.Title = "Compare List".Localize();
    Layout = "~/Views/Shared/_LayoutPopUp.cshtml";
    var percentColumn = Model.LineItems == null ? 100 : 100 / (Model.LineItems.Count() + 1);
}

@if (Model.LineItems != null)
{
    <table class="data-table">
        <colgroup>
            <col width="1">
            @foreach (var li in Model.LineItems)
            {
                <col width="@percentColumn%" />
            }
        </colgroup>
        <tbody>
            <tr>
                <td></td>
                @foreach (var li in Model.LineItems)
                {
                    <td class="product-actions">
                        @Ajax.ActionLink("Remove item".Localize(), "RemoveFromCompareList", "Cart", new { lineItemId = li.LineItemId }, new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    Confirm = "Are you sure you would like to remove this item from the comparing list?".Localize(),
                                    OnSuccess = "window.location.href=window.location.href"
                                }, new { @class = "trash" })
                    </td>
                }
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td></td>
                @foreach (var li in Model.LineItems)
                {
                    <td align="center">
                        <a href="#" onclick="$.open('@Url.ItemUrl(li.CatalogItem.Item, li.CatalogItem.ParentItemId)'); return false;" title="@li.DisplayName" class="product-image">
                            <img src="@Url.Image(li.CatalogItem.Item, "primaryimage")" title="" alt="@li.DisplayName" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" />
                        </a>
                        <span class="product-name">@li.DisplayName</span>
                        <span class="price">@li.FormattedPlacedPrice</span>
                        @{ var catalogModel = CatalogHelper.CreateCatalogModel(li.CatalogItem.ItemId, li.ParentCatalogItem != null ? li.ParentCatalogItem.ItemId : null, forcedActive: true);}
                        @{ Html.RenderPartial("AddToCart", catalogModel, new ViewDataDictionary { { "View", "Details" } }); }
                        @{ Html.RenderPartial("AddToLinks", catalogModel, new ViewDataDictionary { { "NoCompare", "1" }, { "View", "Details" } }); }
                    </td>
                }
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>
                    <span class="nobr">@("Description".Localize())</span>
                </td>
                @foreach (var li in Model.LineItems)
                {
                    <td>
                        @li.DisplayName
                    </td>
                }
            </tr>
            <tr class="odd">
                <td>
                    <span class="nobr">@("SKU".Localize())</span>
                </td>
                @foreach (var li in Model.LineItems)
                {
                    <td>
                        @li.CatalogItem.Code
                    </td>
                }
            </tr>
            @foreach (var group in Model.AvailableProperties)
            {
                <tr>
                    <td>
                        <span class="nobr">@group.Key</span>
                    </td>
                    @foreach (var li in Model.LineItems)
                    {
                        var prop = group.FirstOrDefault(g => ((Item)g.CatalogItem).ItemId == li.CatalogItem.ItemId);
                        <td>
                            @if (prop != null)
                            {
                                @prop.ToString()
                            }
                            else
                            {
                                <span>@("N/A".Localize())</span>
                            }
                        </td>
                    }
                </tr>
            }
            <tr>
                <td></td>
                @foreach (var li in Model.LineItems)
                {
                    <td align="center">
                        <span class="price">@li.FormattedPlacedPrice</span>
                        @{ var catalogModel = CatalogHelper.CreateCatalogModel(li.CatalogItem.ItemId, li.ParentCatalogItem != null ? li.ParentCatalogItem.ItemId : null, forcedActive: true);}
                        @{ Html.RenderPartial("AddToCart", catalogModel, new ViewDataDictionary { { "View", "Details" } }); }
                        @{ Html.RenderPartial("AddToLinks", catalogModel, new ViewDataDictionary { { "NoCompare", "1" }, { "View", "Details" } }); }
                    </td>
                }
            </tr>
        </tbody>
    </table>@*
    <div>
        <table id="product_comparison" class="data-table compare-table">
            <colgroup>
                <col width="1">
                @foreach (var li in Model.LineItems)
                {
                    <col width="@percentColumn%" />
                }
            </colgroup>
            <thead>
                <tr class="first last">
                    <th>&nbsp;
                    </th>
                    @foreach (var li in Model.LineItems)
                    {
                        <td class="a-right">
                            @Ajax.ActionLink("Remove item".Localize(), "RemoveFromCompareList", "Cart", new { lineItemId = li.LineItemId }, new AjaxOptions
	                            {
		                            HttpMethod = "POST", 
									Confirm = "Are you sure you would like to remove this item from the comparing list?".Localize(), 
									OnSuccess = "window.location.href=window.location.href"
	                            }, new { @class = "btn-remove" })
                        </td>
                    }
                </tr>
            </thead>
            <tbody>
                <tr class="product-shop-row first odd">
                    <th>&nbsp;
                    </th>
                    @foreach (var li in Model.LineItems)
                    {
                        <td>
                            <a title="@li.DisplayName" onclick=" ">
                                <img src="@Url.Image(li.CatalogItem.Item, "primaryimage")" title="" height="125" width="125" alt="@li.DisplayName" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" />
                            </a>
                            <h2 class="product-name">@li.DisplayName</h2>
	                        <div class="price-box">
		                        <span class="regular-price">
			                        <span class="price">@li.FormattedPlacedPrice</span>
		                        </span>
	                        </div>
							@{ var catalogModel = CatalogHelper.CreateCatalogModel(li.CatalogItem.ItemId, li.ParentCatalogItem != null ? li.ParentCatalogItem.ItemId : null, forcedActive: true);}
                            @{ Html.RenderPartial("AddToCart", catalogModel, new ViewDataDictionary { { "View", "Details" } }); }
                            @{ Html.RenderPartial("AddToLinks", catalogModel, new ViewDataDictionary { { "NoCompare", "1" } }); }
                        </td>
                    }
                </tr>
            </tbody>
            <tbody>
                <tr class="even">
                    <th>
                        <span class="nobr">@("Description".LocalizeHtml())</span>
                    </th>
                    @foreach (var li in Model.LineItems)
                    {
                        <td>
                            @li.DisplayName
                        </td>
                    }
                </tr>
	            <tr class="odd">
		            <th>
			            <span class="nobr">@("SKU".LocalizeHtml())</span>
		            </th>
		            @foreach (var li in Model.LineItems)
		            {
			            <td>
				            @li.CatalogItem.Code
			            </td>
		            }
	            </tr>
	            @{
		            var rowClass = "even";

		            foreach (var group in Model.AvailableProperties)
		            {
			            <tr class="@rowClass">
				            <th>
					            <span class="nobr">@group.Key</span>
				            </th>
				            @foreach (var li in Model.LineItems)
				            {
					            var prop = group.FirstOrDefault(g => g.CatalogItem.ItemId == li.CatalogItem.ItemId);
					            <td>
						            @if (prop != null)
						            {
							            @prop.ToString()
						            }
						            else
						            {
							            <span>@("N/A".LocalizeHtml())</span>
						            }
					            </td>
				            }
			            </tr>
			            rowClass = rowClass == "even" ? "odd" : "even";
		            }
	            }
            </tbody>
            <tbody>
                <tr class="add-to-row last odd">
                    <th>&nbsp;
                    </th>
                    @foreach (var li in Model.LineItems)
                    {
                        <td>
	                        <div class="price-box">
		                        <span class="regular-price">
			                        <span class="price">@li.FormattedPlacedPrice</span>
		                        </span>
	                        </div>
							@{ var catalogModel = CatalogHelper.CreateCatalogModel(li.CatalogItem.ItemId, li.ParentCatalogItem != null ? li.ParentCatalogItem.ItemId : null, forcedActive: true);}
                            @{ Html.RenderPartial("AddToCart", catalogModel, new ViewDataDictionary { { "View", "Details" } }); }
                            @{ Html.RenderPartial("AddToLinks", catalogModel, new ViewDataDictionary { { "NoCompare", "1" } }); }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>*@
}
