@model CompanyAddressModel
@{
    ViewBag.Title = Html.Title("Address Book");
    Layout = "_Layout.cshtml";
}

<div class="page-title title-buttons">
    <h1>Address Book</h1>
    <button type="button" title="Add New Address" class="button" onclick="window.location='@Url.Action("AddressEdit", "Account", new { OrganizationId = Model.CurrentOrganization.MemberId })';"><span><span>Add New Address</span></span></button>
</div>
<div class="col2-set addresses-list">
	<div class="col-1 addresses-primary">
		<h2>Default Addresses</h2>
		<ol>
			<li class="item">
					
				<h3>Default Billing Address</h3>
				@if (Model.BillingAddress != null)
				{
					{Html.RenderAction("AddressView", "Account", new { address = Model.BillingAddress } );}
					<p><a href="@Url.Action("AddressEdit", "Account", new { OrganizationId = Model.CurrentOrganization.MemberId, addressId = Model.BillingAddress.AddressId })">Change Billing Address</a></p>
				}
			</li>

			<li class="item">
					
                <h3>Default Shipping Address</h3>
				@if (Model.ShippingAddress != null)
				{
				{ Html.RenderAction("AddressView", "Account", new { address = Model.ShippingAddress }); }
				<p><a href="@Url.Action("AddressEdit", "Account", new { OrganizationId = Model.CurrentOrganization.MemberId, addressId = Model.ShippingAddress.AddressId })">Change Shipping Address</a></p>
				}

			</li>
		</ol>
    </div>
    <div class="col-2 addresses-additional">
        <h2>Additional Address Entries</h2>
        <ol>
			@if (Model.OthersAddresses.Length == 0)
			{
             <li class="item empty">
                <p>You have no additional address entries in your address book.</p>
            </li>
			}
			else
			{
				foreach (var addr in Model.OthersAddresses)
				{
					{ Html.RenderAction("AddressView", "Account", new { address = addr }); }
					<p>
						<a href="@Url.Action("AddressEdit", "Account", new { addressId = addr.AddressId, OrganizationId = Model.CurrentOrganization.MemberId })">Change Address</a>
						&nbsp;|&nbsp;
						<a onclick="return confirm('Delete address?')" href="@Url.Action("AddressDelete", "Account", new { addressId = addr.AddressId, organizationId = Model.CurrentOrganization.MemberId })">Delete Address</a>
					</p>
				}
			}
        </ol>
    </div>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="@Url.Action("LogOn", "Account")"><small>« </small>Back</a></p>
</div>