@model ChangeAccountInfoModel
@{
    ViewBag.PageTitle = SiteMaps.Current.CurrentNode != null ? SiteMaps.Current.CurrentNode.Title.Localize() : "Account Information".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
}
<script type="text/javascript">
    function setPasswordForm(checkbox)
    {
        if ($(checkbox).is(":checked"))
        {
            VirtoCommerce.enableAll($(".change-pass"));
            $('fieldset.change-pass').show();
            $('#OldPassword').addClass('required-entry');
            $('#NewPassword').addClass('required-entry');
            $('#confirmation').addClass('required-entry');

        } else
        {
            VirtoCommerce.disableAll($(".change-pass"));
            $('fieldset.change-pass').hide();
            $('#OldPassword').removeClass('required-entry');
            $('#NewPassword').removeClass('required-entry');
            $('#confirmation').removeClass('required-entry');
        }
    }

    $(function () {
        var checkbox = $('#ChangePassword');
        setPasswordForm(checkbox);
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="block">
            <div class="title">
                <span>@("Account Information".Localize())</span>
            </div>
            <div class="info clearfix">
                <div class="col">
                    <div class="control-group">
                        @Html.LabelForEx(m => m.FullName)
                        @Html.TextBoxFor(m => m.FullName)
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                    <div class="control-group">
                        <div class="control">
                            <label for="ChangePassword">
                                @Html.CheckBoxFor(m=>m.ChangePassword, new {title="Change Password".Localize(), onclick="setPasswordForm(this);" })
@*                                <input type="checkbox" title="@("Change Password".Localize())" onclick="setPasswordForm(this, this.checked)" value="1" id="ChangePassword" name="ChangePassword" />*@
                                <span>@("Change Password".Localize())</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="control-group">
                        @Html.LabelForEx(m => m.Email)
                        @Html.TextBoxFor(m => m.Email)
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="change-pass" style="display: none;">
        <div class="block">
            <div class="title">
                <span>@("Change Password".Localize())</span>
            </div>
            <div class="info clearfix">
                <div class="col">
                    <div class="control-group">
                        @Html.LabelForEx(m => m.OldPassword)
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                    <div class="control-group">
                        @Html.LabelForEx(m => m.NewPassword)
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="col">
                    <div class="control-group">
                        @Html.LabelForEx(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="buttons">
        <p class="required">* @("Required Fields".Localize())</p>
        <button>
            <span>@("Save".Localize())</span>
        </button>
        <a href="@Url.Action("Index", "Account")" class="back">« @("Back".Localize())</a>
    </div>
}
