@model RegisterExternalLoginModel
@{
    ViewBag.Title = Html.Title("Register");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function ()
    {
        if ($("#CreateLocalLogin").is(":checked") == false)
            VirtoCommerce.disableAll($("#passwords"));
    });

    function setPasswordForm(obj, arg)
    {
        if (arg)
        {
            VirtoCommerce.enableAll($("#passwords"));
            $('#passwords').show();
            $('#NewPassword').addClass('required-entry');
            $('#NewPassword').addClass('validate-password');
            $('#ConfirmPassword').addClass('required-entry');
            $('#ConfirmPassword').addClass('validate-password');

        } else
        {
            VirtoCommerce.disableAll($("#passwords"));
            $('#passwords').hide();
            $('#NewPassword').removeClass('required-entry');
            $('#NewPassword').removeClass('validate-password');
            $('#ConfirmPassword').removeClass('required-entry');
            $('#ConfirmPassword').removeClass('validate-password');
        }
    }
</script>

<div class="account">
    <div class="add-info-block">
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(m => m.ExternalLoginData)

            <span class="title">@("Associate your account".Localize())</span>
            <p>
                @(@"You've successfully authenticated with <strong>{0}</strong>.
            Please enter a user name for this site below and click the Confirm button to finish
            logging in.".LocalizeHtml((string)ViewBag.ProviderDisplayName))
            </p>
            <br />
            <fieldset>
                <legend>@("Association Form".Localize())</legend>
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="control-group">
                    <div class="control">
                        <label>
                            @Html.CheckBoxFor(m => m.CreateLocalLogin, new { onclick = "setPasswordForm(this, this.checked);" })
                            <span>@("Create/Use local account?".Localize())</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset id="passwords" style="display: @(Model.CreateLocalLogin ? "block" : "none");">
                <legend>@("Login Information".Localize())</legend>
                <div class="control-group">
                    @Html.LabelForEx(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
                <div class="control-group">
                    @Html.LabelForEx(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="control-group">
                    <p class="required">* @("Required Fields".Localize())</p>
                </div>
            </fieldset>
            <div class="button-group">
                <button type="submit">
                    <span>@("Confirm Registration".Localize())</span>
                </button>
            </div>
        }
    </div>
</div>
