@model ForgotPasswordModel
@{
    ViewBag.Title = "Forgot Password".Localize();
}
<div class="padding-container col1-layout">
	<div class="col-main">
	<div class="page-title">
		<h1>@("Forgot Your Password?".LocalizeHtml())</h1>
	</div>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post)) {
        @Html.AntiForgeryToken()
		<div class="fieldset">
			<h2 class="legend">@("Retrieve your password here".LocalizeHtml())</h2>
			<p>@("Please enter your email below and we will send you a new password.".LocalizeHtml())</p>
			<ul class="form-list">
				<li>
					<label class="required" for="email_address"><em>*</em>@Html.LabelFor(m => m.Email)</label>
					<div class="input-box">
						@Html.TextBoxFor(m => m.Email, new { @class = "input-text required-entry validate-email" } )
					</div>
				</li>
			</ul>
		</div>
		<div class="buttons-set">
			<p class="required">* @("Required Fields".LocalizeHtml())</p>
			<p class="back-link"><a href="@Url.Action("LogOn", "Account")"><small>« </small>@("Back to Login".LocalizeHtml())</a></p>
			<button class="button" title="@("Submit".LocalizeHtml())" type="submit"><span><span>@("Submit".LocalizeHtml())</span></span></button>
		</div>
	}
	</div>
</div>
