@using VirtoCommerce.Foundation.Stores.Model
@model LogOnModel
@{
    ViewBag.Title = Html.Title("Log On".Localize());
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<script type="text/javascript">
    $(function ()
    {
        $('.account .add-info-block .slider li a').click(function ()
        {
            var name = $(this).prop('class');
            var margin = name == 'forgot' ? '-300px' : '0';
            $('.article .account .add-info-block .slider ul').animate({ 'margin-left': margin }, 600);
        });

        $('.external').click(function ()
        {
            $('.external-login').slideDown();
            $(this).hide();
        });
    });
</script>

<div class="account">
    <div class="add-info-block">
        <div class="slider">
            <ul class="clearfix">
                <li>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.".Localize())
                        <span class="title">@("Sign In".Localize())</span>  
                        if (!string.IsNullOrEmpty(Model.ImpersonatedUserName))
                        {
                        <div class="control-group">
                            @Html.LabelForEx(m => m.ImpersonatedUserName, "Login on behalf of user")
                            @Html.TextBoxFor(m => m.ImpersonatedUserName)
                        </div>
                        }
                        <div class="control-group">
                            @Html.LabelForEx(m => m.UserName, "Email Address")
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="control-group">
                            @Html.LabelForEx(m => m.Password)
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <div class="control-group">
                            <div class="control">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    <span>@("Remember Me".Localize())</span>
                                </label>
                            </div>
                        </div>
                        <div class="button-group">
                            <button type="submit">
                                <span>@("Login".Localize())</span>
                            </button>
                        </div>
                        <a class="forgot">@("Forgot Your Password?".Localize())</a>
                    }
                </li>
                <li>
                    @{ Html.RenderPartial("DisplayTemplates/ForgotPassword",new ForgotPasswordModel()); }
                </li>
            </ul>
        </div>
        <div class="new-users">
            <div class="button-group">
                <button onclick="$.redirect('@Url.Action("Register")');" title="@("Create an Account".Localize())">
                    <span>@("Register".Localize())</span>
                </button>
            </div>
            <a class="external">@("External login?".Localize())</a>
            @if (StoreHelper.StoreClient.GetCurrentStore().StoreState == StoreState.Open.GetHashCode())
            {
                <div class="external-login">
                    @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
                </div>
            }
        </div>
    </div>
</div>
