@using VirtoCommerce.Foundation.Stores.Model
@model LogOnModel
@{
    Layout = null;
}

<script type="text/javascript">
    //function RegisterAsyncButtonHandler() {
    //    $('#RegisterAsyncButton')[0].click();
    //}
    $('.account .add-info-block .slider li a').click(function ()
    {
        var name = $(this).prop('class');
        var margin = name == 'forgot' ? '-300px' : '0';
        $('.article .account .add-info-block .slider ul').animate({ 'margin-left': margin }, 600);
    });
</script>

<div class="article">
    <div class="account" id="containerUpdateDiv">
        <div class="add-info-block">
            <div class="slider">
                <ul class="clearfix">
                    <li>
                        @using (Ajax.BeginForm("LogOnAsync", "Account", new AjaxOptions { UpdateTargetId = "containerUpdateDiv" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.".Localize())
                            <span class="title">@("Sign In".Localize())</span>  
                            <div class="control-group">
                                @Html.LabelForEx(m => m.UserName, "Email Address")
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                            <div class="control-group">
                                @Html.LabelForEx(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                            <div class="control-group">
                                <div class="control">
                                    <label>
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        <span>@("Remember Me".Localize())</span>
                                    </label>
                                </div>
                            </div>
                            <div class="button-group">
                                <button type="submit">
                                    <span>@("Login".Localize())</span>
                                </button>
                            </div>
                            <a class="forgot">@("Forgot Your Password?".Localize())</a>
                        }
                    </li>
                    <li>
                        @{ Html.RenderPartial("DisplayTemplates/ForgotPassword", new ForgotPasswordModel()); }
                    </li>
                </ul>
            </div>
            <div class="new-users">
                <div class="button-group">
                    @using (Ajax.BeginForm("RegisterAsync", "Account", new AjaxOptions { UpdateTargetId = "containerUpdateDiv", HttpMethod = "GET" }))
                    {
                        <button type="submit" title="@("Create an Account".Localize())">
                            <span>@("Register".Localize())</span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
