@model ResetPasswordModel

@{
    ViewBag.PageTitle = "Reset password".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="account">
    <div class="add-info-block">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            <div class="title">
                <span>@("Change Password".Localize())</span>
            </div>

            <div class="control-group">
                @Html.LabelForEx(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="control-group">
                @Html.LabelForEx(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
  
            <div class="control-group">
                @Html.LabelForEx(m => m.Token)
                @Html.TextBoxFor(m => m.Token)
                @Html.ValidationMessageFor(m => m.Token)
            </div>

            <div class="buttons">
                <button>
                    <span>@("Submit".Localize())</span>
                </button>
            </div>
        }
    </div>
</div>
