@using VirtoCommerce.Web.Virto.Helpers
@model CartModel
@{
    ViewBag.PageTitle = SiteMaps.Current.CurrentNode != null ? SiteMaps.Current.CurrentNode.Title.Localize() : "Wishlst".Localize();
    ViewBag.Title = Html.Title(ViewBag.PageTitle as string);
}
@if (Model.LineItems == null || !Model.LineItems.Any())
{
    Html.SharedViewBag().Messages = new MessagesModel {new MessageModel("You have no items in your wishlist.".Localize(), MessageType.Notice)};
}
else
{
    using (Html.BeginForm("UpdateWishList", "Account", FormMethod.Post))
    {
        @Html.Hidden("ActionType")

        <table class="data-table">
            <colgroup>
                <col width="1">
                <col>
                <col width="1">
                <col width="1">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>
                        @("Product".Localize())
                    </th>
                    <th>
                        @("Comment".Localize())
                    </th>
                    <th>
                        @("Added On".Localize())
                    </th>
                    <th>
                        @("Add to Cart".Localize())
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.LineItems.Count(); i++)
                {
                    @Html.EditorFor(m => m.LineItems[i], "lineItem", new { view="WishList"})
                }
            </tbody>
        </table>
        <div class="buttons">
            <button title="@("Add All to Cart".Localize())" type="submit" name="action" value="@UserHelper.AddToCartAction">
                <span>@("Add All to Cart".Localize())</span>
            </button>

            <button title="@("Update Wishlist".Localize())" type="submit" name="action">
                <span>@("Update Wishlist".Localize())</span>
            </button>
        </div>
    }
}
