@model List<LineItemModel>
@{
    ViewBag.Title = "Add".Localize();
}
<form id="contactForm" action="@Url.Action("Index", "Cart")" method="post">
    <div>
        @foreach (var li in Model)
        {
            @Html.DisplayFor(m=>li)
        }
        <div style="text-align: center;">
	        <button type="button" title="@("Continue Shopping".Localize())" class="button btn-cart" onclick="tb_remove(); VirtoCart.updateMiniCart('@Request["name"]'); return false;" style="width:140px;">
		        <span><span>@("Continue Shopping".Localize())</span></span>
	        </button>
            @if (!String.IsNullOrEmpty(Request["name"]) && Request["name"] == CartHelper.WishListName)
            {
	            <button type="button" title="@("View My Wish List".Localize())" class="button btn-cart" onclick="tb_remove(); $.open('@Url.Action("WishList", "Account")'); return false;" style="width:140px;">
		            <span><span>@("View My Wish List".Localize())</span></span>
	            </button>
            }
            else if (Request["name"] == CartHelper.CompareListName)
            {
            }
            else
            {
	            <button type="submit" title="@("View My Cart".Localize())" class="button btn-cart" onclick="tb_remove(); $.open('@Url.Action("Index", "Cart")'); return false;" style="width:140px;">
		            <span><span>@("View My Cart".Localize())</span></span>
	            </button>
            }

        </div>
    </div>
</form>

