@using VirtoCommerce.Web.Virto.Helpers
@model CartModel
@{
    ViewBag.Title = Html.Title("Shopping Cart".Localize());
    ViewBag.PageTitle = "Shopping Cart".Localize();
}

<script type="text/javascript">

    $(function ()
    {
        VirtoCommerce.registerDynamicContent("CartSuggest", function (data)
        {
            if (data.length == 0)
            {
                //Hide cart suggested dynamic content when there is nothing there
                $("#cartSuggestDynamic").remove();
            } else
            {
                $("#crosssell-products-list").html(data);
            }
        });
    });
</script>

@section PageTitle{
    <button class="proceed" onclick="VirtoCart.checkout();">
        <span>@("Proceed to Checkout".Localize())</span>
    </button>
    <span style="margin: 10px 10px 10px 0; font-weight: bold;">@("Or".Localize())</span>
    @{ Html.RenderPartial("PaypalExpressButton");}
}


<div class="cart">
    @{using (Html.BeginForm("Update", "Cart", FormMethod.Post))
      {
        <fieldset>
            <table id="shopping-cart-table" class="data-table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th></th>
                        <th align="left"><span class="nobr">@("Product Name".Localize())</span></th>
                        <th></th>
                        <th><span class="nobr">@("Unit Price".Localize())</span></th>
                        <th>@("Quantity".Localize())</th>
                        <th>@("Subtotal".Localize())</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr class="first last">
                        <td colspan="50" class="a-right last">
                            <button type="button" class="gray" onclick="$.redirect('@UserHelper.CustomerSession.LastShoppingPage');">
                                <span>@("Continue Shopping".Localize())</span>
                            </button>
                            <button type="submit" value="update" name="cartbutton" class="gray">
                                <span>@("Update Shopping Cart".Localize())</span>
                            </button>
                            <button type="submit" value="clear" name="cartbutton" class="gray">
                                <span>@("Clear Shopping Cart".Localize())</span>
                            </button>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    @{ Html.RenderPartial("LineItems", Model); }
                </tbody>
            </table>
        </fieldset>
                    
      }}
    <div class="columns clearfix">
        <div class="grid_4">
            <div class="cart-block">
                @Html.EditorFor(m => m.ShippingEstimateModel, "ShippingEstimate")
            </div>
        </div>
        <div class="grid_4">
            <div class="cart-block">
                <form>
                    <span class="title">@("Discount Codes".Localize())</span>
                    <p>@("Enter your coupon code if you have one.".Localize())</p>
                    <div class="control-group">
                        @Html.TextBoxFor(m => m.CouponCode)
                    </div>
                    <div class="button-group">
                        <button type="button" title="@("Apply Coupon".Localize())"
                                onclick="VirtoCart.updateCoupon($('#CouponCode').val(), true, function(context){VirtoCart.onUpdate(context);});"
                                value="ApplyCoupon">
                            <span>@("Apply Coupon".Localize())</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="grid_4">
            <div class="cart-block cart-total">
                <table>
                    <colgroup>
                        <col>
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>@("Subtotal".Localize())</td>
                            <td id="cart-subtotal">@Model.SubTotalPriceFormatted</td>
                        </tr>
                        <tr id="shippingRow" style="display: none;">
                            <td>@("Shipping".Localize())
                            </td>
                            <td id="cart-shipping">@Model.ShippingPriceFormatted</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>@("Grand total".Localize())</td>
                            <td id="cart-total">@Model.TotalPriceFormatted</td>
                        </tr>
                    </tfoot>
                </table>
                <ul class="checkout-types">
                    <li>
                        <button class="proceed" onclick="VirtoCart.checkout();">
                            <span>@("Proceed to checkout".Localize())</span>
                        </button>
                    </li>
                    @*                    <li><a href="">Checkout with Multiple Addresses</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <div id="cartSuggestDynamic" style="padding: 15px;">
        <div class="cart-block">
            <span class="title">@("You may also be interested in:".Localize())</span>
            <ul id="crosssell-products-list" class="products-list grid" style="padding-bottom: 0;">
@*                @{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "CartSuggest" }, true);}*@
            </ul>
        </div>
    </div>
</div>

