@model CartModel
<div id="MiniCartContainer">
@using (Ajax.BeginForm(new AjaxOptions { UpdateTargetId = "MiniCartContainer" }))
{
	<div class="summary">
		<p class="amount">
			@("There are".LocalizeHtml()) <a href="@Url.Action("Index","Cart")"><span id="cart-count">@Model.LineItems.Count() @("items".LocalizeHtml())</span></a> @("in your cart".LocalizeHtml()).</p>
		<p class="subtotal">
			<span class="label">@("Cart Subtotal:".LocalizeHtml())</span> <span class="price" id="cart-subtotal">@Model.SubTotalPriceFormatted</span>
		</p>
	</div>
	<p class="block-subtitle">
		@("Recently added item(s)".LocalizeHtml())</p>
	<ol class="mini-products-list" id="cart-sidebar">
		@for (var i = 0; i < Model.LineItems.Count(); i++)
		{
			@Html.EditorFor(m => Model.LineItems[i], "MiniLineItem", new { index = i, total = Model.LineItems.Count() })
		}
	</ol>
}
</div>