<h1>{{ 'customer.account.title' | t }}</h1>
{% include 'customer-menu' %}
<hr class="hr--small" />
<div class="grid">
    <div class="grid-item medium-down--one-whole">
        <h4 id="quote-request-number" ng-bind="'Quote request #' + customerQuoteRequest.Number"></h4>
        <p ng-if="customerQuoteRequest.Comment" ng-bind-html="trustedHtml('Comment: <b>' + customerQuoteRequest.Comment + '</b>')"></p>
        <p ng-bind-html="trustedHtml('Created at: <b>' + customerQuoteRequest.CreatedDate + '</b>')"></p>
        <p ng-bind-html="trustedHtml('Status: <b>' + customerQuoteRequest.Status + '</b>')"></p>
        <div class="cart-row" style="height: 30px; font-weight: 600;">
            <div class="grid">
                <div class="grid-item large--seven-twelfths">
                    <div class="grid">
                        <div class="grid-item one-third large--one-quarter">
                            &nbsp;
                        </div>
                        <div class="grid-item one-third">
                            Title
                        </div>
                        <div class="grid-item one-third">
                            Comment
                        </div>
                    </div>
                </div>
                <div class="grid-item large--five-twelfths medium--two-thirds push--medium--one-third">
                    <div class="grid">
                        <div class="grid-item one-third medium-down--one-third text-left">
                            Original price
                        </div>
                        <div class="grid-item one-third medium-down--one-third text-left">
                            QTY
                        </div>
                        <div class="grid-item one-third medium-down--one-third text-left">
                            Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-row quote" ng-repeat="quoteItem in customerQuoteRequest.Items">
            <div class="grid">
                <div class="grid-item large--seven-twelfths">
                    <div class="grid">
                        <div class="grid-item one-third large--one-quarter">
                            <img ng-src="{( quoteItem.ImageUrl )}" />
                        </div>
                        <div class="grid-item one-third" ng-bind="quoteItem.Name"></div>
                        <div class="grid-item one-third" ng-bind="quoteItem.Comment"></div>
                    </div>
                </div>
                <div class="grid-item large--five-twelfths medium--two-thirds push--medium--one-third">
                    <div class="grid">
                        <div class="grid-item one-third medium-down--one-third text-right">
                            <div class="js-qty" ng-bind="quoteItem.SalePrice.FormatedAmount"></div>
                        </div>
                        <div class="grid-item one-third medium-down--one-third text-right">
                            <div class="js-qty" ng-repeat="proposalPrice in quoteItem.ProposalPrices" ng-bind="proposalPrice.Quantity"></div>
                        </div>
                        <div class="grid-item one-third medium-down--one-third text-right">
                            <div class="js-qty" ng-repeat="proposalPrice in quoteItem.ProposalPrices">
                                <input class="proposal-price-radio" id="{( 'QuoteItem_' + quoteItem.Id + '_' + proposalPrice.Id )}" name="{( 'QuoteItem_' + quoteItem.Id + '_ProposalPrice' )}" style="display: inline-block;" type="radio" ng-model="quoteItem.SelectedTierPrice" ng-checked="proposalPrice.Quantity == quoteItem.SelectedTierPrice.Quantity" ng-change="getQuoteRequestTotals(quoteItem.Id, proposalPrice)" ng-disabled="customerQuoteRequest.Status == 'Rejected'" />
                                <label for="{( 'QuoteItem_' + quoteItem.Id + '_' + proposalPrice.Id )}" style="display: inline-block;" ng-bind="proposalPrice.Price.FormatedAmount"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-row" id="quote-totals">
            <div class="grid">
                <div class="grid-item text-right">
                    <div class="cart-total">
                        Subtotal
                        <span class="h1 cart-subtotal--price">
                            <small id="quote-subtotal" ng-bind="customerQuoteRequest.Totals.SubTotalExlTax.FormatedAmount"></small>
                        </span>
                    </div>
                    <div class="cart-total" ng-if="customerQuoteRequest.Totals.DiscountTotal.Amount > 0">
                        Discount
                        <span class="h1 cart-subtotal--price">
                            <small id="quote-subtotal" ng-bind="customerQuoteRequest.Totals.DiscountTotal.FormatedAmount"></small>
                        </span>
                    </div>
                    <div class="cart-total">
                        Tax
                        <span class="h1 cart-subtotal--price">
                            <small id="quote-tax-total" ng-bind="customerQuoteRequest.Totals.TaxTotal.FormatedAmount"></small>
                        </span>
                    </div>
                    <div class="cart-total">
                        Grand total
                        <span class="h1 cart-subtotal--price">
                            <small id="quote-grand-total" ng-bind="customerQuoteRequest.Totals.GrandTotalInclTax.FormatedAmount"></small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-row" style="border-top: none;">
            <div class="grid">
                <div class="grid-item three-thirds medium-down--one-whole">
                    <div class="cart-btn--block">
                        {% unless quote_request.status == 'Proposal sent' and quote_request.status == 'Rejected' %}
                            {% assign edit_quote_request_url = '/quoterequest/quote-request/' | append: quote_request.id | append: '/edit/' %}
                            <a class="btn-secondary" href="{{ edit_quote_request_url | absolute_url }}">Edit request</a>
                        {% endunless %}
                        {% if quote_request.status == 'Proposal sent' %}
                            {% assign reject_quote_request_url = '/quoterequest/quote-request/' | append: quote_request.id | append: '/reject/' %}
                            <a class="btn-secondary" href="{{ reject_quote_request_url | absolute_url }}">Reject proposal</a>
                            {% unless quote_request.status == 'On hold' and quote_request.status == 'Rejected' and quote_request.is_cancelled %}
                                {% assign confirm_quote_request_url = '/quoterequest/quote-request/' | append: quote_request.id | append: '/confirm/' %}
                                <a class="btn large--right" href="{{ confirm_quote_request_url | absolute_url }}" style="color: #ffffff;">Confirm and checkout</a>
                            {% endunless %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.quoteRequestNumber = '{{ quote_request.id }}';
</script>