<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-touch no-js">
  <!--<![endif]-->
  <head>

    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% if settings.favicon_enable %}
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        {% endif %}

        <!-- Title and description ================================================== -->
        <title>
          {{ page_title }}{% if current_tags %}{% assign current_tags_joined = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags_joined }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        </title>

        {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
          {% endif %}

          <!-- Product meta ================================================== -->
          {% include 'open-graph-tags' %}
          {% include 'twitter-card' %}

          <!-- Helpers ================================================== -->
          <link rel="canonical" href="{{ canonical_url }}">
              <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"></link>
            <meta name="viewport" content="width=device-width,initial-scale=1">

              {% if settings.ajax_cart_enable %}
              <!-- Ajaxify Cart Plugin ================================================== -->
              {{ 'ajaxify.scss.css' | asset_url | stylesheet_tag }}
              {% endif %}

              <!-- CSS ================================================== -->
              {{ 'default.scss.css' | asset_url | stylesheet_tag }}
              {% include 'google-fonts' %}

              <!-- Header hook for plugins ================================================== -->
                {{ content_for_header }}

                {% include 'oldIE-js' %}

                {% comment %}
                If you store has customers disabled, you can remove the following JS file
                {% endcomment %}
                {% if template contains 'customers' or template contains 'quote' %}
                {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
                {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
                {% endif %}

                {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
                {{ '//ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js' | script_tag }}
                {{ '//ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js' | script_tag }}
                {{ 'jquery.datetimepicker.css' | asset_url | stylesheet_tag }}
                {{ 'jquery.datetimepicker.full.min.js' | asset_url | script_tag }}
                {% if settings.slider_home_enable %}
                {{ 'jquery.flexslider.min.js' | asset_url | script_tag }}
                {{ 'flexslider.css' | asset_url | stylesheet_tag }}
                {% endif %}
                {{ 'modernizr.min.js' | asset_url | script_tag }}
                {{ 'virtocommerce.js' | shopify_asset_url | script_tag }}
                {{ 'validation.js' | shopify_asset_url | script_tag }}

                {% if facebook_tracking_id != null %}
                <script>
                    (function() {
                    var _fbq = window._fbq || (window._fbq = []);
                    if (!_fbq.loaded) {
                    var fbds = document.createElement('script');
                    fbds.async = true;
                    fbds.src = '//connect.facebook.net/en_US/fbds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(fbds, s);
                    _fbq.loaded = true;
                    }
                    _fbq.push(['addPixelId', '{{ facebook_tracking_id }}']);
                    })();
                    window._fbq = window._fbq || [];
                    window._fbq.push(['track', 'PixelInitialized', {}]);
                </script>
                <noscript>
                    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id={{ facebook_tracking_id }}&ev=PixelInitialized" />
                </noscript>
                {% endif %}

                <base href="{{ shop.simplified_url }}" />
        </head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
      {% if google_analytics_tracking_id != null %}
      <script type="text/javascript">
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '{{ google_analytics_tracking_id }}', 'auto');
          ga('send', 'pageview');

      </script>
	  
      {% endif %}
      {% if settings.store_selector_enable %}{% include 'top-header-selector' %}{% endif %}

      <header class="site-header" role="banner">
    <div class="wrapper">
        <div class="grid--full">
            <div class="grid-item large--one-third">
            {% if template == 'index' %}
                <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
            {% else %}
                <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
            {% if settings.logo_use_image %}
                <a href="{{ shop.simplified_url }}" itemprop="url">
                    <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
                </a>
            {% else %}
                <a href="{{ shop.simplified_url }}" itemprop="url">{{ shop.name }}</a>
            {% endif %}
            {% if template == 'index' %}
                </h1>
            {% else %}
                </div>
            {% endif %}
        </div>

        <div class="grid-item large--two-third text-center large--text-right">
          {% if settings.header_message != blank or shop.customer_accounts_enabled %}
          <div class="site-header--text-links{% if settings.header_message == blank %} medium-down--hide{% endif %}">
            {% if settings.header_message != blank %}
            {{ settings.header_message }}
            {% endif %}

            {% if shop.customer_accounts_enabled %}
            <span class="site-header--meta-links medium-down--hide">
              {% if customer %}
              {% capture first_name %}<a href="{{ shop.simplified_url }}/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }} &middot; {{ 'layout.customer.log_out' | t | customer_logout_link }}
              {% else %}
              {{ 'layout.customer.sign_in' | t | customer_login_link }}
              {% if shop.customer_accounts_optional %}
              <span class="site-header--spacer">{{ 'layout.customer.or' | t }}</span>
              {{ 'layout.customer.create_account' | t | customer_register_link }}
              {% endif %}
              {% endif %}
            </span>
            {% endif %}
          </div>

          <br class="medium-down--hide">
            {% endif %}

            {% include 'search-bar' %}

            {% if shop.quotes_enabled %}
                <a href="{{ shop.simplified_url }}/quote" class="header-cart-btn cart-toggle">
                    <span class="fa fa-calculator"></span>
                    {{ 'layout.quotes.quotes' | t }}
                    <span id="quoteCount"{% if actual_quote_request.items_count == 0 %} class="hidden-count"{% endif %}">{{ actual_quote_request.items_count }}</span>
                </a>
            {% endif %}

            <a href="{{ shop.simplified_url }}/cart" class="header-cart-btn cart-toggle" id="btn-cart-toggle">
              <span class="icon icon-cart"></span>
              {{ 'layout.cart.cart' | t }} <span id="cartCount" {% if cart.item_count == 0 %}class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
            </a>
          </div>
      </div>

      </div>
    </header>

    <nav class="nav-bar" role="navigation">
      <div class="wrapper">
        {% include 'search-bar' %}
        {% include 'site-nav' %}
      </div>
    </nav>

    <div id="mobileNavBar">
      <div class="display-table-cell">
        <a class="menu-toggle mobileNavBar-link">{{ 'layout.navigation.mobile_menu' | t }}</a>
      </div>
      <div class="display-table-cell">
        <a href="{{ shop.simplified_url }}/cart" class="cart-toggle mobileNavBar-link">
          <span class="icon icon-cart"></span>
          {{ 'layout.cart.cart' | t }}
        </a>
      </div>
    </div>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    {% include 'footer' %}

    {{ 'shop.js' | asset_url | script_tag }}
    <script>
      var moneyFormat = '{{ shop.money_format }}';
    </script>

    {% if settings.ajax_cart_enable %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'ajax-cart-template' %}
    {{ 'ajaxify.js' | asset_url | script_tag }}
    <script>
        jQuery(function($) {
        ajaxifyShopify.init({
        method: '{{ settings.ajax_cart_method }}',
        wrapperClass: 'wrapper',
        formSelector: '#addToCartForm',
        addToCartSelector: '#addToCart',
        cartCountSelector: '#cartCount',
        toggleCartButton: '#btn-cart-toggle',
        useCartTemplate: true,
        btnClass: 'btn',
        moneyFormat: {{ shop.money_format | json }},
        disableAjaxCart: false,
        enableQtySelectors: true
        });
        });
    </script>
      {% endif %}
      {% if settings.google_analytics_tracking_id != null %}
      <script src="https://apis.google.com/js/platform.js" async="" defer=""></script>
      {% endif %}

  </body>
</html>
