<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/default/css")
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,cyrillic-ext,cyrillic" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/responsive")
    <base href="~/" />

</head>
<body>
    <div id="layout">
        <div class="header-wrap">
            <div class="head-top">
                @RenderSection("HeadTop",false)
            </div>
            <header role="banner" class="header">
                <div class="rubber clearfix">
                    <div class="grid_12">
                        <p class="">
                            <a href="@Url.Content("~")">Virto Commerce</a>
                        </p>
                        @RenderSection("Navigation", false)
                        @RenderSection("MiniActions", false)
                    </div>
                </div>
            </header>
        </div>
        <div class="article-wrap">
            <article role="main" class="article clearfix">
                <div class="rubber">
                    @RenderBody()
                </div>
            </article>
        </div>
        <div class="footer-wrap">
            <footer role="contentinfo" class="footer rubber clearfix">
                <div class="grid_6">
                    <address>
                        @("Version:".Localize()) @Html.Version() - <a href="http://support.virtocommerce.com"
                            onclick="this.target='_blank'"><strong>@("Report Issues".Localize())</strong></a>
                        &copy; 2014 @("Powered by".Localize()) <a href="http://virtocommerce.com">Virto Commerce</a>
                    </address>
                </div>
                <div class="grid_6">
                    <ul class="links">
                        <li><a href="#" title="About Us">@("About Us".Localize())</a></li>
                        <li><a href="#" title="Delivery &amp; Returns">@("Delivery & Returns".Localize())</a></li>
                        <li><a href="#" title="Terms &amp; Conditions">@("Terms & Conditions".Localize())</a></li>
                        <li><a href="#" title="Contact Us">@("Contact Us".Localize())</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymisc")
</body>
</html>
