@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/themes/default/css")
    <link href="@Url.Content("~/Content/themes/default/print.css")" rel="stylesheet" type="text/css" media="print" />
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=latin,cyrillic-ext,cyrillic" />

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <base href="@Url.Content("~")" />

    <script type="text/javascript">
        $(document).ready(function ()
        {
            window.isPopup = true;
        });
    </script>
</head>
<body>
    <div class="compare page-print">
        <header>
            <h1>@ViewBag.Title</h1>
            <a onclick="window.print(); return false;" href="" class="print">Print this page</a>
        </header>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerymisc")
</body>
</html>
