@{
    Layout = "_LayoutBase.cshtml";
}

<!-- Section rewriting -->
@this.RedefineSection("Slider")
@this.RedefineSection("PageTitle")
@this.RedefineSection("scripts")
@this.RedefineSection("Bottom")

@RenderBody()

@section Navigation
{
    @{ Html.RenderAction("Menu", "Store", true); }
}

@section MiniActions
{
    <div class="head-top-block">
        <a class="control"></a>
        <div class="search">
            @Html.Display("", "search")
        </div>
        <div class="cart-options">
@*            @{ Html.RenderAction("CartOptions", "Store", true); }*@
        </div>
    </div>
}