@using System.Reflection
@using VirtoCommerce.Foundation.Frameworks.Extensions
<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/Content/themes/default/s")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	<base href="~/" />
</head>
<body class="cms-index-index cms-home">
	@if (Session["HideDemoNotice"] == null || !(bool)Session["HideDemoNotice"])
 {
		<div class="demo-notice-container" onclick="VirtoCommerce.hideDemoNotice();">
			<div style="height: 25px;"></div>
			<div class="demo-notice">
				<div class="close-demo-notice">×</div>
				<p class="msg">
					@("This is a demo store. Any orders placed through this store will <span>NOT</span> be honored or fulfilled.".LocalizeHtml())
				</p>
			</div>
		</div>
 }
    <div class="page">
        <div class="header-container">
            <div class="header">
                <a href="@Url.Content("~/")" title="Demo Store" class="logo"><strong>Virto Commerce</strong><img src="@Url.Content("~/Content/themes/default/images/logo.png")"
                                                                                                                 alt="Virto Commerce" /></a>

                <p class="top-promo">@{Html.RenderAction("ShowDynamicContent", "Banner", new { placeName = "TopPromo" });}</p>
                <div class="nav-container">
                    @Html.MvcSiteMap().Menu(false, true, false)
                </div>
            </div>
            <div class="language-bar quick-access">
                @{Html.RenderPartial("Languages");}
            </div>
            <div class="quick-access-bar">
                @{Html.RenderAction("QuickAccess", "Store");}
            </div>
            <div class="top-bar">
                @Html.MvcSiteMap().SiteMapPath()
                @Html.Display("", "search")
            </div>
        </div>
        @RenderBody()
        <div class="footer-container">
            <div class="footer">
                <div class="f-right">
                    @{Html.RenderAction("StorePicker", "Store");}
                </div>
                <div class="f-left">
                    <ul>
                        <li><a href="#">@("About Us".LocalizeHtml())</a></li>
                        <li class="last"><a href="#">@("Customer Service".LocalizeHtml())</a></li>
                    </ul>
                    <ul class="links">
                        <li class="first"><a href="#"
                                             title="@("Site Map".LocalizeHtml())">@("Site Map".LocalizeHtml())</a></li>
                        <li><a href="#" title="@("Search Terms".LocalizeHtml())">@("Search Terms".LocalizeHtml())</a></li>
                        <li><a href="#" title="@("Advanced Search".LocalizeHtml())">@("Advanced Search".LocalizeHtml())</a></li>
                        <li><a href="#" title="@("Contact Us".LocalizeHtml())">@("Contact Us".LocalizeHtml())</a></li>
                        <li class="last"><a href="#" title="@("RSS".LocalizeHtml())" class="link-rss">@("RSS".LocalizeHtml())</a></li>
                    </ul>
                    <form action="#" method="post"
                          id="newsletter-validate-detail">
                        <div class="form-subscribe">
                            <label for="newsletter">@("Newsletter Sign-up:".LocalizeHtml())</label>
                            <div class="input-box">
                                <input type="text" name="email" id="newsletter" title="@("Sign up for our newsletter".LocalizeHtml())"
                                       class="input-text required-entry validate-email" />
                            </div>
                            <button type="submit" title="@("Submit".LocalizeHtml())" class="button">
                                <span><span>@("Submit".LocalizeHtml())</span></span></button>
                        </div>
                    </form>
                    <p class="bugs">
                        @("Version:".LocalizeHtml()) @Html.Version() - <a href="http://support.virtocommerce.com"
                                                                          onclick="this.target='_blank'"><strong>@("Report Issues".LocalizeHtml())</strong></a>
                    </p>
                    <address>
                        <a href="http://virtocommerce.com" target="_blank">@("© 2013 VirtoCommerce Demo Store. All Rights Reserved.".LocalizeHtml())</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
    
    <div class="virto-brand-container">
        <div class="virto-brand">
            <a href="http://www.virtocommerce.com"><img alt="VirtoCommerce" src="@Url.Content("~/Content/themes/default/images/brand.png")"></a>
            <h4><a href="http://www.virtocommerce.com">@("Powered by<br/> Virto Commerce".LocalizeHtml())</a></h4>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/jquerymisc")
	@RenderSection("scripts", required: false)

	@if (SettingsHelper.GetSettings("FollowServices").Any())
	{
		<!-- AddThis Smart Layers BEGIN -->
		<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51ec4b273d0b77ad"></script>
		<script type="text/javascript">

		// this will be called once all Smart Layers have been rendered
			var callback = function(smartlayer) {
				// remove all layers currently on the page
				smartlayer.destroy();

				var layers = {
					'theme': 'transparent',
					'follow': {
						'services': [],
						//'title': 'Follow',
						'postFollowTitle': '@("Thanks for following!".LocalizeHtml())',
						'postFollowRecommendedMsg': '@("Recommended for you".LocalizeHtml())',
						'mobile': true,
						'theme': 'transparent'
					}
				};

				@foreach (var follow in SettingsHelper.GetSettings("FollowServices"))
				{
					var followStrSplit = follow.ToString().Split(new[] {":"}, StringSplitOptions.RemoveEmptyEntries);

					<text>
				layers.follow.services.push({
						@if (followStrSplit.Length > 0)
						{
							@:'service': '@followStrSplit[0]'
						}
						@if (followStrSplit.Length > 1)
						{
							@:, 'id': '@followStrSplit[1]'
						}
						@if (followStrSplit.Length > 2)
						{
							@:, 'usertype': '@followStrSplit[2]'
						}
				    });
				</text>
				}

				// now render Recommended and What's Next Layers
				window.addthis.layers(layers);
			};

			addthis.layers({
				'theme': 'transparent',
				'share': {}
			}, callback);

		</script>
		<!-- AddThis Smart Layers END -->
	}

	@{
		var firstOrDefault = StoreHelper.GetSettings("AnalyticsField").FirstOrDefault() ?? 
							 (object)SettingsHelper.GetSettings("AnalyticsField").FirstOrDefault();
		if (firstOrDefault != null)
		{
			@Html.Raw(firstOrDefault.ToString())
		}
	}
</body>
</html>
