@model CatalogItemWithPriceModel

@if (Model != null)
{
	<ul class="add-to-links">
		<li>
			<a href="#" onclick=" return VirtoCart.addToWishList('@("Item added to wish list".LocalizeHtml())', '@Url.Encode(Model.CatalogItem.ItemId)','@Url.Encode(Model.CatalogItem.ParentItemId)', 1)" class="link-wishlist">@("Add to Wishlist".LocalizeHtml())</a></li>
		@if (!ViewData.Keys.Contains("NoCompare"))
		{
			<li><span class="separator">|</span> <a href="#" onclick=" return VirtoCart.addToCompareList('@("Item added to compare list".LocalizeHtml())', '@Url.Encode(Model.CatalogItem.ItemId)','@Url.Encode(Model.CatalogItem.ParentItemId)', 1) "
			                                        class="link-compare">@("Add to Compare".LocalizeHtml())</a></li>
		}
	</ul>
}