@model CatalogItemWithPriceModel

@if (Model != null)
{
    <li>
        <a href="#" onclick="return VirtoCart.addToWishList('@("Item added to wish list".LocalizeHtml())', '@Url.Encode(Model.CatalogItem.ItemId)','@Url.Encode(Model.CatalogItem.ParentItemId)', 1)">
            <span>+</span>
            @("Add to Wishlist".Localize())
        </a>
    </li>
    if (!ViewData.Keys.Contains("NoCompare"))
    {
    <li>
        <a href="#" onclick="return VirtoCart.addToCompareList('@("Item added to compare list".LocalizeHtml())', '@Url.Encode(Model.CatalogItem.ItemId)','@Url.Encode(Model.CatalogItem.ParentItemId)', 1)">
            <span>+</span>
            @("Add to Compare".Localize())
        </a>
    </li>
    }
}