@using VirtoCommerce.Web.Virto.Helpers
@model CatalogItemWithPriceModel

@helper NoSaleResult()
{
    <span class="no-sale">@("Not for Sale".Localize())</span>
}


@if (Model != null)
{
    var hasVariations = Model != null && Model.CatalogItem != null && Model.CatalogItem.Item is Product && CatalogHelper.CatalogClient.GetItemRelations(Model.CatalogItem.ItemId).Any();
    var canBeAdded = (Model.Availability == null || Model.Availability.IsAvailable) && Model.Price != null && Model.Price.Type != PriceType.None;

    if (hasVariations)
    {
        if (Model.Price != null && !string.Equals(ViewData["View"] as string, "Details"))
        {
            //@Html.DisplayFor(m => m.Price)
        }
    }
    else
    {
        switch ((string)ViewData["View"])
        {
            case "List":
                if (canBeAdded)
                {
                    <button type="button" title="@("Add to Cart".Localize())" onclick="return VirtoCart.addToCartClick(this, {itemId:'@(Model.CatalogItem != null ? Model.CatalogItem.ItemId : "")', quantitySelector:'@(Model.CatalogItem != null ? "#qty_" + Model.CatalogItem.ItemId.EscapeSelector() : "")', parentItemId:'@Model.CatalogItem.ParentItemId',callback:@(ViewData["CallbackJs"] ?? "null")}); ">
                        @("Add to Cart".Localize())
                    </button>
                }
                else
                {
                    @NoSaleResult()
                }
                break;
            case "ListLink":
                if (canBeAdded)
                {
                    <a href="" title="@("Add to Cart".Localize())" onclick="return VirtoCart.addToCartClick(this, {itemId:'@(Model.CatalogItem != null ? Model.CatalogItem.ItemId : "")', quantitySelector:'@(Model.CatalogItem != null ? "#qty_" + Model.CatalogItem.ItemId.EscapeSelector() : "")', parentItemId:'@Model.CatalogItem.ParentItemId',callback:@(ViewData["CallbackJs"] ?? "null")}); ">
                        @("Add to Cart".Localize())
                    </a>
                }
                else
                {
                    @NoSaleResult()
                }
                break;
            default:
                if (canBeAdded)
                {
                    <button type="button" title="@("Add to Cart".Localize())" onclick="return VirtoCart.addToCartClick(this, {itemId:'@(Model.CatalogItem != null ? Model.CatalogItem.ItemId : "")', parentItemId:'@(Model.CatalogItem != null ? Model.CatalogItem.ParentItemId : "")',callback:@(ViewData["CallbackJs"] ?? "null")});">
                        <span>@("Add to Cart".Localize())</span>
                    </button>
                }
                else
                {
                    @NoSaleResult()
                }
                break;
        }
    }
}