@model CatalogItemWithPriceModel

@if (Model != null)
{
    if (!ViewData.Keys.Contains("NoCompare"))
    {
        @:<li class="wishlist">
    }
    else
    {
        @:<p>
    }
            <a href="#" onclick="return VirtoCart.addToWishList({itemId:'@Url.Encode(Model.CatalogItem.ItemId)', parentItemId:'@Url.Encode(Model.CatalogItem.ParentItemId)'}) ">
                @if (!string.Equals(ViewData["View"], "Details"))
                {
                    <span>+</span>
                }
                @("Add to Wishlist".Localize())
            </a>
    if (!ViewData.Keys.Contains("NoCompare"))
            {
        @:</li>
    }
    else
    {
        @:</p>
    }
    if (!ViewData.Keys.Contains("NoCompare"))
    {
        <li class="compare">
            <a href="#" onclick="return VirtoCart.addToCompareList({itemId:'@Url.Encode(Model.CatalogItem.ItemId)', parentItemId:'@Url.Encode(Model.CatalogItem.ParentItemId)'})">
                @if (!string.Equals(ViewData["View"], "Details"))
                {
                    <span>+</span>
                }
                @("Add to Compare".Localize())
            </a>
        </li>
    }
}