@using VirtoCommerce.Web.Virto.Helpers.Popup
@{
    Layout = null;
}
@if (Model.Type == PopupType.Button)
{
    <button type="button" class="button @Model.ButtonCssClass" title="@Model.ButtonText" rel="popup" data-link="@Url.Content(Model.ViewName)">
        <span>
            @Model.ButtonText
        </span>
    </button>
}
else
{
    <a rel="popup" class="@Model.ButtonCssClass" href="@Url.Content(Model.ViewName)">@Model.ButtonText</a>
}