@model CartModel
           
<table class="data-table">
    <colgroup>
       <col style="width: 60%;">
       <col>
       <col style="width: 40%;">
    </colgroup>
    <thead>
        <tr>
            <th align="left">@("Product".Localize())</th>
            <th>@("Qty".Localize())</th>
            <th align="left">@("Subtotal".Localize())</th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.LineItems.Count(); i++)
        {
            @Html.DisplayFor(m => Model.LineItems[i], "LineItem", new { index = i, total = Model.LineItems.Count() })
        }
    </tbody>
    <tfoot>
        <tr>
            <td  align="right" colspan="2">@("Subtotal".Localize())</td>
            <td>@Model.SubTotalPriceFormatted</td>
        </tr>
        <tr>
            <td  align="right" colspan="2">@("Shipping".Localize())</td>
            <td>@Model.ShippingPriceFormatted</td>
        </tr>
        <tr>
            <td  align="right" colspan="2">@("Tax total".Localize())</td>
            <td>@Model.TaxTotalPriceFormatted</td>
        </tr>
        <tr>
            <td align="right" colspan="2">@("Discount total".Localize())</td>
            <td>@Model.DiscountTotalPriceFormatted</td>
        </tr>
        <tr>
            <td  align="right" colspan="2" class="grand">@("Grand total".Localize())</td>
            <td class="grand">@Model.TotalPriceFormatted</td>
        </tr>
    </tfoot>
</table>
