@using System.Globalization
@using PayPal.PayPalAPIInterfaceService.Model
@using VirtoCommerce.Web.Virto.Helpers
@model CheckoutModel
@{
    Layout = Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewBag.PageTitle = "Checkout".Localize();
    ViewBag.Title = Html.Title((string)ViewBag.PageTitle);
    var hasAddresses = Model.AddressBook.Addresses != null && Model.AddressBook.Addresses.Any();
}

<script src="~/Scripts/v/virto-checkout.js" type="text/javascript"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
@Scripts.Render("~/bundles/geo")

<script type="text/javascript">
    var v_regions = @Html.JsonSerialize(Model.BillingAddress.ScriptCountryRegions)
    var v_codes = {};

    @{
        foreach (var x in from ri in
            from ci in CultureInfo.GetCultures(CultureTypes.SpecificCultures)
            select new RegionInfo(ci.LCID)
            group ri by ri.TwoLetterISORegionName into g
            select new
            {
                Two = g.Key,
                Three = g.First().ThreeLetterISORegionName
            })
        {
            @:v_codes['@x.Two'] ='@x.Three';
        }
    }
	$(function ()
	{
	    $(VirtoCheckout.bindAddresses());
	    $(VirtoCheckout.bindGiftMessage());
	    $(VirtoCheckout.bindAccount());
	    $("#checkout-address input:not([type='hidden']),#checkout-address select").each(function ()
	    {
	        $(this).bind("change", function ()
	        {
	            var isValid = true;
	            $("#checkout-address input:not([type='hidden']),#checkout-address select").each(function ()
	            {
	                if ($(this).is(":visible") && !$(this).valid())
	                {
	                    isValid = false;
	                    return false;
	                }
	                return true;
	            });

	            if (isValid)
	            {
	                //Workaround: wait some time for other change events to complete
	                setTimeout(function ()
	                {
	                    VirtoCheckout.submitChanges();
	                    VirtoCheckout.updateShipments("checkoutsubmit");
	                }, 200);
	            }

	        });
	    });
	});
</script>

@section PageTitle
{
    @*Do not show this button here because it makes checkout process compicated
        @{
        Html.RenderPartial("PaypalExpressButton");
    }*@
}

<div class="checkout clearfix">
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("ProcessCheckout", "Checkout", FormMethod.Post, new { id = "onestepcheckout-form" }))
    {
        if (!UserHelper.CustomerSession.IsRegistered)
        {
        <div style="margin: 0 0 15px 15px;">
            @{Html.RenderPartial("PopupBase", Model);}
        </div>
        }
        <div class="grid_4">
            <div class="address" id="checkout-address">
                <div class="billing" id="billing_address">
                    <header>
                        <h2>
                            <span class="step">1</span>@("Billing address".Localize())
                        </h2>
                    </header>
                    <div class="data-form">
                        <!-- Logged in -->
                        @if (UserHelper.CustomerSession.IsRegistered && hasAddresses)
                        {              
                            <div class="control-group">
                                <label for="BillingAddressId">@("Select a billing address from your address book or enter a new address.".Localize())</label>
                                <select id="BillingAddressId" onchange="VirtoCheckout.addressChanged(!this.value, 'billing')" name="AddressBook.BillingAddressId">
                                    @foreach (var addr in Model.AddressBook.Addresses)
                                    {
                                        <option value="@addr.AddressId">@addr</option>
                                    }
                                    <option value="">@("New Address".Localize())</option>
                                </select>
                            </div>
                        }
                        <div id="billing_address_list" style="@(hasAddresses ? "display: none" : "")">
                            @Html.EditorFor(m => m.BillingAddress, "Address")
                            @Html.HiddenFor(m => m.AddressBook.BillingAddressId)

                            @if (!UserHelper.CustomerSession.IsRegistered)
                            {
                                <div class="control-group">
                                    <label class="control">
                                        @Html.CheckBoxFor(m => m.CreateAccount, new { onclick = "VirtoCheckout.toggleAccount();" })
                                        @("Create an account for later use".Localize())
                                    </label>
                                </div>
                                <div class="control-group account" id="onestepcheckout-li-password" style="display: none;">
                                    <div class="column">
                                        @Html.LabelFor(m => m.Password)
                                        @Html.PasswordFor(m => m.Password)
                                    </div>
                                    <div class="column">
                                        @Html.LabelFor(m => m.ConfirmPassword)
                                        @Html.PasswordFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="control-group">
                                    <label class="control">
                                        @Html.CheckBoxFor(m => m.AddressBook.SaveBillingAddress, null)
                                        @("Save in address book".Localize())
                                    </label>
                                </div>
                            }
                        </div>
                        <footer>
                            <div class="control-group">
                                <label class="control">
                                    @Html.CheckBoxFor(m => m.UseForShipping, new { onclick = "VirtoCheckout.toggleAddress();" })
                                    @("Ship to the same address".Localize())
                                </label>
                            </div>
                        </footer>
                    </div>
                </div>
                <div class="shipping" id="shipping_address">
                    <header>
                        <h2>@("Shipping address".Localize())</h2>
                    </header>
                    <div class="data-form">
                        <!-- Logged in -->
                        @if (UserHelper.CustomerSession.IsRegistered && hasAddresses)
                        {
                            <div class="control-group">
                                <label for="ShippingAddressId">
                                    @("Select a shipping address from your address book or enter a new address.".Localize())</label>
                                <select onchange="VirtoCheckout.addressChanged(!this.value, 'shipping')" id="ShippingAddressId" name="AddressBook.ShippingAddressId">
                                    @foreach (var addr in Model.AddressBook.Addresses)
                                    {
                                        <option value="@addr.AddressId">@addr</option>
                                    }
                                    <option value="">@("New Address".Localize())</option>
                                </select>
                            </div>
                        }
                        <div id="shipping_address_list" style="@(hasAddresses ? "display: none" : "")">
                            @Html.EditorFor(m => m.ShippingAddress, "Address")
                            @if (UserHelper.CustomerSession.IsRegistered)
                            {
                                <div class="control-group">
                                    <label class="control">
                                        @Html.CheckBoxFor(m => m.AddressBook.SaveShippingAddress, null)
                                        @("Save in address book".Localize())
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <div class="methods">
                <div class="shipping-method">
                    <header>
                        <h2><span class="step">2</span> @("Shipping method".Localize())</h2>
                    </header>
                    <div class="method" id="shipping-methods">
                        <script type="text/javascript">//&lt;![CDATA[
                            $(VirtoCheckout.updateShipments());
                            //]]&gt;</script>
                    </div>
                </div>
                <div class="payment-method">
                    <header>
                        <h2><span class="step">3</span> @("Payment method".Localize())</h2>
                    </header>
                    <div class="method clearfix" id="payment-methods">
                        <ul class="methods pay-list">
                            <li>@("Select shipping method".Localize())</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid_4">
            <header>
                <h2><span class="step">4</span>@("Review your order".Localize())</h2>
            </header>
            <div class="order">
                <div id="checkout-cart">
                    <script type="text/javascript">//&lt;![CDATA[
                        $(VirtoCheckout.updateCart());
                        //]]&gt;</script>
                </div>
                <div class="block">
                    <div class="control-group">
                        @Html.LabelFor(m => m.CouponCode, "Coupon code:".Localize())
                        @Html.TextBoxFor(m => m.CouponCode)
                        <button type="button" class="button"
                            onclick="VirtoCart.updateCoupon($('#CouponCode').val(), false,function(context){VirtoCheckout.updateCart(); VirtoCommerce.processMessages(context);});">
                            <span>@("Apply Coupon".Localize())</span>
                        </button>
                    </div>
                </div>
                <div class="block">
                    <div class="control-group">
                        @Html.LabelFor(m => m.Comments, "Comments".Localize())
                        @Html.TextAreaFor(m => m.Comments, new { rows = "10", cols = "30" })
                    </div>
                </div>
                <div class="block">
                    <label class="control">
                        @Html.CheckBoxFor(m => m.IncludeGiftMessage, new { onclick = "VirtoCheckout.toggleGiftMessage();" })
                        @("Add a gift message to my order".Localize())

                    </label>
                    <div id="allow-gift-message-container" style="display: none; clear: both;">
                        @Html.EditorFor(m => m.GiftMessage, "GiftMessage")
                    </div>
                    <label class="control">
                        @Html.CheckBoxFor(m => m.AcceptTerms)
                        @("I accept the <a href='{0}' target='_blank'>Terms and Conditions</a>".LocalizeHtml("#"))
                        @Html.ValidationMessageFor(m => m.AcceptTerms)
                    </label>
                    <label class="control" for="RequireGiftWrap">
                        <input type="checkbox" name="RequireGiftWrap">
                        @("Gift wrap".Localize()) <b>$5.00</b>
                    </label>
                </div>
                <div class="block">
                    <div class="control-group">
                        <label>@("How did you hear about us?".Localize())</label>
                        <select id="id_feedback" name="onestepcheckout-feedback">
                            <option value="">@("Please choose".Localize())</option>
                            <option value="Google">@("Google".Localize())</option>
                            <option value="Facebook">@("Facebook".Localize())</option>
                            <option value="Twitter">@("Twitter".Localize())</option>
                            <option value="other">@("Other".Localize())</option>
                        </select>
                    </div>
                </div>
                <div class="block">
                    <div class="control-group">
                        <button type="button" onclick="VirtoCheckout.submitCheckout(this); return false;">
                            <span>@("Place order now".Localize())</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    }
</div>
