@model PaymentsModel
@{
    ViewContext.FormContext = new FormContext();
}

<ul class="methods pay-list">
    @for (var index = 0; index < Model.Payments.Length; index++)
    {
        var htmlOptions = new Dictionary<string, object> { { "id", String.Format("p_method_{0}", Model.Payments[index].Name) } };
        if (Model.Payments[index].IsCurrent)
        {
            htmlOptions.Add("checked", "");
        }

        var style = Model.Payments[index].IsCurrent ? "" : "display: none;";

        <li>

            <label for="@String.Format("p_method_{0}", Model.Payments[index].Name)" class="control">
                @Html.RadioButtonFor(m => m.PaymentMethod, Model.Payments[index].Name, @htmlOptions)

                @if (Model.Payments[index].Name.Equals("PayPal", StringComparison.OrdinalIgnoreCase))
                {
                    <img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right: 7px;">
                    <span style="font-size: 11px; font-family: Arial, Verdana;">@("The safer, easier way to pay.".Localize())</span>
                }
                else
                {
                    @Model.Payments[index].DisplayName
                }
            </label>
            <div class="info" id="@String.Format("container_payment_method_{0}", Model.Payments[index].Name)" style="@style">
                @Html.DisplayFor(m => m.Payments[index], new { index })
            </div>
        </li>
    }
</ul>
@Html.ValidationMessageFor(m => m.PaymentMethod)
