@model ShipmentsModel
@{
    ViewContext.FormContext = new FormContext();
}
@foreach (var method in Model.Shipments)
{
    var htmlOptions = new Dictionary<string, object> { { "id", String.Format("s_method_{0}", method.Id) } };
    if (method.IsCurrent)
    {
        htmlOptions.Add("checked", "checked");
    }
    <div class="control-group">
        <label>@method.DisplayName</label>
        <label for="@String.Format("s_method_{0}", method.Id)" class="control">
            @Html.RadioButtonFor(m => m.ShippingMethod, method.Id, htmlOptions)
            @method.DisplayName <b>@method.PriceFormatted</b>
        </label>
    </div>  
}
@Html.ValidationMessageFor(m => m.ShippingMethod)