@using VirtoCommerce.Web.Virto.Helpers
@model VirtoCommerce.Foundation.Orders.Model.Order
@{
    ViewBag.PageTitle = "Your order has been received.".Localize();
    ViewBag.Title = "Success".Localize();
}

<div class="empty normal">
    <h3>@("Thank you for your purchase!".Localize())</h3>
    <p>@("Your order # is:".Localize()) @Html.ActionLink(Model.TrackingNumber, "ViewOrder", "Account", new { orderId = Model.OrderGroupId }, new { id = "OrderTrackingNumber" }).</p>
    <p>@("You will receive an order confirmation email with details of your order and a link to track its progress.".Localize())</p>
    <button onclick="$.redirect('@UserHelper.CustomerSession.LastShoppingPage');" title="@("Continue Shopping".Localize())">
        <span>@("Continue Shopping".Localize())</span>
    </button>
</div>
