@using VirtoCommerce.Web.Areas.VirtoAdmin.Models
@using Resource = VirtoCommerce.Web.Areas.VirtoAdmin.Resources.Resource;
@model InstallModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.InstallPageTitle</title> 
    <link href="~/Areas/VirtoAdmin/Content/site.css" rel="stylesheet" type="text/css" media="all" />
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        (function () {
            function show() {
                window.setTimeout(function () {
                    document.getElementById("throbber").style.display = "block";
                }, 2000);
            }

            if (document.addEventListener) {
                document.addEventListener("submit", show, false);
            }
            else {
                document.forms[0].attachEvent("onsubmit", show);
            }
        })();
    </script>
</head>
    <body>
        <div id="header">
            <div id="branding">
                <h1>Virto Commerce</h1>
            </div>
        </div>
        <div id="main">
            <div class="zone zone-content">
                <h1>Get Started</h1>

                <div>
                    @using (Html.BeginForm("Index","Install",new {area="VirtoAdmin"}, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <h2>Database setup</h2>
                        <div id="inprogress"/>
                        if (Model.HasStatusMessage)
                        {
                            <div class="message-Information">
                                <p>@Model.StatusMessage</p>
                            </div>
                        }
                        if (Model.HasErrorMessage)
                        {
                            <div class="validation-summary-errors">
                                <p>@Model.ErrorMessage</p>
                                @if (Model.IsLogExists)
                                {
                                <p>Open @Html.ActionLink("log file", "DownloadLog") for more details on error.</p>
                                }
                            </div>
                        }
                        
                        <fieldset class="data">
                            @if (Model.DbAdminRequired)
                            {
                                @Html.HiddenFor(m=>m.DbAdminRequired)
                                <div>
                                    @Html.LabelFor(m=>m.DbAdminUser)
                                    @Html.TextBoxFor(m=>m.DbAdminUser)
                                    @Html.Label(Resource.DbAdminUserTip, new { @class = "hint"})
                                    @Html.ValidationMessageFor(m=>m.DbAdminUser)
                                </div>
                                <div>
                                    @Html.LabelFor(m=>m.DbAdminPassword)
                                    @Html.PasswordFor(m=>m.DbAdminPassword)
                                    @Html.Label(Resource.DbAdminPasswordTip, new { @class = "hint"})
                                    @Html.ValidationMessageFor(m=>m.DbAdminPassword)
                                </div>
                            }
                            <div>
                                @Html.LabelFor(m=>m.DataSource)
                                @Html.TextBoxFor(m=>m.DataSource)
                                @Html.Label(Resource.DataSourceTip, new { @class = "hint"})
                                @Html.ValidationMessageFor(m=>m.DataSource)
                            </div>
                            <div>
                                @Html.LabelFor(m=>m.InitialCatalog)
                                @Html.TextBoxFor(m=>m.InitialCatalog)
                                @Html.Label(Resource.InitialCatalogTip, new { @class = "hint"})
                                @Html.ValidationMessageFor(m=>m.InitialCatalog)
                            </div>
                            <div> 
                                @Html.LabelFor(m=>m.DbUserName)
                                @Html.TextBoxFor(m=>m.DbUserName)
                                @Html.Label(Resource.DbUserNameTip, new { @class = "hint"})
                                @Html.ValidationMessageFor(m=>m.DbUserName)
                            </div>
                            <div>
                                @Html.LabelFor(m=>m.DbUserPassword)
                                @Html.PasswordFor(m=>m.DbUserPassword,  new { value = Model.DbUserPassword})
                                @Html.Label(Resource.DbUserPasswordTip, new { @class = "hint"})
                                @Html.ValidationMessageFor(m=>m.DbUserPassword)
                            </div>
                            <div>
                                @Html.LabelFor(m=>m.SetupSampleData)
                                @Html.CheckBoxFor(m=>m.SetupSampleData)
                            </div>
                            <div>
                                <button name="Action" type="submit" value="@InstallModel.SubmitAction.CreateDb">@Resource.SetupDatabase</button>
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
        <div id="throbber">
            <div class="curtain"></div>
            <div class="curtain-content">
                <div>
                    <h1 id="setUpHeader">@Resource.LongProcessMessage</h1>
                    <p>
                        <img src="@Href("../../content/images/inprogress.gif")" alt="" />
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
