@using VirtoCommerce.Web.Areas.VirtoAdmin.Models
@using Resource = VirtoCommerce.Web.Areas.VirtoAdmin.Resources.Resource;
@model InstallModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resource.InstallPageTitle</title> 
    <link href="~/Areas/VirtoAdmin/Content/site.css" rel="stylesheet" type="text/css" media="all" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        
        function updateStatus() {
            $.ajax({
                url: "/Install/AsyncStatus",
                type: "GET",
                cache: false,
                dataType: "json",
                success: function (data) {
                    document.getElementById("errorarea").innerText = data.Status;
                    if (data.Status != "WORKING") {
                        document.getElementById("throbber").style.display = "";
                        
                    } else { 
                        setTimeout(updateStatus, 1000); // call self to refresh
                    }
                }
            });
        }

        function done() {
            document.getElementById("throbber").style.display = "";
        }

        function start() {
            document.getElementById("throbber").style.display = "block";
        }
    </script>
</head>
    <body>
        <div id="header">
            <div id="branding">
                <h1>VirtoCommerce</h1>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <div id="main">
            <div class="zone zone-content">
                <h1>Get Started</h1>

                <div>
                    @using (Ajax.BeginForm("Index", "Install", new AjaxOptions { UpdateTargetId = "setupform", HttpMethod = "Post", OnSuccess = "updateStatus", OnBegin = "start" }))
                    {
                        <div id="setupform">
                           @{ Html.RenderPartial("SetupFormPartial", Model); }
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="throbber">
            <div class="curtain"></div>
            <div class="curtain-content">
                <div>
                    <h1 id="setUpHeader">@Resource.LongProcessMessage</h1>
                    <p>
                        <img src="@Href("../../content/images/inprogress.gif")" alt="" />
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
