@using VirtoCommerce.Web
@using VirtoCommerce.Web.Areas.VirtoAdmin.Models
@using Resource = VirtoCommerce.Web.Areas.VirtoAdmin.Resources.Resource;
@model SuccessModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>@Resource.InstallPageTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    @Styles.Render(BundleConfig.VirtoAdminStyles)
    @Scripts.Render("~/bundles/jquery")
    <!-- Чтобы ИЕ ниже 9 версии мог строить HTML 5 блочки и видел media-queries -->
    <!-- html5.js for IE less than 9 -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- css3-mediaqueries.js for IE less than 9 -->
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <script src="@Href("../../Scripts/tracker.js")"></script>
</head>
<body>
    <div id="layout">
        <div class="congratulations">
            <span class="title">Congratulations!</span>
            <span class="text">Your installation has been completed</span>
        </div>
        <article class="main clearfix" role="main">
            <div class="welcome rubber">
                <span class="sub-title">Welcome to the Virto Commerce development community!</span>
                <span class="title">Keep in touch with our team</span>
                <ul class="socials">
                    <li class="fb"><a href="https://www.facebook.com/virtocommerce" target="_blank"></a></li>
                    <li class="tw"><a href="https://twitter.com/VirtoCommerce" target="_blank"></a></li>
                    <li class="in"><a href="https://www.linkedin.com/groups/Virtocommerce-Users-Group-8116785" target="_blank"></a></li>
                    <li class="plus"><a href="https://plus.google.com/u/0/110275588520785121043/posts" target="_blank"></a></li>
                </ul>
            </div>
            <div class="ask">
                <p>Ask your questions on <a href="http://stackoverflow.com/tags/virtocommerce" target="_blank"><img src="@Href("../../Content/images/stackoverflow.png")" alt="stackoverfow"></a> tagging with <span class="tag"><a href="http://stackoverflow.com/tags/virtocommerce" target="_blank">virtocommerce</a></span></p>
            </div>
            <div class="use-links">
                <div class="rubber clearfix">
                    <span class="title">Use links below to try Virto Commerce</span>
                    <div class="columns clearfix">
                        <div class="column">
                            <figure>
                                <img src="@Href("../../Content/images/frontend.jpg")" alt="">
                            </figure>
                            <a href="@Model.Website" class="button" target="_blank">Open frontend</a>
                        </div>
                        <div class="column">
                            <figure>
                                <img src="@Href("../../Content/images/admin.jpg")" alt="">
                            </figure>
                            <a href="@Model.AdminUrl" class="button">Open commerce manager</a>
                            <p>
                                To connect to the store please use: <br />
                                URL: <span>@Model.Website</span><br />
                                LOGIN: <span>admin</span> | PASSWORD: <span>store</span>
                            </p>
                            @if (Request.Browser.Type.ToLower().StartsWith("firefox"))
                            {
                                <span class="require-ff">
                                    Firefox browser requires <a href="https://addons.mozilla.org/en-us/firefox/addon/fxclickonce/" target="_blank">ClickOnce add-on</a> to open Commerce Manager application. <br />
                                    Or copy and open <a href="@Model.AdminUrl">this link</a> in Internet Explorer.
                                </span>
                            }
                            @if (Request.Browser.Type.ToLower().StartsWith("chrome") && Request.UserAgent != null && !Request.UserAgent.Contains("OPR/"))
                            {
                                <span class="require-ff">
                                    Chrome browser requires <a href="https://chrome.google.com/webstore/detail/clickonce-for-google-chro/eeifaoomkminpbeebjdmdojbhmagnncl" target="_blank">ClickOnce add-on</a> to open Commerce Manager application. <br />
                                    Or copy and open <a href="@Model.AdminUrl">this link</a> in Internet Explorer.
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <footer role="contentinfo">
            <div class="rubber clearfix">
                <p class="copy">Copyright © 2014 Virto Commerce. All rights reserved</p>
                <ul class="socials">
                    <li class="plus"><a href="https://plus.google.com/u/0/110275588520785121043/posts" target="_blank"></a></li>
                    <li class="in"><a href="https://www.linkedin.com/groups/Virtocommerce-Users-Group-8116785" target="_blank"></a></li>
                    <li class="fb"><a href="https://www.facebook.com/virtocommerce" target="_blank"></a></li>
                    <li class="tw"><a href="https://twitter.com/VirtoCommerce" target="_blank"></a></li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>