{% layout settings.customer_layout %}

{% form 'create_customer' %}
    <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
    {% include 'form-errors-custom' %}
    <div class="grid text-center">
        <div class="grid-item large--two-third" style="display: inline-block;">
            <div class="grid">
                <div class="grid-item large--one-half">
                    <label for="first_name" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
                    <input type="text" value="" name="customer[first_name]" id="first_name" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.errors contains "first_name" %} class="error"{% endif %} required="required" autocapitalize="words" autofocus>

                    <label for="last_name" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
                    <input type="text" value="" name="customer[last_name]" id="last_name" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.errors contains "last_name" %} class="error"{% endif %} required="required" autocapitalize="words">

                    <label for="email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
                    <input type="email" value="" name="customer[email]" id="email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% endif %} required="required" autocorrect="off" autocapitalize="off">

                    <label for="password" class="hidden-label">{{ 'customer.register.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="create_password" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} required="required" class="error"{% endif %}>
                </div>
                <div class="grid-item large--one-half">
                    {% include 'dynamic-properties', properties: customer.dynamic_properties, disabled: false %}
                </div>
            </div>
            <p>
                <p><input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn"></p>
                {{ 'customer.register.or' | t }} <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>
            </p>
        </div>
    </div>
{% endform %}