{% assign current_collection = collection.handle %}

{% if collection.all_tags.size > 0 %}
  <div class="form-horizontal">
    <label for="sortTags">{{ 'blogs.article.tags' | t }}</label>
    <select name="sortTags" id="sortTags">
      {% if collection.handle %}
        <option value="/collections/{{ collection.handle }}">{{ 'blogs.article.all_of_collection' | t: collection: collection.title }}</option>
      {% elsif collection.current_type %}
        <option value="{{ collection.current_type | url_for_type }}">{{ 'blogs.article.all_of_collection' | t: collection: collection.title }}</option>
      {% elsif collection.current_vendor %}
        <option value="{{ collection.current_vendor | url_for_vendor }}">{{ 'blogs.article.all_of_collection' | t: collection: collection.title }}</option>
      {% endif %}
      {% for tag in collection.all_tags %}
        <option value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}
