<div class="section-header text-center">
  <h3 class="section-header--title">{{ 'home_page.sections.featured_title' | t }}</h3>
</div>

<div class="grid-uniform text-center collection-grid">

  {% assign index = 0 %}

  {% if settings.home_featured_collections_sort == 'manual' %}
    {% if settings.collection_1 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% if settings.collection_2 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% if settings.collection_3 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% if settings.collection_4 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% if settings.collection_5 != blank %}{% assign index = index | plus: 1 %}{% endif %}
    {% if settings.collection_6 != blank %}{% assign index = index | plus: 1 %}{% endif %}
  {% else %}
    {% for collection in collections limit:7 %}
      {% unless index > 6 %}
        {% unless collection.handle == 'frontpage' %}
          {% assign index = index | plus: 1 %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  {% case index %}
    {% when 1 %}
      {% assign featured_collection_width = 'one-half' %}
      {% assign featured_collection_size = 'large' %}
    {% when 2 %}
      {% assign featured_collection_width = 'one-half' %}
      {% assign featured_collection_size = 'large' %}
    {% when 3 %}
      {% assign featured_collection_width = 'small--one-half one-third' %}
    {% when 4 %}
      {% assign featured_collection_width = 'small--one-half one-quarter' %}
    {% when 5 %}
      {% assign featured_collection_width = 'small--one-half medium--one-third large--one-fifth' %}
    {% when 6 %}
      {% assign featured_collection_width = 'small--one-half medium--one-third large--one-sixth' %}
  {% endcase %}

  {% if settings.home_featured_collections_sort == 'manual' %}
    {% if settings.collection_1 != blank %}
      {% assign featured = settings.collection_1 %}
      {% include 'featured-collection' %}
    {% endif %}
    {% if settings.collection_2 != blank %}
      {% assign featured = settings.collection_2 %}
      {% include 'featured-collection'%}
    {% endif %}
    {% if settings.collection_3 != blank %}
      {% assign featured = settings.collection_3 %}
      {% include 'featured-collection' %}
    {% endif %}
    {% if settings.collection_4 != blank %}
      {% assign featured = settings.collection_4 %}
      {% include 'featured-collection' %}
    {% endif %}
    {% if settings.collection_5 != blank %}
      {% assign featured = settings.collection_5 %}
      {% include 'featured-collection' %}
    {% endif %}
    {% if settings.collection_6 != blank %}
      {% assign featured = settings.collection_6 %}
      {% include 'featured-collection' %}
    {% endif %}
  {% else %}
    {% for collection in collections limit:7 %}
      {% unless index > 6 %}
        {% unless collection.handle == 'frontpage' %}
          {% assign featured = collection.handle %}
          {% include 'featured-collection' %}
        {% endunless %}
      {% endunless %}
    {% endfor %}
  {% endif %}

  {% if index == 0 %}
    <div class="grid-item text-center">
      <p>{{ 'home_page.onboarding.no_collections_html' | t }}</p>
    </div>
    <div class="grid-item">
      <div class="grid-uniform">
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
        <div class="grid-item small--one-half medium--one-third large--one-sixth text-center">
          <div class="demo-image">
            {{ 'home_page.onboarding.collection_image' | t }}
          </div>
          <p><a href="/admin/custom_collections">{{ 'home_page.onboarding.collection_title' | t }}</a></p>
        </div>
      </div>
    </div>
  {% endif %}
</div>
