<aside class="left-off-canvas-menu">
    <div class="height-check">
        <dl class="accordion">
            <dt></dt>
            <dd class="shop">
                <a class="accordion-head" href="#panel1">Shop</a>
                <div class="content" id="panel1">
                    <ul>
                        {% for collection in collections %}
                            <li>{{ collection.title | link_to: collection.url }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </dd>
            <dd class="visit">
                <a class="accordion-head" href="#panel2">Visit</a>
                <div class="content" id="panel2">
                    <ul>
                        <li>{{ 'Nearest Store' | link_to: 'pages/store-listing' }}</li>
                        <li>{{ 'What to Expect' | link_to: 'pages/store-experience' }}</li>
                    </ul>
                </div>
            </dd>
            <dd class="discover">
                <a class="accordion-head" href="#panel3">Discover</a>
                <div class="content" id="panel3">
                    <ul>
                        <li>{{ 'Discover the Ring' | link_to: 'pages/engagement-ring-education' }}</li>
                        <li>{{ 'Discover the Diamond' | link_to: 'pages/diamond-education' }}</li>
                        <li>{{ 'Discover the Wedding Ring' | link_to: 'pages/wedding-ring-education' }}</li>
                        <li>{{ 'Discover the Proposal' | link_to: 'pages/proposals' }}</li>
                    </ul>
                </div>
            </dd>
            <dd class="play">
                <a class="accordion-head no-submenu" href="#panel4">Engage</a>
                <div class="content" id="panel4">
                    <ul>
                        <li>{{ 'Love Stories' | link_to: 'pages/love-stories' }}</li>
                        <li>{{ 'Fun Stuff' | link_to: 'pages/fun-stuff' }}</li>
                        <li>{{ 'Inspiration' | link_to: 'pages/inspiration' }}</li>
                        <li>{{ 'Tips & Advice' | link_to: 'pages/tips-and-advice' }}</li>
                    </ul>
                </div>
            </dd>
        </dl>
        <ul class="sub-nav clearfix">
            <li class="chat" style="text-align: left;">
                <a class="chatlink" href="#">Chat with an Expert</a>
            </li>
            <li class="schedule" style="text-align: left;">
                <a href="#">Schedule a Visit</a>
            </li>
            <li class="cart" style="text-align: left;">
                {{ 'View my Cart' | link_to: 'cart' }}
            </li>
            <li class="account" style="text-align: left;">
                {{ 'My Account' | link_to: 'account' }}
            </li>
            <li class="phone" style="text-align: left;">
                <span>1-800-295-1543</span>
            </li>
        </ul>
    </div>
</aside>
<header class="clearfix">
    <div class="nav-trigger show-for-medium-down left-off-canvas-toggle">Menu</div>
    <div class="row">
        <div class="columns large-5 small-3 header-left">
            <div class="row">
                <div class="columns large-11 end hide-for-medium-down">
                    <ul class="row nav-desktop">
                        <li class="columns large-3 shop">
                            <a href="/Engagement-Rings.ring">Shop<span class="icon"></span></a>
                            <ul class="row nav-sub" style="display: none; opacity: 1;">
                                <li class="columns large-6 nav-column-1 navset-links align-left">
                                    <ul>
                                        {% for collection in collections %}
                                            <li class="{% if collection.handle == 'anniversary-gifts' %}shop-gifts{% endif %}{% if collection.handle == 'engagement-rings' %}shop-engagement{% endif %}{% if collection.handle == 'wedding-rings' %}shop-wedding{% endif %}">
                                                <a href="{{ collection.url }}">
                                                    <span class="sub-head">{{ collection.title }}</span>
                                                    {% if collection.description.size > 0 %}
                                                        <span class="sub-head2">{{ collection.description }}</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                <li class="columns large-6 navset-promo" style="display: none;">
                                    <div class="header">— How to Get It Right  —</div>
                                    {{ 'nav-shop-img.png' | asset_url | img_tag }}
                                    <span class="sub-head2">Tips on Shopping, Finance & Making It Happen</span>
                                    {{ 'Learn More' | link_to: 'pages/finance' }}
                                </li>
                                <li class="columns large-6 navset-promo">
                                    <div class="header">— Designers & Collections —</div>
                                    {{ 'designer_menu_pic.jpg' | asset_url | img_tag }}
                                    <span class="sub-head2">More designer rings than anywhere else</span>
                                    {{ 'See More' | link_to: 'designer-rings' }}
                            </ul>
                        </li>
                        <li class="columns large-3 visit">
                            <a href="pages/store-listing">Visit<span class="icon"></span></a>
                            <ul class="row nav-sub" style="display: none; opacity: 1;">
                                <li class="columns large-5 nav-column-1 navset-promo">
                                    <div class="header">— What to Expect —</div>
                                    <div class="sub-head2">An Experience Unlike Any Other</div>
                                    <a href="pages/store-experience">
                                        {{ 'nav-visit-img.png' | asset_url | img_tag }}
                                    </a>
                                    {{ 'See What's In Store' | link_to: 'pages/store-experience' }}
                                </li>
                                <li class="columns large-7 navset-links align-left" style="display: none;">
                                    <div class="header align-center">— Locations —</div>
                                    <ul class="row">
                                        <li class="columns large-6">
                                            <div class="sub-head">Arizona</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/Scottsdale">Phoenix / Scottsdale, AZ</a></li>
                                            </ul>
                                            <div class="sub-head">California</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/fullerton">Fullerton, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/glendale">Glendale, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Mission-Viejo">Mission Viejo, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/montclair">Montclair, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/riverside">Riverside, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/san-diego">San Diego, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Torrance">Torrance, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Woodland-Hills">Woodland Hills, CA</a></li>
                                            </ul>
                                        </li>
                                        <li class="columns large-6">
                                            <div class="sub-head">Texas</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/Arlington">Arlington, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Dallas">Dallas, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Houston--Clearlake">Houston/Clearlake, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Houston--Loop">Houston/Loop, TX</a></li>
                                            </ul>
                                            <div class="sub-head">Washington</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/seattle">Seattle, WA </a></li>
                                                <li><a href="//stores.robbinsbrothers.com/bellevue">Bellevue, WA</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="columns large-7 navset-links align-left">
                                    <div class="header align-center">— Locations —</div>
                                    <ul class="row">
                                        <li class="columns large-6">
                                            <div class="sub-head">Arizona</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/Scottsdale">Phoenix / Scottsdale, AZ</a></li>
                                            </ul>
                                            <div class="sub-head">California</div>
                                            <ul>
                                                <li><a href="http://www.robbinsbrothers.com/costamesa.ring">Costa Mesa, CA<span style="color: #3498db; font-size: 0.6875rem"> - Nov 2015</span></a></li>
                                                <li><a href="//stores.robbinsbrothers.com/fullerton">Fullerton, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/glendale">Glendale, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Mission-Viejo">Mission Viejo, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/montclair">Montclair, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/riverside">Riverside, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/san-diego">San Diego, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Torrance">Torrance, CA</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Woodland-Hills">Woodland Hills, CA</a></li>
                                            </ul>
                                        </li>
                                        <li class="columns large-6">
                                            <div class="sub-head">Texas</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/Arlington">Arlington, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Dallas">Dallas, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Houston--Clearlake">Houston/Clearlake, TX</a></li>
                                                <li><a href="//stores.robbinsbrothers.com/Houston--Loop">Houston/Loop, TX</a></li>
                                            </ul>
                                            <div class="sub-head">Washington</div>
                                            <ul>
                                                <li><a href="//stores.robbinsbrothers.com/seattle">Seattle, WA </a></li>
                                                <li><a href="//stores.robbinsbrothers.com/bellevue">Bellevue, WA</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="columns large-3 discover">
                            <a href="pages/discover">Discover<span class="icon"></span></a>
                            <ul class="row nav-sub" style="display: none; opacity: 1;">
                                <li class="columns large-6 nav-column-1 navset-promo">
                                    <a style="text-decoration: none;" href="/Discover.ring">
                                        <div class="header">— The Learning Center —</div>
                                        <div class="sub-head2">Everything you need to know about diamonds, rings, and the proposal.</div>
                                        {{ 'nav-discover-img.png' | asset_url | img_tag }}
                                    </a>
                                    {{ 'Start Learning' | link_to: 'pages/discover' }}
                                </li>
                                <li class="columns large-6 navset-links">
                                    <ul>
                                        <li>
                                            <a href="pages/engagement-ring-education">
                                                <span class="sub-head">Discover The Engagement Ring</span>
                                                <span class="sub-head2">Style, Type & Size - How to Choose Your&nbsp;Ring</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/diamond-education">
                                                <span class="sub-head">Discover the Diamond</span>
                                                <span class="sub-head2">Discover the 4 C's and Much More</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/wedding-ring-education">
                                                <span class="sub-head">Discover the Wedding Ring</span>
                                                <span class="sub-head2">Style, Metal & Size - All You Need to Know</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/proposals">
                                                <span class="sub-head">Discover the Proposal</span>
                                                <span class="sub-head2">Planning and Preparing for Popping the&nbsp;Question</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="columns large-3 play">
                            <a href="pages/engage">Engage<span class="icon"></span></a>
                            <ul class="row nav-sub" style="display: none; opacity: 1;">
                                <li class="columns large-6 navset-links">
                                    <ul>
                                        <li>
                                            <a href="pages/engage">
                                                <span class="sub-head">Have Fun</span>
                                                <span class="sub-head2">The Place to Celebrate Love and All the Crazy Fun Moments in Life</span>
                                            </a>
                                        </li>
                                        <li>
                                            {{ 'nav-engage-img.jpg' | asset_url | img_tag }}
                                        </li>
                                        <li>
                                            <a href="pages/engage">
                                                <span class="sub-head">Engage with Us</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="columns large-6 navset-links">
                                    <ul>
                                        <li>
                                            <a href="pages/love-stories">
                                                <span class="sub-head">Love Stories</span>
                                                <span class="sub-head2">Crazy, Sweet and Real. We Love Them All</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/fun-stuff">
                                                <span class="sub-head">Fun Stuff</span>
                                                <span class="sub-head2">Love Is Supposed to Be Fun. Enjoy the&nbsp;Moment</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/inspiration">
                                                <span class="sub-head">Inspiration</span>
                                                <span class="sub-head2">Great Ideas for the Proposal, Wedding and&nbsp;More</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages/tips-advice">
                                                <span class="sub-head">Tips & Advice</span>
                                                <span class="sub-head2">Right, Wrong, and Everything In Between</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns large-2 small-6 logo">
            <a href="/"><span>Robbins Brothers</span></a>
        </div>
        <div class="columns large-5 small-3 align-right header-right">
            <div class="row">
                <div class="columns text-right"><a class="phone" href="tel:18002951543">800-295-1543</a></div>
            </div>
            <div class="row">
                <div class="columns small-11 small-offset-1">
                    <ul class="row utility-nav">
                        <li class="columns large-7 search hide-for-medium-down">
                            <input class="SearchTerm" id="SearchTerm" value="" />
                            <button id="SearchButton" title="Search" type="button">Search</button>
                        </li>
                        <li class="columns medium-8 small-6 show-for-medium-down search-mobile-trigger align-right">
                            <button id="MobileSearchIcon" title="Search" type="button">Search</button>
                        </li>
                        <li class="columns large-1 large-offset-1 medium-4 small-6 location align-left">
                            <span>{{ 'Location' | link_to: 'pages/store-listing' }}</span>
                        </li>
                        <li class="columns large-1 cart hide-for-medium-down"><span>
                            {{ 'Cart' | link_to: 'cart' }}
                        </li>
                        <li class="columns large-1 chat hide-for-medium-down">
                            <span><a class="chatlink" href="#" title="Chat With an Expert">Chat</a></span>
                        </li>
                        <li class="columns large-1 settings hide-for-medium-down">
                            <span>{{ 'Settings' | link_to: 'account' }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row max search-mobile" style="display: none;">
    <div class="columns medium-6 medium-offset-3 small-10 small-offset-1">
        <input id="SearchTermMobile" placeholder="search keyword or sku" type="text" value="" />
        <button class="secondary" id="SearchButtonMobile">Search</button>
    </div>
</div>