<div class="buttons">
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account/info">{{ 'Info' }}</a>
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account">{{ 'Orders' }}</a>
    {% if shop.quotes_enabled %}
        <a class="btn-secondary" href="{{ shop.simplified_url }}/account/quotes">{{ 'Quotes' }}</a>
    {% endif %}
    <a class="btn-secondary" href="{{ shop.simplified_url }}/account/addresses">{{ 'Addresses' }}</a>
</div>