<ul class="pagination">
    {% if paginate.previous %}
        <li class="arrow next-left">
            <a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">«</a>
        </li>
    {% endif %}
    {% for part in paginate.parts %}
        {% if part.is_link %}
            <li>
                <a href="{{ part.url }}">{{ part.title }}</a>
            </li>
        {% else %}
            <li class="current"><a>{{ part.title }}</a></li>
        {% endif %}
    {% endfor %}
    {% if paginate.next %}
        <li class="arrow next-right">
            <a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">»</a>
        </li>
    {% endif %}
</ul>
<div class="pagination-label">
    Page <span>{{ current_page }}</span> of <span>{{ paginate.pages }}</span>
</div>