@model GiftMessageModel

<div class="control-group">
    <div class="column">
        @Html.LabelForEx(m => m.From)
        @Html.TextBoxFor(m => m.From)
        @Html.ValidationMessageFor(m => m.From)
    </div>
    <div class="column">
        @Html.LabelForEx(m => m.To)
        @Html.TextBoxFor(m => m.To)
        @Html.ValidationMessageFor(m => m.To)
    </div>
</div>
<div class="control-group">
    @Html.LabelForEx(m => m.Message)
    @Html.TextAreaFor(m => m.Message, new { cols = "40", rows = "5" })
    @Html.ValidationMessageFor(m => m.Message)
</div>
