<div ng-controller="cartController">
    <div class="ajax-informer fade" ng-if="!cart">
        <div class="loader"></div>
        <span>{{ 'cart.general.loading_cart_message' | t }}</span>
    </div>

    <span ng-if="cart.itemsCount == 0" ng-cloak="">
        <h2>{{ 'cart.general.empty' | t }}</h2>
        <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
    </span>

    <div ng-show="cart.itemsCount > 0" ng-cloak="">
        <form name="formCart" novalidate="novalidate">
            <div ng-init="setCartForm(formCart)"></div>
            <div class="ajax-informer" ng-class="{ 'fade': cartIsUpdating }">
                <div class="loader"></div>
                <span>{{ 'cart.general.updating_cart_message' | t }}</span>
            </div>
            <h1 class="h2">{{ 'cart.general.title' | t }}</h1>
            <div class="cart-row" ng-repeat="lineItem in cart.items">
                <div class="grid">
                    <div class="grid-item large--seven-twelfths">
                        <div class="grid">
                            <div class="grid-item one-third large--one-quarter">
                                <span class="cart-image">
                                    <img ng-src="{( lineItem.imageUrl )}" ng-if="lineItem.imageUrl" />
                                    <div class="no-product-image" ng-if="!lineItem.imageUrl">
                                        <img src="{{ 'no-image.svg' | asset_url }}" />
                                    </div>
                                </span>
                            </div>
                            <div class="grid-item two-thirds large--three-quarters">
                                <span ng-bind="lineItem.name"></span>
                                <div class="note form-error" ng-if="lineItem.validationErrors.length">
                                    <span ng-if="lineItem.validationErrors[0].errorCode == 'ProductUnavailableError'" ng-bind="'Product is currently unavailable!'"></span>
                                    <span ng-if="lineItem.validationErrors[0].errorCode == 'ProductQuantityError'" ng-bind="'Product quantity exceeded! Available quantity is: ' + lineItem.validationErrors[0].availableQuantity"></span>
                                </div>
                                <div class="note" ng-if="lineItem.validationWarnings.length">
                                    <span ng-if="lineItem.validationWarnings[0].errorCode == 'ProductPriceError'" ng-bind="'Product price has been changed. Old price was: ' + lineItem.validationWarnings[0].oldPrice.formatedAmount"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item large--five-twelfths medium--two-thirds push--medium--one-third">
                        <div class="grid">
                            <div class="grid-item one-half medium-down--one-third" style="text-align: center;">
                                <div class="js-qty">
                                    <input class="js-num" min="1" name="{( 'item' + lineItem.id )}" type="number" ng-model="lineItem.quantity" ng-blur="changeLineItemQuantity(lineItem.id, lineItem.quantity)" />
                                    <span class="js--qty-adjuster js--add" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity + 1)">+</span>
                                    <span class="js--qty-adjuster js--minus" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity - 1)">-</span>
                                </div>
                                <div class="alert alert-error" style="margin-top: 5px;" ng-if="formCart['item' + lineItem.id].$error.number">Please enter a number</div>
                                <div class="alert alert-error" style="margin-top: 5px;" ng-if="formCart['item' + lineItem.id].$error.min">Quantity should be greater than 0</div>
                            </div>
                            <div class="grid-item one-third medium-down--one-third medium-down--text-left text-right">
                                <span class="h2">
                                    <small ng-bind="lineItem.placedPrice.formatedAmount"></small>
                                </span>
                                <span style="text-decoration: line-through;" ng-if="lineItem.listPrice.amount != lineItem.placedPrice.amount" ng-bind="lineItem.listPrice.formatedAmount"></span>
                            </div>
                            <div class="grid-item one-sixth medium-down--one-third text-right">
                                <a class="icon-fallback-text btn-secondary remove" href="" ng-click="removeLineItem(lineItem.id)">
                                    <span class="icon icon-x" aria-hidden="true"></span>
                                    <span class="fallback-text">{{ 'cart.general.remove' | t }}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cart-row">
                <div class="grid">
                    <div class="grid-item large--one-half">
                        <label for="cartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                        <textarea class="input-full" ng-bind="cart.comment"></textarea>
                    </div>
                    <div class="grid-item text-right large--one-half">
                        <div class="cart-subtotal">
                            {{ 'cart.general.subtotal' | t }}
                            <span class="h1 cart-subtotal--price">
                                <small ng-bind="cart.subTotal.formatedAmount"></small>
                            </span>
                        </div>
                        <button type="button" ng-class="{ 'btn': !cartIsUpdating, 'btn-secondary': cartIsUpdating || errorOccured || cart.hasValidationErrors }" ng-disabled="cartIsUpdating || cart.hasValidationErrors" ng-click="submitCart()">
                            <span class="icon icon-cart"></span>
                            {{ 'cart.general.checkout' | t }}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>