<div style="margin: 0 auto; width: 50%;">
    {% form 'confirm_external_login' %}
        <input id="return_url" name="return_url" type="hidden" value="{{ form.return_url }}" />
        <input id="login_provider" name="login_provider" type="hidden" value="{{ form.login_provider }}" />
        <h1>
            Associate your <strong>{{ form.login_provider }}</strong> account
        </h1>
        <input id="return_url" name="return_url" type="hidden" value="{{ return_url }}" />
        <p>
            You've successfully authenticated with <strong>{{ form.login_provider }}</strong>.
            Please enter a email address for this site below and click the Register button
            to finish logging in.
        </p>
        {% include 'form-errors-custom' %}
        <label for="email"></label>
        <input id="email" name="email" type="email" value="{{ email }}" />
        <p>
            <input class="btn" type="submit" value="Register" />
        </p>
    {% endform %}
</div>