{% include 'breadcrumb' %}
{% include 'quote-informer' %}
<div class="grid" itemscope itemtype="http://schema.org/Product" ng-app="productApp" ng-controller="productController">
  <meta itemprop="url" content="{{ current_product.main_seo.slug | absolute_url : '', store_language.culture_name}}">
  <meta itemprop="image" content="{{ current_product.img_src }}">
  <div class="grid-item large--two-fifths">
    <div class="grid">
      <div class="grid-item large--eleven-twelfths text-center">
        <div class="product-photo-container" id="productPhoto">
          <img id="productPhotoImg" ng-src="{( selectedImage.Url )}" src="{{ current_product.images[0].url }}" alt="{{ current_product.name }}">
        </div>
        <ul class="product-photo-thumbs grid-uniform" id="productThumbs">
            <li ng-repeat="image in product.Images" class="grid-item medium--down-one-quarter large--one-quarter" ng-click="selectImage(image)">
                <img ng-src="{( image.Url )}" alt="{( product.Name )}">
            </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="grid-item large--three-fifths">

    <h2 itemprop="name">{{ current_product.name }}</h2>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

      <meta itemprop="priceCurrency" content="{{ current_product.price.list_price.currency_code }}">
      <meta itemprop="price" content="{% if current_product.price.sale_price.internal_amount > 0 %} {{ current_product.price.list_price.internal_amount | money }} {% else %} {{ current_product.price.list_price.internal_amount | money }} {% endif %}">

      {% if settings.product_vendor_enable %}
        <p class="product-meta" itemprop="brand">{{ current_product.vendor }}</p>
      {% endif %}

      <ul class="inline-list product-meta">
        <li>
            <span id="productPrice" class="h1" ng-if="product.Price.SalePrice.InternalAmount > 0">
                {( product.Price.SalePrice.InternalAmount | currency: product.Price.SalePrice.CurrencySymbol )}
            </span>
            <span id="productPrice" class="h1" ng-if="product.Price.SalePrice.InternalAmount == 0">
                {( product.Price.ListPrice.InternalAmount | currency: product.Price.SalePrice.CurrencySymbol )}
            </span>
        </li>
        {% if current_product.price.sale_price.internal_amount > 0 %}
            <li>
                <span id="comparePrice" class="sale-tag large">
                    {( product.Price.ListPrice.InternalAmount - product.Price.SalePrice.InternalAmount | currency: product.Price.SalePrice.CurrencySymbol )}
                </span>
            </li>
        {% endif %}
        {% if settings.product_reviews_enable %}
          <li class="product-meta--review">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </li>
        {% endif %}
      </ul>

      <hr id="variantBreak" class="hr--clear hr--small" ng-if="isSkuSelectorAvailable">

      <link itemprop="availability" href="http://schema.org/{% if current_product.available %}InStock{% else %}OutOfStock{% endif %}">

      <form action="{{ 'cart/add' | absolute_url }}" method="post" enctype="multipart/form-data" id="addToCartForm" ng-if="product.Variations">
        <input id="id" name="id" type="hidden" value="{{ product.id }}" />
        <div class="selector-wrapper" ng-repeat="propertyKey in Object.keys(properties)">
            <label>{( propertyKey )}</label>
            <select class="single-option-selector" ng-model="properties[propertyKey].selectedValue" ng-change="rebuildSkuSelector()" required="">
                <option ng-repeat="value in properties[propertyKey]" value="{( value.value )}">{( value.value )}</option>
            </select>
        </div>

        {% if settings.product_quantity_enable %}
          <label for="quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
        {% endif %}

        <button type="submit" name="add" id="addToCart" class="btn">
          <span class="icon icon-cart"></span>
          <span id="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>

        {% if shop.quotes_enabled and product.is_quotable %}
            <button class="btn" id="addToQuote" type="button">
                <span class="fa fa-calculator"></span> 
                {{ 'products.general.add_to_quote' | t }}
            </button>
        {% endif %}

        <span id="variantQuantity" class="variant-quantity"></span>
      </form>

      <hr>

    </div>

    <div class="product-description rte" itemprop="description" ng-bind-html="trustedDescription">
      {{ current_product.description | strip_html }}
    </div>

    {% if settings.social_sharing_products %}
      {% include 'social-sharing' %}
    {% endif %}

  </div>
</div>

{% if settings.related_products_enable %}
  {% assign grid_item_width = 'large--one-fifth medium--one-third small--one-half' %}
  {% include 'related-products' %}
{% endif %}

{% if settings.product_reviews_enable %}
  <hr>
  <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
{% endif %}

{% if settings.product_image_zoom_enable %}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{% endif %}

<script>
    window.productId = '{{ current_product.id }}';
</script>

{{ '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js' | script_tag }}
{{ '//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.js' | script_tag }}
{{ 'productDetails.js' | asset_url | script_tag }}
