<div style="margin: 0 auto; width: 50%;">
    {% form 'reset_password' %}
        <h1>{{ 'customer.reset_password.title' | t }}</h1>
        <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    
        {% include 'form-errors-custom' %}

        <input id="email" name="email" type="hidden" value="{{ email }}" />
        <input id="code" name="code" type="hidden" value="{{ code }}" />

        <label for="reset_password">{{ 'customer.reset_password.password' | t }}</label>
        <input id="reset_password" name="password" type="password" value="" />

        <label for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input id="password_confirmation" name="password_confirmation" type="password" value="" />

        <p>
            <input class="btn" type="submit" value="{{ 'customer.reset_password.submit' | t }}">
        </p>
    {% endform %}
</div>