@model RegisterModel

@{
    ViewBag.Title = "Register".Localize();
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="account">
    <div class="add-info-block">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.".Localize())
            @Html.AntiForgeryToken()
            <span class="title">@("Register".Localize())</span>
            <fieldset>
                <legend>@("Personal Information".Localize())</legend>
                <div class="control-group">
                    @Html.LabelForEx(m => m.FirstName)
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
                <div class="control-group">
                    @Html.LabelForEx(m => m.LastName)
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
                <div class="control-group">
                    @Html.LabelForEx(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="control-group">
                    <div class="control">
                        <label>
                            @Html.CheckBoxFor(m => m.SignUpForNews)
                            <span>@("Sign Up for Newsletter".Localize())</span>
                        </label>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>@("Login Information".Localize())</legend>
                <div class="control-group">
                    @Html.LabelForEx(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="control-group">
                    @Html.LabelForEx(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
                <div class="control-group">
                    <p class="required">* @("Required Fields".Localize())</p>
                </div>
                <div class="button-group">
                    <button type="submit">
                        <span>@("Submit".Localize())</span>
                    </button>
                </div>
            </fieldset>
        }
    </div>
</div>

