<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  <link rel="canonical" href="{{ canonical_url }}" />

  {{ content_for_header }}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'open-graph' %}
  {% include 'twitter-cards' %}

  {{ 'reset.css' | asset_url | stylesheet_tag }}
  {{ 'shop.css' | asset_url | stylesheet_tag }}

  <!--[if IE]>
  {{ 'ie.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if IE 9]>
  {{ 'ie9.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if IE 8]>
  {{ 'ie8.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if IE 7]>
  {{ 'ie7.css' | asset_url | stylesheet_tag }}
  <![endif]-->
  <!--[if lt IE 7 ]>
  {{ 'ie6.css' | asset_url | stylesheet_tag }}
  <![endif]-->

  {{ 'modernizr.js' | asset_url | script_tag }}

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>

  {% if settings.typeface_method == "typekit" %}
  {{ settings.typekit_js }}
  {% endif %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'ajaxify-shop.js' | asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'jquery-ui-1.8.6.js' | asset_url | script_tag }}
  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {{ 'jquery.slider.js' | asset_url | script_tag }}
  {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
  {{ 'shop.js' | asset_url | script_tag }}

  {% if settings.typeface_method == "google_webfonts" %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.google_header_font }}" />
  {% endif %}

  <script type="text/javascript">
  Shopify.money_format = "{{ shop.money_format }}";
  </script>

  {% capture active_url %}{% if template == "index" %}/{% elsif template == "collection" %}/collections/{{ collection.handle }}{% elsif template == "product" %}{% if collection %}/collections/{{ collection.handle }}{% endif %}/products/{{ product.handle }}{% elsif template == "page" %}/pages/{{ page.handle }}{% elsif template == "blog" %}/blogs/{{ blog.handle }}{% elsif template == "cart" %}/cart{% elsif template == "search" %}/search{% elsif template == "article" %}{{ article.url }}{% endif %}{% endcapture %}
</head>

<body>
  <div class="wrapper clearfix">
    <header class="clearfix">
      <div class="logo">
        {% if settings.use_logo %}
        <a href="/" class="shop_logo"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" class="png_bg" /></a>
        {% else %}
        <h1><a href="/">{{ shop.name }}</a></h1>
        {% endif %}
      </div> <!-- /.logo -->
      <div class="fr clearfix">
        <div class="fr cart-summary">
          <span class="cart">
            <h3>
              <a href="/cart">
                <span class="cart-total-items clearfix">
                  {% if settings.cart_summary_style == "dollars" %}
                  <span class="total_price fl">{{ cart.total_price | money }}</span>
                  {% else %}
                  <span class="total_price fl">{{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
                  {% endif %}
                </span>
              </a>
            </h3>
          </span>
          <div id="item-added" style="display:none;"></div>
        </div> <!-- /.cart-summary -->
        <div class="fr contact-info">
          {% if settings.contact_phone != "" %}<span class="tel">{{ settings.contact_phone }}</span>{% endif %}
          {% if settings.contact_email != "" %}<span class="email"><a href="mailto:{{ settings.contact_email }}">{{ settings.contact_email }}</a></span>{% endif %}
        </div>
      </div>
    </header>

    <nav class="main">
      <ul class="clearfix">
        {% for link in linklists[settings.main_linklist].links %}
        {% if linklists[link.handle] == empty %}
        <li{% if settings.display_collection_dropdown and link.type == 'collection_link' and link.object.tags.size > 0 %} class="dropdown"{% endif %}{% if settings.display_blog_dropdown and link.type == 'blog_link' and link.object.articles.size > 0 %} class="dropdown"{% endif %}>
        <a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}{% if settings.use_cufon_on_navigation %} cufon{% endif %}"><span>{{ link.title }}</span></a>
        {% if settings.display_collection_dropdown and link.type == 'collection_link' and link.object.tags.size > 0 %}
        <ul class="dropdown">
          {% for tag in link.object.tags %}
          <li><a href="{{ link.url }}?constraint={{ tag | handleize }}">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
        {% if settings.display_blog_dropdown and link.type == 'blog_link' and link.object.articles.size > 0 %}
        <ul class="dropdown">
          {% for article in link.object.articles %}
          <li><a href="{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% else %}
      <li class="dropdown"><a href="{{ link.url }}" class="{% if link.url == active_url %} current{% endif %}{% if template == 'article' and link.url == blog.url %} current{% endif %}{% if settings.use_cufon_on_navigation %} cufon{% endif %}"><span>{{ link.title }}</span></a>
        <ul class="dropdown">
          {% for link in linklists[link.handle].links %}
          <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endif %}
      {% endfor %}
      <li class="fr">
        <form id="search_form" class="searchform" name="search" action="/search">
          {% if template == "search" and search.performed and search.terms != "" %}
          <input type="text" name="q" class="replace" value="{{ search.terms }}" />
          {% else %}
          <input type="text" class="replace" name="q" value="{{ 'general.search.placeholder' | t }}" />
          {% endif %}
        </form>
      </li>
    </ul>
  </nav>

  <section id="body" class="clearfix">
    <div class="sidebar">
      {% include 'sidebar' %}
    </div>
    <div class="main">
      {% if settings.show_breadcrumb_nav %}
      {% include 'breadcrumb' %}
      {% endif %}
      {{ content_for_layout }}
    </div>
  </section> <!-- /#body -->

  <footer class="clearfix">
    <nav class="main">
      <ul class="clearfix">
        {% for link in linklists[settings.footer_linklist_1].links %}
        <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}{% if template == 'article' and link.url == blog.url %} class="current"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
        {% if settings.twitter_account != "" %}<li class="fr twitter"><a href="https://www.twitter.com/{{ settings.twitter_account }}">Twitter</a></li>{% endif %}
        {% if settings.facebook_url != "" %}<li class="fr facebook"><a href="{{ settings.facebook_url }}">Facebook</a></li>{% endif %}
        {% if settings.rss_url != "" %}<li class="fr rss"><a href="{{ settings.rss_url }}">RSS</a></li>{% endif %}
      </ul>
    </nav>
    <div class="details clearfix">
      <div class="fl subtext" style="top:0px !important;">
        {{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}
        {% if settings.display_shop_currency %}| {{ 'layout.footer.currency' | t }} {{ shop.currency }}{% endif %}
        | {{ powered_by_link }}
      </div>
      <div class="fr">
        <nav>
          <ul class="cc clearfix">
            {% if settings.accept_visa %}<li><img src="{{ 'cc-visa.gif' | asset_url }}" alt="Visa" /></li>{% endif %}
            {% if settings.accept_mastercard %}<li><img src="{{ 'cc-mastercard.gif' | asset_url }}" alt="MasterCard" /></li>{% endif %}
            {% if settings.accept_amex %}<li><img src="{{ 'cc-amex.gif' | asset_url }}" alt="Amex" /></li>{% endif %}
            {% if settings.accept_cirrus %}<li><img src="{{ 'cc-cirrus.gif' | asset_url }}" alt="Cirrus" /></li>{% endif %}
            {% if settings.accept_delta %}<li><img src="{{ 'cc-delta.gif' | asset_url }}" alt="Delta" /></li>{% endif %}
            {% if settings.accept_discover %}<li><img src="{{ 'cc-discover.gif' | asset_url }}" alt="Discover" /></li>{% endif %}
            {% if settings.accept_westernunion %}<li><img src="{{ 'cc-westernunion.gif' | asset_url }}" alt="Western Union" /></li>{% endif %}
            {% if settings.accept_paypal %}<li><img src="{{ 'cc-paypal.gif' | asset_url }}" alt="PayPal" /></li>{% endif %}
            {% if settings.accept_bitcoin %}<li><img src="{{ 'cc-bitcoin.gif' | asset_url }}" alt="Bitcoin" /></li>{% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</div> <!-- /.wrapper -->
</body>
</html>
