@model MReview

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"> </script>

<script type="text/javascript">
    $(document).ready(function ()
    {

        var currentTip = $("#Rating option:selected").text();
        $('#ratingTip').text(currentTip);

        $('div#rating2').rateit({ resetable: false, starwidth: 11, starheight: 11 });
        $("div#rating2").bind('over', function (event, value)
        {
            var currentTip = $("#Rating option:selected").text();
            if (value != undefined)
            {
                var currentTip = $("#Rating option[value='" + value + "']").text();
            }
            $('#ratingTip').text(currentTip);
        });
        $("div#rating2").bind('rated', function (event, value)
        {
            var currentTip = $("#Rating option[value='" + value + "']").text();
            $('#ratingTip').text(currentTip);
        });

        $('#SaveReview').on('click', function ()
        {
            var form = $("#addReviewMain form");
            Reviews.review(form);
        });

        $('#Preview').on('click', function ()
        {
            var form = $("#addReviewMain form");
            var previewContainer = $("#ReviewPreview");
            Reviews.reviewPreview(form, previewContainer);
            $('#containerUpdateDiv .product-tabs').fadeIn(2000);
        });
    });
</script>

<div id="containerUpdateDiv" class="article">
    <div class="product-tabs" style="margin-bottom: 0; display: none;">
        <div class="tabs-content" style="margin-top: 10px">
            <div id="ReviewPreview"></div>
        </div>
    </div>
    <div id="addReviewMain">
        @using (Html.BeginForm())
        {

            //Fields required for preview   
            <input type="hidden" name="CreatedDateTime" value="@DateTime.Now.ToString("s")" />
            @Html.HiddenFor(m => m.TotalComments)
            @Html.HiddenFor(m => m.ItemId)
            @Html.HiddenFor(m => m.PositiveFeedbackCount)
            @Html.HiddenFor(m => m.NegativeFeedbackCount)

            <div class="title">
                <span>@("Create Review".Localize())</span>
            </div>
            <div class="control-group">
                @Html.LabelForEx(m => m.RatingComment)
                @Html.TextBoxFor(m => m.RatingComment)
            </div>
            <div class="control-group">
                @Html.LabelForEx(m => m.Rating)
                @Html.DropDownListFor(model => model.Rating, new[]
                {
                    new SelectListItem {Text = "Click to rate product".Localize(), Value = "0"},
                    new SelectListItem {Text = "Not Good".Localize(), Value = "1"},
                    new SelectListItem {Text = "Needs That Special Something".Localize(), Value = "2"},
                    new SelectListItem {Text = "Average, Ordinary".Localize(), Value = "3"},
                    new SelectListItem {Text = "That's Good Stuff".Localize(), Value = "4"},
                    new SelectListItem {Text = "Perfect. It doesn't get any better".Localize(), Value = "5"}
                }, (string)null)
                <div id="rating2" data-rateit-backingfld="select#Rating" data-role="none" style="cursor: pointer;"></div>
                <span id="ratingTip" style="padding-left: 20px;"></span>
                <br />@Html.ValidationMessageFor(model => model.Rating)
            </div>
            <div class="control-group">
                @Html.LabelForEx(m => m.Reviewer.NickName)
                @Html.TextBoxFor(m => m.Reviewer.NickName)
            </div>
            <div class="control-group">
                @Html.LabelForEx(m => m.Reviewer.Address)
                @Html.TextBoxFor(m => m.Reviewer.Address)
            </div>
            <div class="control-group">
                @Html.LabelForEx(m => m.Comments)
                @Html.TextAreaFor(m => m.ReviewText.Text, new { rows = 10, cols = 30 })
            </div>
            <div class="control-group">
                <p class="required">* @("Required Fields".Localize())</p>
            </div>
            <div class="button-group">
                <button id="Preview" name="save" title="@("How it will look like?".Localize())" type="button">
                    <span>
                        @("Preview".Localize())
                    </span>
                </button>
                <button id="SaveReview" name="save" title="@("Add Review".Localize())" type="button">
                    <span>
                        @("Save".Localize())
                    </span>
                </button>
            </div>
        }
    </div>
</div>
