@using VirtoCommerce.Web.Virto.Helpers
@model CatalogItemWithPriceModel
@{
	ViewBag.Title = Html.Title(Model.DisplayName);
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-tmpl-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/v/virto-item.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/v/virto-reviews.js")"></script>

<script type="text/javascript">
	$(document).ready(function () {

		initItemPage();
		var spinner = initQtySpinner("#qty", "@((int)(Model.Availability.MinQuantity))", "@((int)(Model.Availability.MaxQuantity))");
		spinner.parent().css("float", "left");
		spinner.parent().css("margin-right", "5px");

		@if (!Model.Availability.IsAvailable)
		{
            //@:$("button.btn-cart").attr("disabled", "disabled");
            @:$("#qty").spinner("disable");
        }
	    
		loadVariations("@Model.CatalogItem.ItemId", "@Request.QueryString["variationId"]");

		Reviews.init({ container: "#reviewsTemplateContainer", currentItemId: "@Model.CatalogItem.ItemId" });

		$(".add_reviews_link").on('click', function () {
		    var isAuthorized = '@UserHelper.CustomerSession.IsRegistered';

			if (isAuthorized == "True") {
				tb_show('@("Create Review".LocalizeHtml())', "@Url.Action("AddReview", "Catalog", new { id = Model.CatalogItem.ItemId, height = 550 })", false);
			}
			else {
				tb_show('@("Login or Create New Account".LocalizeHtml())', "@Url.Action("LogOnAsync", "Account")", false);
			}

			return false;
		});
	});
</script>


<script type="text/x-jquery-tmpl" id="reviewTemplate">
    <div class="pr-review-most-helpful">
        <p>(<span id="positive_review_${Id}">${PositiveFeedbackCount}</span> @("of".LocalizeHtml()) <span id="total_feedback_review_${Id}">${PositiveFeedbackCount + NegativeFeedbackCount}</span> @("customers found this review helpful".LocalizeHtml()))</p>
    </div>
    <div class="pr-review-rating">
        <div class="pr-stars">&nbsp;</div>
        <span class="pr-rating pr-rounded">${parseInt(Rating).toFixed(1)}</span>
        <p class="pr-review-rating-headline">${RatingComment}</p>
    </div>
    <h3>Review by <span>${Reviewer.NickName}</span> {{if IsVerifiedBuyer}}<span class="verified">@("Verified Buyer".LocalizeHtml())</span>{{/if}}</h3>
    <p class="date">${GetShortDateAndTime(CreatedDateTime)}</p>
    <div class="pr-review-text">
        <p class="pr-comments">${ReviewText.Text}</p>
    </div>
    <p class="pr-review-helpful-text">
        @("Was this review helpful?".LocalizeHtml())&nbsp;
        <a onclick="Reviews.vote('${Id}', true); return false;" href="#" class="pr-review-helpful-text-link">@("Yes".LocalizeHtml())</a>&nbsp;/&nbsp;
        <a onclick="Reviews.vote('${Id}', false); return false;" href="#" class="pr-review-helpful-text-link">@("No".LocalizeHtml())</a>
    </p>
    <div id="review_feedback_${Id}" class="review-title"></div>
    <p>
        <a href="#" onclick="$('#comment_for_${Id}').show(); $('#report_abuse_for_${Id}').hide(); return false;">@("write a comment".LocalizeHtml())</a>
        <span class="separator">|</span>
        <a href="#" onclick="$('#report_abuse_for_${Id}').show(); $('#comment_for_${Id}').hide(); return false;">@("report abuse".LocalizeHtml())</a>
    </p>

    <div id="report_abuse_for_${Id}" class="report_abuse">
        @using (Html.BeginForm("reportabuse", "api/review", FormMethod.Post, new { id = "abuse_${Id}" }))
		{
            
            <h3>@("Please let us know what kind of issue this is".LocalizeHtml()):</h3>
            <ul class="form-list">
                <li class="control">
                    <input type="radio" class="radio" value="profane" name="Reason">
                    <label>@("Profanity".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="wrong_product" name="Reason">
                    <label>@("Wrong product".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="spam" name="Reason">
                    <label>@("Spam".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="duplicate" name="Reason">
                    <label>@("Duplicate".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="copyright" name="Reason">
                    <label>@("Copyright violation".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="not_review" name="Reason">
                    <label>@("Not a product review".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="image_issue" name="Reason">
                    <label>@("Problem with image".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="other" name="Reason">
                    <label>@("Other".LocalizeHtml())</label>
                </li>
                <li>
                    <span data-valmsg-replace="true" data-valmsg-for="Reason" class="field-validation-valid"></span>
                </li>
                <li>
                    <label class="required"><em>*</em>@("Email Address".LocalizeHtml()):</label>
                    <div class="input-box">
                        <input type="text" maxlength="80" name="Email" class="input-text">
                    </div>
                    <span data-valmsg-replace="true" data-valmsg-for="Email" class="field-validation-valid"></span>
                </li>
                <li>
                    <label>@("Comments".LocalizeHtml()):</label>
                    <div class="input-box">
                        <textarea rows="3" cols="30" name="Comment"></textarea>
                    </div>
                </li>
            </ul>
            <input type="hidden" value="${Id}" name="Id" />
            <input type="hidden" value="True" name="IsReview" />
            <input type="button" class="post" value="Submit" onclick="Reviews.flag('${Id}');" />
            <input type="button" class="post" value="Cancel" onclick="$('#report_abuse_for_${Id}').hide(); return false;" />
		}
    </div>

    <div class="write_a_comment" id="comment_for_${Id}">
        @using (Html.BeginForm("comment", "api/review", FormMethod.Post, new { id = "comment_${Id}" }))
		{
            <h3>@("Your comment".LocalizeHtml()):</h3>

            <ul class="form-list">
                <li>
                    <label for="AuthorName" class="required"><em>*</em>@("Author".LocalizeHtml()):</label>
                    <div class="input-box">
                        @Html.TextBox("AuthorName", UserHelper.CustomerSession.CustomerName, new { @class = "input-text" })
                    </div>
                </li>
                <li>
                    <label for="AuthorLocation">@("Location".LocalizeHtml()):</label>
                    <div class="input-box">
                        @Html.TextBox("AuthorLocation", "", new { @class = "input-text" })
                    </div>
                </li>
                <li>
                    <label for="Comment" class="required"><em>*</em>@("Comment".LocalizeHtml()):</label>
                    <div class="input-box">
                        @Html.TextArea("Comment")
                    </div>
                </li>
            </ul>
            <input type="hidden" value="${Id}" name="Id" />
            <input type="button" class="post" value="Submit" onclick="Reviews.comment('${Id}');" />
            <input type="button" class="post" value="Cancel" onclick="$('#comment_for_${Id}').hide(); return false;" />
		}
    </div>

    <div class="cl"></div>

    {{if TotalComments > 0}}
        <div id="show_all_comment_for_${Id}">
            <i>@("There are".LocalizeHtml()) <b>${TotalComments}</b> @("comments in total".LocalizeHtml())</i>
            {{if Comments.length < TotalComments }}
                <a href="#" onclick="Reviews.showAllComments('${Id}'); return false;">@("Show all".LocalizeHtml())</a>
            {{/if}}
        </div>
    {{/if}}
    {{if Comments}}
        <div id="comments_container_${Id}">
            {{tmpl(Comments) "#commentTemplate"}}
        </div>
    {{/if}}
    <div class="spacer"></div>
</script>
<script type="text/x-jquery-tmpl" id="commentTemplate">
    <div id="comment_${Id}" class="comment">
        <div class="pr-review-most-helpful">
            <p>(<span id="positive_comment_${Id}">${PositiveFeedbackCount}</span> @("of".LocalizeHtml()) <span id="total_feedback_comment_${Id}">${PositiveFeedbackCount + NegativeFeedbackCount}</span> @("customers found this comment helpful".LocalizeHtml()))</p>
        </div>
        <div class="review-title">@("Comment by".LocalizeHtml()) <b>${Reviewer.NickName}</b> @("on".LocalizeHtml()) ${GetShortDate(CreatedDateTime)}</div>
        <p>
            ${Comment}
        </p>
        <p class="pr-review-helpful-text">
            @("Was this comment helpful?".LocalizeHtml())&nbsp;
            <a onclick="Reviews.votecomment('${Id}', true); return false;" href="#" class="pr-review-helpful-text-link">@("Yes".LocalizeHtml())</a>&nbsp;/&nbsp;
            <a onclick="Reviews.votecomment('${Id}', false); return false;" href="#" class="pr-review-helpful-text-link">@("No".LocalizeHtml())</a>
        </p>
        <div id="comment_feedback_${Id}" class="review-title"></div>
        <p><a href="#" onclick="$('#report_abuse_for_${Id}').show(); return false;">@("report abuse".LocalizeHtml())</a></p>
    </div>
    <div class="cl"></div>
    <div id="report_abuse_for_${Id}" class="report_abuse">
        @using (Html.BeginForm("reportabuse", "api/review", FormMethod.Post, new { id = "abuse_${Id}" }))
		{          
            <h3>@("Please let us know what kind of issue this is".LocalizeHtml()):</h3>
            <ul class="form-list">
                <li class="control">
                    <input type="radio" class="radio" value="profane" name="Reason">
                    <label>@("Profanity".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="wrong_product" name="Reason">
                    <label>@("Wrong product".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="spam" name="Reason">
                    <label>@("Spam".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="duplicate" name="Reason">
                    <label>@("Duplicate".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="copyright" name="Reason">
                    <label>@("Copyright violation".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="not_review" name="Reason">
                    <label>@("Not a product review".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="image_issue" name="Reason">
                    <label>@("Problem with image".LocalizeHtml())</label>
                </li>
                <li class="control">
                    <input type="radio" class="radio" value="other" name="Reason">
                    <label>@("Other".LocalizeHtml())</label>
                </li>
                <li>
                    <span data-valmsg-replace="true" data-valmsg-for="Reason" class="field-validation-valid"></span>
                </li>
                <li>
                    <label class="required"><em>*</em>@("Email Address".LocalizeHtml()):</label>
                    <div class="input-box">
                        <input type="text" maxlength="80" name="Email" class="input-text">
                    </div>
                    <span data-valmsg-replace="true" data-valmsg-for="Email" class="field-validation-valid"></span>
                </li>
                <li>
                    <label>@("Comments".LocalizeHtml()):</label>
                    <div class="input-box">
                        <textarea rows="3" cols="30" name="Comment"></textarea>
                    </div>
                </li>
            </ul>
            <input type="hidden" value="${Id}" name="Id" />
            <input type="hidden" value="False" name="IsReview" />
            <input type="button" class="post" value="Submit" onclick="Reviews.flag('${Id}');" />
            <input type="button" class="post" value="Cancel" onclick="$('#report_abuse_for_${Id}').hide(); return false;" />
		}
    </div>
</script>

<div class="main-container col2-left-layout">
    <div class="main">
        <div class="col-main">
            <div id="messages">
            </div>
            <div class="product-view">
                <div class="product-essential">
                    <form action="" method="post" id="product_addtocart_form">
                        <div class="no-display">
                            <input type="hidden" name="product" value="51" />
                            <input type="hidden" name="related_product" id="related-products-field" value="" />
                        </div>
                        <div class="product-shop">
                            <div class="product-name" id="mainProductName">
                                <h1>@Model.DisplayName</h1>
                            </div>
                            <div class="ratings">
                                <p class="rating-links">
                                    <a href="#" class="add_reviews_link">@("Add Your Review".LocalizeHtml())</a>
                                    <span class="separator" style="display:none;">|</span>
                                    <a href="#" id="show_reviews_link" style="display:none;"><span class="pr-review-count-number"></span>&nbsp;@("Review(s)".LocalizeHtml())</a>
                                </p>
                                <div id="review_rating_header_stars" class="pr-review-rating no-display">
                                    <div class="pr-stars" title="rating">&nbsp;</div>
                                    <span class="pr-rating pr-rounded"></span>
                                </div>
                            </div>
                            <p class="availability in-stock">
                                Availability: <span>@Model.Availability.AvailabilityString</span>
                            </p>
                            <div class="price-box" id="mainPrice">
                                @Html.DisplayFor(model => model.Price)
                            </div>
                            <div class="item-variations" id="item-variations">
                                @*@Html.Action("ItemVariations", new { itemId = Model.CatalogItem.ItemId, name = "itemvariations" })*@
                            </div>
	                        <div class="add-to-box">
		                        <div class="add-to-cart">
			                        <label for="qty">@("Qty".LocalizeHtml()):</label>
			                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Quantity" class="input-text qty noborder" 
			                               data-val-required="The quantity field is required." 
			                               data-val-range-min="@((int)(Model.Availability.MinQuantity))" 
			                               data-val-range-max="@((int)(Model.Availability.MaxQuantity))" 
			                               data-val-range="@("Select quantity in range".LocalizeHtml()) @string.Format("{0:#} - {1:#}", Model.Availability.MinQuantity, @Model.Availability.MaxQuantity)" 
			                               data-val-number="@("Quantity must be a number.".LocalizeHtml())" 
			                               data-val="true" />
										<div id="AddToCart">
				                        	@{Html.RenderPartial("AddToCart", Model, new ViewDataDictionary { { "View", "Details" } });}
										</div>

			                        <br />
			                        <span data-valmsg-replace="true" data-valmsg-for="qty" class="field-validation-valid" style="float: left;"></span>
		                        </div>
		                        <span class="or">OR</span>
		                        @{Html.RenderPartial("AddToLinks", Model);}
	                        </div>
							@{
								var firstOrDefault = SettingsHelper.GetSettings("ShareButtonsHtml").FirstOrDefault();
								if (firstOrDefault != null)
								{
									@Html.Raw(firstOrDefault.ToString())
								}
							}
                            <div class="short-description">
                                <h2>@("Quick Overview".LocalizeHtml())</h2>
                                <div class="std">
                                    @if (Model.CatalogItem.EditorialReviews != null && Model.CatalogItem.EditorialReviews.Length > 0)
									{
										foreach (var review in Model.CatalogItem.EditorialReviews)
										{
											if (review.Source == "Product Description")
											{
                                        @Html.Raw(review.Content)
											}
										}

									}
                                </div>
                            </div>
                        </div>
                        <div class="product-img-box">
                            <div id="imageContainer" class="product-image product-image-zoom">
                                <a href="@Url.Image(Model.CatalogItem.Item, "primaryimage")" rel="gal1" class="jqzoom">
	                                <img id="image" class="primaryimage" src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" alt="" title="" style="width:300px;" 
										onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';$('a.jqzoom').attr('href','@Href("~/Content/themes/default/images/blank.png")');" />
                                </a>
                            </div>
                            @if (Model.CatalogItem.ItemAssets.Count(a => a.GroupName.Equals("primaryimage") || a.GroupName.Equals("images")) > 1)
							{ 
                                <div class="more-views">
                                    <h2>More Views</h2>
                                    <ul>
                                        @foreach (var asset in Model.CatalogItem.ItemAssets.OrderBy(x=>x.SortOrder).Where(a => a.GroupName.Equals("primaryimage") || a.GroupName.Equals("images")))
										{
											var thumClass = asset.GroupName.Equals("primaryimage") ? "zoomThumbActive" : "";
                                            <li>
                                                <a class="@thumClass" href='javascript:void(0);' rel="
                                                    {gallery: 'gal1', 
                                                    smallimage: '@Url.Image(asset)',
                                                    largeimage: '@Url.Image(asset)'}"
                                                    onclick="imageChanged();">
                                                    <img src="@Url.ImageThumbnail(asset)" width="66" height="66">
                                                </a>
                                            </li>
										}
                                    </ul>
                                </div>
							}
                        </div>
                        <div class="clearer">
                        </div>
                    </form>
                </div>
                <div class="product-collateral">
                    <ul class="product-tabs">
                        <li id="product_tabs_description" class="active first"><a href="javascript:void(0)">@("Product Description".LocalizeHtml())</a></li>
                        <li id="product_tabs_upsell_products" class=""><a href="javascript:void(0)">@("Accessories".LocalizeHtml())</a></li>
                        <li id="product_tabs_additional" class=""><a href="javascript:void(0)">@("Additional Information".LocalizeHtml())</a></li>
                        <li id="product_tabs_reviews" class=""><a href="javascript:void(0)">@("Reviews".LocalizeHtml())</a></li>
                    </ul>
                    <div class="product-tabs-content" id="product_tabs_description_contents">
                        <h2>@("Details".LocalizeHtml())</h2>
                        <div class="std">
                            @if (Model.CatalogItem.EditorialReviews != null && Model.CatalogItem.EditorialReviews.Length > 0)
							{
								foreach (var review in Model.CatalogItem.EditorialReviews)
								{
									if (review.Source == "Amazon.com Product Description")
									{
										 @Html.Raw(review.Content)
									}
								}
							}
                        </div>
                    </div>
                    <div class="product-tabs-content" id="product_tabs_upsell_products_contents">
                        <div class="box-collateral box-up-sell">
                            @{Html.RenderAction("Association", new { item = Model.CatalogItem, templateName = "RecommendedProducts", groupName = "Accessories" });}
                        </div>
                    </div>
                    <div class="product-tabs-content" id="product_tabs_additional_contents">
	                    <h2>@("Additional Information".LocalizeHtml())</h2>
						<div id="product_tabs_additional_contents_list">
							@{Html.RenderPartial("ItemProperties", Model.CatalogItem);}
						</div>
                    </div>
                    <div class="product-tabs-content" id="product_tabs_reviews_contents">
                        <h2>@("Customer Reviews".LocalizeHtml())</h2>
                        <div id="product_tabs_reviews_contents_empty" class="std">
                            @("There are no reviews. Be first and".LocalizeHtml()) <a href="#" class="add_reviews_link">@("Add Your Review".LocalizeHtml())</a>
                        </div>
                        <div id="product_tabs_reviews_contents_list" class="std no-display">
                            <section class="featured">
                                <div class="content-wrapper pr-review-sort">
                                    <div class="pr-review-sort-wrapper">
                                        <p class="pr-review-count">
                                            @("Reviewed by".LocalizeHtml()) <span class="pr-review-count-number"></span>&nbsp;@("customers with average rating -".LocalizeHtml()) <span class="pr-review-average"></span>
                                        </p>
                                        <div class="pr-review-sort-box">
                                            <p class="pr-review-sort-by">
                                                @("Sort by".LocalizeHtml())
                                            </p>
                                            <select id="sortList">
                                                <option value="date_new">@("Newest".LocalizeHtml())</option>
                                                <option value="date_old">@("Oldest".LocalizeHtml())</option>
                                                <option value="rating_high">@("Highest rating".LocalizeHtml())</option>
                                                <option value="rating_low">@("Lowest rating".LocalizeHtml())</option>
                                                <option value="helpful_high" selected="selected">@("Most helpful".LocalizeHtml())</option>
                                                <option value="helpful_low">@("Least helpful".LocalizeHtml())</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-wrapper pr-pagination-top">
                                    <div class="pr-page-count-wrapper">
                                        <p class="pr-page-count">
                                            @("Displaying reviews".LocalizeHtml()) <strong></strong>
                                        </p>
                                    </div>
                                    <div class="pr-page-nav-wrapper">
                                        <p class="pr-page-nav">
                                            <span class="pr-page-prev">« @("Previous".LocalizeHtml())</span>
                                            <span class="pr-divider">| </span>
                                            <span class="pr-page-next">@("Next".LocalizeHtml()) »</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="content-wrapper" id="reviewsTemplateContainer">
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-left sidebar">
            @{Html.RenderAction("Association", new { item = Model.CatalogItem, templateName = "RelatedProducts", groupName = "Related Items" });}
            <div class="block block-cart">
                <div class="block-title">
                    <strong><span>@("My Cart".LocalizeHtml())</span></strong>
                </div>
                <div class="block-content">
                    @{Html.RenderAction("MiniView", "Cart");}
                </div>
            </div>
            <div class="block block-list block-compare">
                <div class="block-title">
                    <strong><span>@("Compare Products".LocalizeHtml())</span></strong>
                </div>
                <div class="block-content">
                    @{Html.RenderAction("MiniCompareList", "Account");}
                </div>
            </div>
        </div>
    </div>
</div>
