@using VirtoCommerce.Client
@model VariationsModel

@if (Model.Variations.Any())
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("div.variation select").change(function (source) {
                loadVariations("@Model.ParentItemId", null, source.target);
            });

            var form = $("div.variation").closest("form");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
            @if (Model.CatalogItem == null)
            {
                @:$("span.in-stock").hide();
            }
        });
    </script>
    
        @Html.HiddenFor(m => m.SelectedVariationId)
            foreach (var variation in Model.Variations)
            {
                <div class="variation">
                    <p>@variation.Name</p>

                    @{
                        var selltem = variation.Items.FirstOrDefault(s => s.Selected);
                        var currentStyle = selltem != null && !string.IsNullOrEmpty(selltem.Value)
                                           && variation.Name.Equals("Color", StringComparison.OrdinalIgnoreCase) ?
                                           string.Format("style=background:{0}", selltem.Value) : "";
                    }

                    <select name="@variation.Name" id="@variation.Name" data-val-required="The field is required." data-val="true" @currentStyle>
                        @foreach (var item in variation.Items)
                        {
                            var isSelected = item.Selected ? "selected=selected" : "";
                            var style = variation.Name.Equals("Color", StringComparison.OrdinalIgnoreCase) ? string.Format("style=background:{0}", item.Value) : "";

                            <option value="@item.Value" @isSelected @style>@item.Text</option>
                        }
                    </select>
                    <br />
                    <span data-valmsg-replace="true" data-valmsg-for="@variation.Name" class="field-validation-valid"></span>
                </div>
            }
    
        <div class="variation-item">
            @if (Model.CatalogItem != null)
            {
                Html.RenderPartial("Variation", Model.CatalogItem);
            }
        </div>

}
