@using System.Web.UI.WebControls
@using VirtoCommerce.Web.Virto.Helpers
@model CatalogItemWithPriceModel
@{
    ViewBag.Title = Html.Title(Model.DisplayName);
    ViewBag.PageTitle = Model.CatalogItem.CategoryName;
}

@helper RenderAddReview()
{
      <a href="@Url.Action("AddReview", "Catalog", new { id = Model.CatalogItem.ItemId })" rel="popup">@("Add Your Review".Localize())</a>
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-tmpl-min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/v/virto-item.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/v/virto-reviews.js")"></script>

<script type="text/javascript">
    $(document).ready(function ()
    {

        initItemPage();
        var spinner = initQtySpinner("#qty", "@((int)(Model.Availability.MinQuantity))", "@((int)(Model.Availability.MaxQuantity))");

		@if (!Model.Availability.IsAvailable)
  {
		    @:$("#qty").spinner("disable");
		}
  else
  {
		    @:$("#qty").val("@Model.Availability.MinQuantity");
		}

        loadVariations("@Model.CatalogItem.ItemId", "@Request.QueryString["variation"]");

        Reviews.init({ container: "#reviewsTemplateContainer", currentItemId: "@Model.CatalogItem.ItemId" });

        // Slider
        $('.products-previews').virtoSlider({ speed: 300 });
        $('.product-additional').virtoSlider({
            elementVisible: 1,
            speed: 350
        });
    });
</script>

@Html.DisplayForModel("ReviewTemplate")
@Html.DisplayForModel("ReviewCommentTemplate")


@section PageTitle
{
<!--
    <div class="page-item-nav">
        <ul>
            <li class="prev"><a href=""><span>@("Previous".Localize())</span></a></li>
            <li class="next"><a href=""><span>@("Next".Localize())</span></a></li>
        </ul>
    </div>
    -->
}

<div class="rubber">
    <div class="product">
        <div class="product-view clearfix">
            <div class="product-info">
                <form action="" method="post" id="product_addtocart_form">
                    <div class="product-image@(Model.IsNew ? " new" : Model.IsSale ? " sale" : "")">
                        <figure id="imageContainer">
                            <a href="@Url.Image(Model.CatalogItem.Item, "primaryimage")" rel="gal1">
                                <img id="image" class="cloudzoom" data-cloudzoom="autoInside:'600',zoomWidth:300,zoomHeight:300,maxMagnification:5" src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" alt="@ViewBag.ImageAltDescription" title="@ViewBag.ImageAltDescription" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';$(this).parent().attr('href','@Href("~/Content/themes/default/images/blank.png")');" />
                            </a>
                        </figure>

                        @if (Model.CatalogItem.ItemAssets.Count(a => a.GroupName.Equals("primaryimage.thumb") || a.GroupName.Equals("images.thumb")) > 1)
                        { 
                            <div class="products-previews">
                                <div class="scroll">
                                    <ul class="slider-list">
                                        @foreach (var asset in Model.CatalogItem.ItemAssets.OrderBy(x => x.SortOrder).Where(a => a.GroupName.Equals("primaryimage.thumb") || a.GroupName.Equals("images.thumb")))
                                        {
                                            <li>
                                                <a href='@Url.Image(asset)'>
                                                    <img class="cloudzoom-gallery" src="@Url.ImageThumbnail(asset)" data-cloudzoom="useZoom: '.cloudzoom', image: '@Url.Image(asset)'">
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <ul class="nav">
                                    <li class="left"><a>@("Left".Localize())</a></li>
                                    <li class="right"><a>@("Right".Localize())</a></li>
                                </ul>
                            </div>
                        }
                    </div>
                    @{
                        Html.RenderAction("ItemDynamic",new {item = Model.CatalogItem.ItemId}, true);
                    }
                </form>
            </div>

            @{ var associationGroup = CatalogHelper.Association(Model.CatalogItem, "Related Items"); }
            @if (associationGroup != null)
            {
                <div class="product-other">
                    <div class="product-additional">
                        @{ Html.RenderPartial("RelatedProducts", associationGroup); }
                  ,  </div>
                </div>
            }
            else
            {
                <script>$(function () { $(".article .product-view").addClass('no-recommend'); })</script>
            }
        </div>
        <div class="product-tabs tabs">
            <ul class="clearfix">
                <li class="selected"><a>@("Description".Localize())</a></li>
                <li><a>@("Additional Information".Localize())</a></li>
                <li id="product_tabs_reviews"><a>@("Reviews".Localize())</a></li>
            </ul>
            <h2 data-index="0" class="head selected"><a>@("Description".Localize())</a></h2>
            <div class="tabs-content" style="display: block;">
                @if (Model.CatalogItem.EditorialReviews != null && Model.CatalogItem.EditorialReviews.Length > 0)
                {
                    foreach (var review in Model.CatalogItem.EditorialReviews)
                    {
                        if (review.Source == "FullReview")
                        {
                            @Html.Raw(review.Content)
                        }
                    }
                }
            </div>
            <h2 data-index="1" class="head"><a>@("Additional Information".Localize())</a></h2>
            <div id="product_tabs_additional_contents_list" class="tabs-content" style="display: none;">
                @{Html.RenderPartial("ItemProperties", Model.CatalogItem);}
            </div>
            <h2 data-index="2" class="head"><a>@("Reviews".Localize())</a></h2>
            <div class="tabs-content" style="display: none;">
                <div id="product_tabs_reviews_contents_empty" class="std">
                    @("There are no reviews. Be first and".Localize()) @RenderAddReview()
                </div>
                <div id="product_tabs_reviews_contents_list" style="display: none;">
                    <header>
                        <p class="title">@("Reviewed by".Localize()) <span class="pr-review-count-number"></span>&nbsp;@("customers with average rating -".Localize()) <span class="pr-review-average"></span></p>
                        <select id="sortList">
                            <option value="date_new">@("Newest".Localize())</option>
                            <option value="date_old">@("Oldest".Localize())</option>
                            <option value="rating_high">@("Highest rating".Localize())</option>
                            <option value="rating_low">@("Lowest rating".Localize())</option>
                            <option value="helpful_high" selected="selected">@("Most helpful".Localize())</option>
                            <option value="helpful_low">@("Least helpful".Localize())</option>
                        </select>
                        <div class="content-wrapper pr-pagination-top">
                            <div class="pr-page-count-wrapper">
                                <p class="pr-page-count">
                                    @("Displaying reviews".Localize()) <strong></strong>
                                </p>
                            </div>
                            <div class="pr-page-nav-wrapper">
                                <p class="pr-page-nav">
                                    <span class="pr-page-prev">« @("Previous".Localize())</span>
                                    <span class="pr-divider">| </span>
                                    <span class="pr-page-next">@("Next".Localize()) »</span>
                                </p>
                            </div>
                        </div>
                    </header>
                    <div class="content-wrapper" id="reviewsTemplateContainer">
                    </div>
                </div>
            </div>
        </div>
        @if (associationGroup != null)
        {
            <div class="product-recommend products-no-effects slider-products">

                @{ Html.RenderPartial("RelatedProducts2", associationGroup); }
            </div>
        }
    </div>
</div>
@section Bottom{

    @{Html.RenderAction("Association", new { item = Model.CatalogItem, templateName = "RecommendedProducts", groupName = "Accessories" });}

}