@model CatalogItemWithPriceModel
<a class="product-image" href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)" title="@Model.DisplayName">
    <img src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" width="75" height="75" alt="@Model.DisplayName" 
		onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" /></a>
<div class="product-details">
    <h3 class="product-name"><a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)" title="@Model.DisplayName">@Model.DisplayName</a></h3>
    <div class="price-box">
        @Html.DisplayFor(model => model.Price)
    </div>
    <div class="actions">
        @{Html.RenderPartial("AddToCart", Model, new ViewDataDictionary { { "View", "List" } });}
        <ul>
            @{Html.RenderPartial("AddToLinks", Model);}
        </ul>
    </div>

</div>
