@model CatalogItemWithPriceModel
<td class="item">
    <a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)" title="@Model.DisplayName"
                                                                        class="product-image" style="width:125px; height: 125px;" >
        <img class="primaryimage" src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" width="125" height="125" alt="@Model.CatalogItem.Code" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" />
    </a>
    <p class="product-name">
        <a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)" title="@Model.DisplayName">@Model.DisplayName</a>
    </p>
    <div class="price-box">
        <p class="minimal-price">
            <span class="price">@Html.DisplayFor(model => model.Price.SalePriceFormatted)</span>
        </p>
    </div>
</td>
