@model CatalogItemWithPriceModel

<a class="pic" href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)" title="@Model.DisplayName">
    <img src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" alt="@Model.CatalogItem.Code" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" />
</a>
<a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.CatalogItem.ParentItemId)">
    @Model.DisplayName
</a>
<label>
    @if (Model.Price != null)
    {
        @Html.DisplayFor(m => m.Price, new { Association = Model as AssociatedCatalogItemWithPriceModel})
    }
</label>
