@model ForgotPasswordModel

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <span class="title">@("Forgot Your Password?".Localize())</span>
    <div class="control-group">
        @Html.LabelForEx(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="button-group">
        <button type="submit">
            <span>@("Submit".Localize())</span>
        </button>
    </div>
    <a class="login">@("Back To Login".Localize())</a>
}
