@model VirtoCommerce.Foundation.Orders.Model.LineItem
<tr>
    <td class="product-name">
        <span class="mobile-view">@("Product Name<".Localize())</span>
        <span>@Model.DisplayName</span>
        <dl class="item-options">
            @foreach (var option in Model.Options)
            { 
                <dt>@option.OptionName</dt>
                <dd>@option.OptionValue</dd>
            }
        </dl>
    </td>
    <td>
        <span class="mobile-view">@("SKU".Localize())</span>
        <span>@Model.CatalogItemId</span>
    </td>
    <td>
        <span class="mobile-view">@("Price".Localize())</span>
        <span>@StoreHelper.FormatCurrency(Model.PlacedPrice, Model.OrderForm.OrderGroup.BillingCurrency)</span>
    </td>
    <td>
        <span class="mobile-view">@("Quantity".Localize())</span>
        <span>@("Ordered: {0}".Localize(Model.Quantity))</span>
    </td>
    <td>
        <span class="mobile-view">@("Subtotal".Localize())</span>
        <span>@StoreHelper.FormatCurrency(Model.ExtendedPrice, Model.OrderForm.OrderGroup.BillingCurrency)</span>
    </td>
</tr>
