@model VirtoCommerce.Foundation.Orders.Model.Order[]


<table class="data-table orders" id="my-orders-table">
    <colgroup>
        <col width="1">
        <col width="1">
        <col>
        <col width="1">
        <col width="1">
        <col>
    </colgroup>
    <thead>
        <tr>
            <th><span class="nobr">@("Order #".Localize())</span></th>
            <th><span class="nobr">@("Date".Localize())</span></th>
            <th><span class="nobr">@("Ship To".Localize())</span></th>
            <th><span class="nobr">@("Order Total".Localize())</span></th>
            <th><span class="nobr">@("Order Status".Localize())</span></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Model.Count(); i++)
        {
            @Html.DisplayFor(m => m[i], "OrderLine")
        }
    </tbody>
</table>
