@model VirtoCommerce.Foundation.Orders.Model.Order[]

@{
    var pageLimits = new[] {5, 10, 20, 50};
}

<div class="pager">
    <span class="amount">@Model.Count() @("Item(s)".Localize())</span>
    <div class="limiter">
        <span>@("Show".Localize())</span>
        <select name="limit" id="" onchange="$.redirect(this.value)">
            @{var noSelected = true;}

            @foreach (int limit in pageLimits)
            {
                var selected = "";
                int currentLimit;
                if (Request.QueryString["limit"] != null && int.TryParse(Request.QueryString["limit"], out currentLimit) && currentLimit == limit)
                {
                    noSelected = false;
                    selected = "selected=\"selected\"";
                }
                <option value="@Url.Action("Orders", new { limit })" @selected>@limit</option>
            }
            <option value="@Url.Action("Orders")" @(noSelected?"selected=\"selected\"":"")>@("All".Localize())</option>
        </select>
        <span>@("per page".Localize())</span>
    </div>
</div>
