@using VirtoCommerce.Foundation.Orders.Model
@model Order

<header class="head">
    <span class="order-title">@("Order information".Localize())</span>
    @if ((string)ViewData["View"] == "Default")
    {
        <ul role="navigation">
            <li class="reorder">
                @Html.ActionLink("Reorder".Localize(), "Reorder", new { orderId = Model.OrderGroupId },new {title="Reorder".Localize()})
            </li>
            <li class="return">
                @Html.ActionLink("Return".Localize(), "OrderReturn", new { orderId = Model.OrderGroupId },new {title="Return".Localize()})
            </li>
            <li class="print">
                <a href="#" title=@("Print".Localize()) onclick="$.popup('@Url.Action("PrintOrder", new { orderId = Model.OrderGroupId })'); return false;">@("Print".Localize())</a>
            </li>
        </ul>
    }
</header>
<p>@("Order Date:".Localize()) @Model.Created.Value.ToString("MMMM d, yyyy")</p>
<div class="block clearfix">
    <div class="col">
        <div class="title">
            <span>@("Shipping Address".Localize())</span>
        </div>
        <div class="info">
            @{Html.RenderAction("OrderAddress", new { order = Model, type = "shipping" });}

        </div>
    </div>
    <div class="col">
        <div class="title">
            <span>@("Shipping Method".Localize())</span>
        </div>
        <div class="info">
            @if (Model.OrderForms != null)
            {
                foreach (var sm in Model.OrderForms.SelectMany(of => of.Shipments))
                {
                <p>@sm.ShippingMethodName</p>
                }
            }
        </div>
    </div>
</div>
<div class="block clearfix">
    <div class="col">
        <div class="title">
            <span>@("Billing Address".Localize())</span>
        </div>
        <div class="info">
            @{Html.RenderAction("OrderAddress", new { order = Model, type = "billing" });}
        </div>
    </div>
    <div class="col">
        <div class="title">
            <span>@("Payment Method".Localize())</span>
        </div>
        <div class="info">
            @if (Model.OrderForms != null)
            {
                foreach (var pm in Model.OrderForms.SelectMany(of => of.Payments))
                {
                <p>@pm.PaymentMethodName</p>
                }
            }
        </div>
    </div>
</div>
<div class="block clearfix">
    <table class="data-table">
        <caption>@("Items Ordered".Localize())</caption>
        <colgroup>
            <col>
            <col width="1">
            <col width="1">
            <col width="1">
            <col width="1">
        </colgroup>
        <thead>
            <tr>
                <th align="left">@("Product Name".Localize())</th>
                <th>@("SKU".Localize())</th>
                <th>@("Price".Localize())</th>
                <th>@("Qty".Localize())</th>
                <th>@("Subtotal".Localize())</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lineItem in Model.OrderForms.SelectMany(orderForm => orderForm.LineItems))
            {
                @Html.DisplayFor(m => lineItem, "LineItem")
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="right">@("Subtotal".Localize())</td>
                <td>@StoreHelper.FormatCurrency(Model.Subtotal, Model.BillingCurrency)</td>
            </tr>
            <tr>
                <td colspan="4" align="right">@("Shipping & Handling".Localize())</td>
                <td>@StoreHelper.FormatCurrency(Model.ShippingTotal, Model.BillingCurrency)</td>
            </tr>
            <tr>
                <td colspan="4" align="right">@("Tax Total".Localize())</td>
                <td>@StoreHelper.FormatCurrency(Model.TaxTotal, Model.BillingCurrency)</td>
            </tr>
            <tr>
                <td colspan="4" align="right">@("Discount Total".Localize())</td>
                <td>@StoreHelper.FormatCurrency(Model.DiscountTotal, Model.BillingCurrency)</td>
            </tr>
            <tr>
                <td class="grand" colspan="4" align="right">@("Grand Total".Localize())</td>
                <td class="grand">@StoreHelper.FormatCurrency(Model.Total, Model.BillingCurrency)</td>
            </tr>
        </tfoot>
    </table>
</div>
<div class="buttons clearfix">
    <a href="@Url.Action("Orders")" class="back">« @("Back to My Orders".Localize())</a>
</div>
