<!DOCTYPE html>
<html lang="en" ng-app="platformWebApp" ng-strict-di>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virto Commerce @ViewData["Title"]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Application insight snippet https://github.com/Microsoft/ApplicationInsights-aspnetcore/wiki/Getting-Started-with-Application-Insights-for-ASP.NET-Core-->
    @*@Html.Raw(snippet.FullScript)*@

    @if (Model.SendDiagnosticData)
    {
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-91HHKFRFGL"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'G-91HHKFRFGL');

            function onhashchanged() {
                let pagePath = location.hash ? location.hash.substr(1) : "";
                gtag('event', 'page_view', {page_path: pagePath});
            }
            window.addEventListener("hashchange", onhashchanged, false);
        </script>
    }

    <link rel="stylesheet" href="~/dist/style.css" asp-append-version="true" />
    <modules-style-bundle bundle-path="~/dist/style.css" asp-append-version="true"></modules-style-bundle>


    <meta name="viewport" content="width=device-width" />
    <base href="~/" />

</head>
@*DO NOT CHANGE THE CODE BELOW: COPYRIGHT VIOLATION*@
<body ng-class="{'lang-rtl': isRTL}" ng-controller="platformWebApp.appCtrl" ng-init="platformVersion ='@(Model.PlatformVersion)'; demoCredentials = @(Model.DemoCredentials); demoResetTime = @(Model.DemoResetTime); license = initExpiration(@(Model.License)); allowInstallModules = @($@"{Model.RefreshProbingFolder}".ToLower())">
    @RenderBody()

    <partial name="_AppDependencies" />

    <script src="~/dist/vendor.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/dist/app.js" type="text/javascript" asp-append-version="true"></script>
    <modules-script-bundle bundle-path="~/dist/app.js" asp-append-version="true"></modules-script-bundle>

    @RenderSection("scripts", required: false)
</body>
</html>
