@using VirtoCommerce.Web.Virto.Helpers
@model dynamic

<ul class="head-links">
    <li class="first"><a href="@Url.Action("Index", "Account")" title="@("My Account".LocalizeHtml())">
        @("My Account".LocalizeHtml())</a>

    </li>
    <li>@{Html.RenderPartial("WishListLink", Model.WishList as CartModel);}</li>
    <li>@{Html.RenderPartial("CartLink", Model.Cart as CartModel);}</li>
    <li><a href="@Url.Action("Index", "Checkout")" title="@("Checkout".LocalizeHtml())" class="top-link-checkout">@("Checkout".LocalizeHtml())</a></li>
    @{Html.RenderPartial("_LogOnPartial");}
</ul>
