@using Newtonsoft.Json
@model StoresModel
<script>
    $(function() {
        VirtoCommerce.Stores = @Html.Raw(JsonConvert.SerializeObject(Model.Stores));
        });
</script>
<span>@("Store".Localize()): <span class="current">@Model.SelectedStoreName</span></span>
<ul>
    @foreach (var curr in Model.Stores)
    {       
        <li class="@(curr.Id == Model.SelectedStore ? "selected" : "")">
            <a href="@curr.Url">@curr.Name</a>
        </li>
    }
</ul>
