{% layout settings.customer_layout %}
<!--START BREADCRUMB-->
<div id="breadcrumb" class="desktop">
	<a href="/">{{ 'general.breadcrumbs.home' | t }}</a> &mdash; <a href="#" class="active">{{ 'general.breadcrumbs.reset_password' | t }}</a>
</div>
<!--END BREADCRUMB-->
<div class="six columns alpha omega">
	<div id="create-account">
		<h1 class="accounts-title">{{ 'customer.reset_password.title' | t }}</h1>
		<p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>
		{% form 'reset_customer_password' %}
		    {{ form.errors | default_errors }}
		    <div id="password" class="clearfix large_form">
		      <label class="large" for="password">{{ 'customer.reset_password.password' | t }}</label>
		      <input type="password" value="" name="customer[password]" id="customer_password" class="long" />
		    </div>
		    <div id="password_confirm" class="clearfix large_form">
		      <label class="large" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
		      <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="long" />
		    </div>
		    <div class="action_bottom">
		      <input type="submit" class="button" value="{{ 'customer.reset_password.submit' | t }}" />
		    </div>
		  {% endform %}
	</div>
</div>