@using VirtoCommerce.Web.Virto.Helpers
@model LineItemModel
<tr id="@String.Format("row-{0}", Model.LineItem.LineItemId)">
    <td class="product-image">
        @Html.HiddenFor(x => x.LineItemId)
        <a title="@Model.LineItem.Description" href="@Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem)">
            <img alt="@Model.LineItem.Description" src="@Url.Image(Model.CatalogItem.Item, "primaryimage")" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" />
        </a>
        <a href="@Url.ItemUrl(Model.CatalogItem.Item, Model.ParentCatalogItem)" class="title">@Model.DisplayName</a>
        <span class="price">@Model.FormattedPlacedPrice</span>
    </td>
    <td>
        @Html.TextAreaFor(m => m.Comment, new { placeholder = UserHelper.DefaultCommentInWishList.Localize(), @cols = "20", @rows = "5" })
    </td>
    <td align="center">
        <span class="nobr">
            @if (Model.LineItem.LastModified.HasValue)
            {
                @Model.LineItem.LastModified.Value.ToLongDateString()
            }
            else if (Model.LineItem.Created.HasValue)
            { 
                @Model.LineItem.Created.Value.ToShortDateString()
            }
        </span>
    </td>
    <td align="center" class="add-cart">
        @Html.TextBoxFor(x => x.Quantity, new { @class = "qty", maxlength = "12", size = "4" })
        @{Html.RenderPartial("AddToCart", CatalogHelper.CreateCatalogModel(Model.CatalogItem.ItemId, Model.ParentCatalogItem != null ? Model.ParentCatalogItem.ItemId : null), new ViewDataDictionary { { "CallbackJs", 
              string.Format("function(){{ $('#row-{0}').fadeOut('slow',function(){{ if($('tr[id^=row-]:visible').length == 0){{ location.reload(true); }} }}); }}", Model.LineItemId) } });}
        <p>@Html.ActionLink("Edit".Localize(), "Configure", "Cart", new { lineItemId = Model.LineItemId }, new { title = "Edit item".Localize() })</p>
    </td>
    <td class="product-actions">
        @Ajax.ActionLink("Remove item".Localize(), "RemoveFromWishList", "Cart", new { lineItemId = Model.LineItemId }, new AjaxOptions
            {
                HttpMethod = "POST",
                Confirm = "Are you sure you would like to remove this item from the wish list?".Localize(),
                OnSuccess = "VirtoCart.onUpdate"
            }, new { @class = "trash" })
    </td>
</tr>
