@model OrderReturnItem

<script type="text/javascript">
    $(function ()
    {
        $("input#IsSelected_@Model.LineItemId").change(function ()
        {
            if ($(this).is(":checked"))
            {

                $(this).parent().find('.info').fadeIn('normal');
            }
            else
            {
                $(this).parent().find('.info').fadeOut('normal');
            }
        });
        $("input#IsSelected_@Model.LineItemId").change();

        initQtySpinner("#@ViewData.TemplateInfo.GetFullHtmlFieldId("Quantity")", "@Model.MinQty", "@Model.MaxQty");
    });
</script>

@Html.HiddenFor(m => m.LineItemId)

@Html.CheckBoxFor(m => m.IsSelected, new { @class = "action", id = "IsSelected_" + Model.LineItemId })
<a href="@Url.ItemUrl(Model.LineItemModel.CatalogItem.Item, Model.LineItemModel.ParentCatalogItem)" title="@Model.LineItemModel.DisplayName">
    <img src="@Url.Image(Model.LineItemModel.CatalogItem.Item, "primaryimage")" onerror="this.onerror=null;this.src='@Href("~/Content/themes/default/images/blank.png")';" alt="@Model.LineItemModel.DisplayName"/>
    <span>@Model.LineItemModel.DisplayName</span>
</a>
<div class="clearfix info" style="display: none;">
    <div class="control-group">
        @Html.LabelForEx(m => m.ReturnReason)
        @Html.DropDownListFor(m => m.ReturnReason, OrderReturns.ReturnReasons)

        @Html.ValidationMessageFor(m => m.ReturnReason)
    </div>
    <div class="control-group">
        @Html.LabelForEx(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity)
        @Html.HiddenFor(m => m.MinQty)
        @Html.HiddenFor(m => m.MaxQty)
        @Html.ValidationMessageFor(m => m.Quantity)
    </div>
</div>


