{% layout settings.customer_layout %}
<!--START BREADCRUMB-->
<div id="breadcrumb" class="desktop">
	<a href="/">{{ 'general.breadcrumbs.home' | t }}</a> &mdash; <a href="#" class="active">{{ 'general.breadcrumbs.register' | t }}</a>
</div>
<div class="six columns alpha omega">
	<div id="create-account">
		<h1 class="accounts-title">{{ 'customer.register.title' | t }}</h1>
		{% form 'create_customer' %}
	      {{ form.errors | default_errors }}
	      <div id="first_name" class="clearfix large_form">
	        <label for="first_name" class="login">{{ 'customer.register.first_name' | t }}</label>
	        <input type="text" value="" name="customer[first_name]" id="first_name" class="long" size="30" />
	      </div>
	      <div id="last_name" class="clearfix large_form">
	        <label for="last_name" class="login">{{ 'customer.register.last_name' | t }}</label>
	        <input type="text" value="" name="customer[last_name]" id="last_name" class="long" size="30" />
	      </div>
	      <div id="email" class="clearfix large_form">
	        <label for="email" class="login">{{ 'customer.register.email' | t }}</label>
	        <input type="email" value="" name="customer[email]" id="email" class="long" size="30" />
	      </div>
	      <div id="password" class="clearfix large_form">
	        <label for="password" class="login">{{ 'customer.register.password' | t }}</label>
	        <input type="password" value="" name="customer[password]" id="password" class="long" size="30" />
	      </div>
	      <div class="action_bottom">
	        <input type="submit" value="{{ 'customer.register.submit' | t }}" />
	      </div>
	    {% endform %}
	</div>
</div>