{% if template != "index" %}
<div id="breadcrumb" class="clearfix">
  <a href="/">{{ 'general.breadcrumbs.home' | t }}</a><span class="divider">&raquo;</span>
  {% if template contains 'page' %}
  {{ page.title}}
  {% endif %}
  {% if template contains 'collection' %}
  {{ collection.title}}
  {% endif %}
  {% if template contains 'product' %}
  {% if collection %}
  <a href="/collections/{{ collection.handle }}">{{ collection.title}}</a><span class="divider">&raquo;</span>
  {{ product.title}}
  {% else %}
  {% if product.collections.first.url != "" %}
  <a href="/collections/all">{{ 'general.breadcrumbs.products' | t }}</a><span class="divider">&raquo;</span>
  {% endif %}
  {{ product.title}}
  {% endif %}
  {% endif %}
  {% if template contains '404' %}
  {{ 'general.404.title' | t }}
  {% endif %}
  {% if template contains 'blog' %}
  {{ blog.title }}
  {% endif %}
  {% if template contains 'article' %}
  <a href="{{ blog.url }}">{{ blog.title }}</a><span class="divider">&raquo;</span>
  {{ article.title}}
  {% endif %}
  {% if template contains 'search' %}
  {{ 'general.search.title' | t }}
  {% endif %}
  {% if template contains 'cart' %}
  {{ 'cart.general.title' | t }}
  {% endif %}
  {% if template contains 'customers' %}
  {{ page_title | escape }}
  {% endif %}
</div> <!-- /#breadcrumb -->
{% endif %}