{% capture collection_handle %}{{ product-loop | handleize }}{% endcapture %}
{% if collection_handle == "" %}
<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="{{ product.url }}">
      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  <div class="details">
    <a href="{{ product.url }}">
      <span class="title">{{ product.title }}</span>
      <span class="price">{{ product.price_min | money }} {% if product.price_min < product.compare_at_price_min %}<span class="sale">{{ 'products.product.sale_html' | t }}</span>{% endif %}</span>
    </a>
  </div>
</div>
{% else %}
<div id="product-loop-{{ product.handle }}" class="product{% cycle 'featured': '', '', '', ' last' %}">
  <div class="image">
    <a href="/collections/{{ product-loop }}{{ product.url }}">
      <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape  }}" />
    </a>
  </div>
  <div class="details">
    <a href="/collections/{{ product-loop }}{{ product.url }}">
      <span class="title">{{ product.title }}</span>
      <span class="price">{{ product.price_min | money }} {% if product.price_min < product.compare_at_price_min %}<span class="sale">{{ 'products.product.sale_html' | t }}</span>{% endif %}</span>
    </a>
  </div>
</div>
{% endif %}
{% cycle 'clear-table': '', '', '', '<div style="clear:both;"></div>' %}