{% if settings.enable_subcategories %}
  {% if linklists[link.handle] == empty %}
    <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}{% if template == 'article' and link.url == blog.url %} class="current"{% endif %}>{{ link.title }}</a></li>
  {% else %}
    <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}{% if template == 'article' and link.url == blog.url %} class="current"{% endif %}>{{ link.title }}</a>
      <ul class="subcategory">
        {% for link in linklists[link.handle].links %}
        <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}>{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endif %}
{% else %}
  <li><a href="{{ link.url }}"{% if link.url == active_url %} class="current"{% endif %}{% if template == 'article' and link.url == blog.url %} class="current"{% endif %}>{{ link.title }}</a></li>
{% endif %}