{% if shop.customer_accounts_enabled %}
<nav>
  <span class="heading">{{ 'layout.customer.your_account' | t }}</span>
  <ul>
  {% if customer  %}
    <li><a href="/account">{{ 'layout.customer.welcome' | t: name: customer.first_name }}</a></li>
    <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
  {% else %}
    <li>{{ 'layout.customer.log_in' | t | customer_login_link }}</li>
    {% if shop.customer_accounts_optional %}
    <li>{{ 'layout.customer.create_account' | t | customer_register_link }}</li>
    {% endif %}
  {% endif %}
  </ul>
</nav>
{% endif %}
{% if settings.sidebar_linklist_1.title != "" and linklists[settings.sidebar_linklist_1].links.size > 0 %}
<nav>
  <span class="heading">{{ linklists[settings.sidebar_linklist_1].title }}</span>
  <ul>
    {% for link in linklists[settings.sidebar_linklist_1].links %}
      {% include 'sidebar-partial' %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.sidebar_linklist_2.title != "" and linklists[settings.sidebar_linklist_2].links.size > 0 %}
<nav>
  <span class="heading">{{ linklists[settings.sidebar_linklist_2].title }}</span>
  <ul>
    {% for link in linklists[settings.sidebar_linklist_2].links %}
      {% include 'sidebar-partial' %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.sidebar_linklist_3.title != "" and linklists[settings.sidebar_linklist_3].links.size > 0 %}
<nav>
  <span class="heading">{{ linklists[settings.sidebar_linklist_3].title }}</span>
  <ul>
    {% for link in linklists[settings.sidebar_linklist_3].links %}
      {% include 'sidebar-partial' %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.sidebar_linklist_4.title != "" and linklists[settings.sidebar_linklist_4].links.size > 0 %}
<nav>
  <span class="heading">{{ linklists[settings.sidebar_linklist_4].title }}</span>
  <ul>
    {% for link in linklists[settings.sidebar_linklist_4].links %}
      {% include 'sidebar-partial' %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.sidebar_linklist_5.title != "" and linklists[settings.sidebar_linklist_5].links.size > 0 %}
<nav>
  <span class="heading">{{ linklists[settings.sidebar_linklist_5].title }}</span>
  <ul>
    {% for link in linklists[settings.sidebar_linklist_5].links %}
      {% include 'sidebar-partial' %}
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.shop_by_type %}
<nav>
  <span class="heading">{{ 'layout.sidebar.shop_by_type' | t }}</span>
  <ul>
    {% for type in shop.types %}
    <li>{{ type | link_to_type }}</li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.shop_by_vendor %}
<nav>
  <span class="heading">{{ 'layout.sidebar.shop_by_vendor' | t }}</span>
  <ul>
    {% for vendor in shop.vendors %}
    <li>{{ vendor | link_to_vendor }}</li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.show_articles %}
<nav>
  <span class="heading">{{ 'layout.sidebar.recent_articles' | t }}</span>
  <ul>
    {% for article in blogs[settings.sidebar_blog].articles limit:6 %}
    <li><a href="{{ article.url }}"{% if article.url == active_url %} class="current"{% endif %}>{{ article.title }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% if settings.show_about_us %}
<nav>
  <span class="heading">{{ 'layout.sidebar.about_us' | t }}</span>
  <div>
    {{ pages.about-us.content | strip_html | truncatewords: 50 }} <a href="{{ pages.about-us.url }}">{{ 'blogs.article.read_more' | t }}</a>
  </div>
</nav>
{% endif %}