@model CatalogItemSearchModel

<aside class="block">
    <span class="title">@("Currently shop by".Localize()):</span>
    @if (Model.SelectedFilters != null && Model.SelectedFilters.Count > 0)
    {
        <ol class="currently">
            @foreach (var filter in Model.SelectedFilters)
            {
                <li>
                    <span class="label">@filter.Filter.Name.LocalizeHtml():</span>
                    <span class="value">@filter.Facet.Name</span>
                    <a class="remove" title="@("Remove This Item".LocalizeHtml())" href="@Url.RemoveFacet(filter.Filter.Key)">@("Remove This Item".LocalizeHtml())</a>
                </li>
            }
        </ol>
    }
</aside>

