@model CatalogItemSearchModel

<aside class="block">
    <span class="title">@("Shop By".Localize())</span>
    <dl>
        @foreach (var group in Model.FilterGroups)
        {
            <dt>@group.Name.Localize()</dt>
            <dd>
                @if (group.Name.Equals("Color", StringComparison.InvariantCultureIgnoreCase))
                {
                    <ol>

                        <li>
                            <ul>
                                @foreach (var facet in group.Facets)
                                {
                                    <li style="background: @facet.Name;" class="filter-color-box color-box" title="@facet.Name (@facet.Count)">
                                        <a href="@Url.SetFacet(group.Key, facet.Key)"></a>
                                    </li>
                                }
                                <li class="clearfix" style="background: none;"></li>
                            </ul>
                        </li>
                    </ol>
                }
                else
                {
                    <ol>
                        @foreach (var facet in group.Facets)
                        {
                            <li>
                                <a href="@Url.SetFacet(group.Key, facet.Key)">@facet.Name</a>
                                <span>(@facet.Count)</span>
                            </li>
                        }
                    </ol>
                }
            </dd>
        }
    </dl>
</aside>
